---
title: Tour The Skiff
description: Come and find out why 200 people like you choose to escape the isolation of working from home by working together at The Skiff.
image: /images/frontdoor.jpg
layout: "no-nav"
sitemap_priority: 0.8
---


<div class="wrapper">
  <div class="content">

    <div class="d-flex flex-column flex-lg-row
    justify-content-around justify-content-lg-around
    align-items-stretch align-items-lg-center content-cards">
    <div class="card bg-light col-xs-12 col-lg-5 col-xl-4">
      <h1>Tour The Skiff</h1>
      <p>Taking a tour of The Skiff is completely free, and a great way to learn more about how The Skiff can fit into your work day.</p>
      <p>We schedule tours twice every weekday, at 10am and 3pm. If you need a different time, please make a reservation for the closest option and make a note for the time you want to arrive.</p>
      <p>Our tours generally last 20 minutes, and if it’s possible we’d encourage you to stick around for a little while afterwards to do some work or meet people.</p>
      <p>If you’ve never been to The Skiff (or it’s been a while – we moved into a new, massively upgraded location in 2016) we’d love to show you around!</p>
      <!-- Calendly inline widget begin -->
      <div class="calendly-inline-widget" data-url="https://calendly.com/jot/tour-the-skiff?hide_event_type_details=1&text_color=212529&primary_color=dd3377" style="min-width:320px;height:630px;"></div>
      <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
      <!-- Calendly inline widget end -->
      </div>

      <div class="col-xs-12 col-lg-5 col-xl-4">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>

  <section class="full-height">
    <div class="left-half">
      <div id='map'></div>
    </div>
    <div class="right-half">
      <img src="<%= current_page.data.image %>">
    </div>
  </section>
</div>
