---
title: at The Skiff in Brighton
sitemap_priority: 0.5
description: 
image: /images/.jpg

member:
  first_name: 
  last_name: 
  title: 
  subtitle: 
  they: she
  them: her
  their: her
  image: /images/.jpg
  twitter: 
  website: https://.com


---

<% content_for :q_and_a do %>
  <h3>1. How did you get into doing what you do?</h3>

  <p class="lead">

  </p>

  <h3>2. What are you working on this week?</h3>

  <p class="lead">

  </p>

  <h3>3. Who are your favourite clients?</h3>

  <p class="lead">

  </p>

  <h3>4. What kind of work did they hire you to do?</h3>

  <p class="lead">

  </p>


  <h3>5. Why did they choose you over anyone else?</h3>

  <p class="lead">

  </p>

  <h3>6. What advice would you give to someone trying to choose someone like you to work with?</h3>

  <p class="lead">

  </p>

  <h3>7. What do you like to do with your time when you’re not working?</h3>

  <p class="lead">

  </p>

  <h3>8. Why did you decide to join The Skiff?</h3>

  <p class="lead">

  </p> 

  <h3>9. What advice would you give a new Skiff Mate?</h3>


  <p class="lead">

  </p> 

  <h3>10. What would you like a fellow Skiff Mate to ask you about?</h3>

  <p class="lead">

  </p>
<% end %>

<%= partial "members/profile"  %>
