---
title: Members of The Skiff
sitemap_priority: 0.8
---

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5 mx-auto my-5">
      <h1 class="text-center">"The people who call themselves Skiff Mates are what makes The Skiff special."</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
      <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link" href="/people">Your Community</a>
        <a class="nav-item nav-link active" href="/members">Your Skiff Mates</a>
        <a class="nav-item nav-link" href="/captains">Your Captains</a>
        <a class="nav-item nav-link" href="/stewardship">Stewardship</a>
      </nav>
      <h2 class="my-3">Meet the people you could be working with</h2>

    </div>
  </div>
  <div class="row">


    <div class="col-lg-4">
    <div class="card mb-3">
      <img class="card-img-top" src="/images/megan-sayers.jpg" alt="Megan Sayers">
      <div class="card-body">
        <h4 class="card-title">Megan Sayers</h4>
        <p class="card-text">
         A designer and illustrator who helps tech, software as service (SaaS) and product businesses to delight their users. Megan creates design and illustration systems that enable her clients to reuse the libraries of components she provides as their products scale.
        </p>
        <blockquote class="blockquote">
        <p class="card-text">
        "People at The Skiff want to hear about your freelance problems and help you to solve them. And they care if you get ill!"
        </p>
        </blockquote>
        <a href="/members/megan-sayers" class="btn btn-primary btn-block">Learn more about Megan</a>
      </div>
    </div>
    </div>

    <div class="col-lg-4">
    <div class="card mb-3">
      <img class="card-img-top" src="/images/zoe-gray.jpg" alt="Zoë Gray">
      <div class="card-body">
        <h4 class="card-title">Zoë Gray</h4>
        <p class="card-text">
          A skilled advocacy and development professional with expertise in human rights. Zoë is currently working in international health and disability inclusion.
        </p>
        <blockquote class="blockquote">
        <p class="card-text">
        "I am a big fan of the quirky friendly atmosphere at The Skiff, and I get so much done"
        </p>
        </blockquote>
        <a href="/members/zoe-gray" class="btn btn-primary btn-block">Learn more about Zoë</a>
      </div>
    </div>
    </div>
    
    <div class="col-lg-4">
    <div class="card mb-3">
      <img class="card-img-top" src="/images/thomas-buck.jpg" alt="Thomas Buck">
      <div class="card-body">
        <h4 class="card-title">Thomas Buck</h4>
        <p class="card-text">
          A internet marketer who helps consumer facing businesses find novel ways of reaching their target markets. Tom’s background is in web development, he has the technical skill and experience to build specialist tools to support the marketing campaigns he devises.
        </p>
        <blockquote class="blockquote">
        <p class="card-text">
        "I was dismayed that I couldn't find any serviced offices or a coworking space in Haywards Heath."
        </p>
        </blockquote>
        <a href="/members/thomas-buck" class="btn btn-primary btn-block">Learn more about Thomas</a>
      </div>
    </div>
    </div>

    <div class="col-lg-4">
    <div class="card mb-3">
      <img class="card-img-top" src="/images/cath-lloyd.jpg" alt="Cath Lloyd">
      <div class="card-body">
        <h4 class="card-title">Cath Lloyd</h4>
        <p class="card-text">
          An animator who helps TV and film producers to create broadcast and cinema quality animations. Cath has 20 years experience working with some of the most respected businesses in the entertainment industry including the BBC and Warner Bros.
        </p>
        <blockquote class="blockquote">
        <p class="card-text">
        "I was working from home, and sometimes upstairs all day in the Jubilee library."
        </p>
        </blockquote>
        <a href="/members/cath-lloyd" class="btn btn-primary btn-block">Learn more about Cath</a>
      </div>
    </div>
    </div>


    <div class="col-lg-4">
    <div class="card mb-3">
      <img class="card-img-top" src="/images/matt-oakes.jpg" alt="Matt Oakes">
      <div class="card-body">
        <h4 class="card-title">Matt Oakes</h4>
        <p class="card-text">
          A mobile app development consultant who works with companies to improve their mobile presence on both Android & iOS. Matt creates apps which users love by putting their needs at the centre of his work while being guided by your business's goals.
        </p>
        <blockquote class="blockquote">
        <p class="card-text">
        "I was going slightly crazy from not talking to people all week. I joined The Skiff because of the brilliant community."
        </p>
        </blockquote>
        <a href="/members/matt-oakes" class="btn btn-primary btn-block">Learn more about Matt</a>
      </div>
    </div>
    </div>

    <div class="col-lg-4">
    <div class="card mb-3">
      <img class="card-img-top" src="/images/lizzie-davey.jpg" alt="Lizzie Davey">
      <div class="card-body">
        <h4 class="card-title">Lizzie Davey</h4>
        <p class="card-text">
          A writer who helps app startups and software as a service businesses build their authority and increase conversions with data-driven, long-form content. Lizzie's worked with over 100 brands, helping them create successful content strategies, blog posts, and email marketing campaigns.
        </p>
        <blockquote class="blockquote">
        <p class="card-text">
        "I decided the Skiff’s laidback atmosphere and vibrant social scene was exactly what I needed."
        </p>
        </blockquote>
        <a href="/members/lizzie-davey" class="btn btn-primary btn-block">Learn more about Lizzie</a>
      </div>
    </div>
    </div>
    <div class="col-lg-4">
    <div class="card mb-3">
      <img class="card-img-top" src="/images/ellen-cubbin.jpg" alt="Ellen Cubbin">
      <div class="card-body">
        <h4 class="card-title">Ellen Cubbin</h4>
        <p class="card-text">
          A Laravel programmer who helps other programmers spend more time with their clients. Ellen's academic background in physics and music bring a balance of logic and creativity that you can depend on.
        </p>
        <blockquote class="blockquote">
        <p class="card-text">
        "I had a meeting in the Skiff and liked it so much that I joined immediately"
        </p>
        </blockquote>
        <a href="/members/ellen-cubbin" class="btn btn-primary btn-block">Learn more about Ellen</a>
      </div>
    </div>
    </div>
    <div class="col-lg-4">
    <div class="card mb-3">
      <img class="card-img-top" src="/images/caroline-beavon.jpg" alt="Caroline Beavon">
      <div class="card-body">
        <h4 class="card-title">Caroline Beavon</h4>
        <p class="card-text">An infographic designer who helps organisations to make their information and data easier to digest. Caroline applies her background in journalism to create graphics that tell compelling stories.</p>
        <blockquote class="blockquote">
        <p class="card-text">
          "I joined the Skiff as soon as I moved to Brighton from Birmingham."
        </p>
        </blockquote>
        <a href="/members/caroline-beavon" class="btn btn-primary btn-block">Learn more about Caroline</a>
      </div>
    </div>
    </div>
    <div class="col-lg-4">
    <div class="card mb-3">
      <img class="card-img-top" src="/images/dan-young.jpg" alt="Dan Young">
      <div class="card-body">
        <h4 class="card-title">Dan Young</h4>
        <p class="card-text">A market researcher who helps the owners of energy and finance businesses to find new insights in their existing research and data. Dan applies over 17 years experience to cut straight to the commercially critical answers his clients need.</p>
        <blockquote class="blockquote">
        <p class="card-text">
        "Office parties, the jokes over the coffee machine, and just being around productive people. That’s what first attracted me to the Skiff."
        </p>
        </blockquote>
        <a href="/members/dan-young" class="btn btn-primary btn-block">Learn more about Dan</a>
      </div>
    </div>
    </div>
    <div class="col-lg-4">
    <div class="card mb-3">
      <img class="card-img-top" src="/images/izzy-crouch.jpg" alt="Izzy Crouch">
      <div class="card-body">
        <h4 class="card-title">Izzy Crouch</h4>
        <p class="card-text">
          A digital marketer who helps market-leading local businesses to acquire more customers via online channels. Izzy won’t work with businesses that that are unlikely to get a measurable return from an investment in online marketing.
        </p>
        <blockquote class="blockquote">
        <p class="card-text">
        "I joined The Skiff when I relocated back to Sussex from Swansea."
        </p>
        </blockquote>
        <a href="/members/izzy-crouch" class="btn btn-primary btn-block">Learn more about Izzy</a>
      </div>
    </div>
    </div>
  <div class="col-lg-4">
    <div class="card mb-3">
      <img class="card-img-top" src="/images/andy-mattock.jpg" alt="Andy Mattock">
      <div class="card-body">
        <h4 class="card-title">Andy Mattock</h4>
        <p class="card-text">An experienced graphic and web designer who combines creativity with technical know-how. Recent projects have included content-managed websites, brand identities, promotional and fundraising materials. Clients have ranged from start-ups and SMOs in Brighton to national charities and organisations.</p>
        <blockquote class="blockquote">
        <p class="card-text">
          "The Skiff seems unique in offering a more inclusive and collaborative experience."
        </p>
        </blockquote>
        <a href="/members/andy-mattock" class="btn btn-primary btn-block">Learn more about Andy</a>
      </div>
    </div>
    </div>


    <div class="col-lg-4">
    <div class="card mb-3">
      <img class="card-img-top" src="/images/you.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">You</h4>
        <p class="card-text">
          An individual who loves working in Brighton but needs a break from noisy, uncomfortable coffeeshops and the isolation of working from home. You want to do your best work and know you need the right people around you to do it.
        </p>
        <blockquote class="blockquote">
        <p class="card-text">
        "I wish it haddn't taken me so long to change my home working habit."
        </p>
        </blockquote>
        <a href="/joint" class="btn btn-success btn-block text-white">Join The Skiff today</a>
      </div>
    </div>
    </div>
</div>
  <div class="row">
    <h3 class="my-3">200 more Skiff Mate profiles still to come...</h2>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto my-5">
      <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link" href="/people">Your Community</a>
        <a class="nav-item nav-link active" href="/members">Your Skiff Mates</a>
        <a class="nav-item nav-link" href="/captains">Your Captains</a>
        <a class="nav-item nav-link" href="/stewardship">Stewardship</a>
      </nav>
    </div>
  </div>
</div>
