---
title: The Skiff
sitemap_priority: 0.8
---

<div class='container text-center'>
  <div class='row my-5'>
    <div class='col-md-12'>
      <h1 class=''>It’s lonely working from home alone every day.<br /> It's time to start working somewhere else.</h1>
      <p>Memberships fees provide all the income The Skiff needs to operatate sustainably. We've been doing it for over a decade.<br /> This allows us to always put the needs of individual members like you first.</p>
      <div class="alert alert-danger text-left rounded-0 mb-0" role="alert"> 
        <h3 class="text-center">August 2021 Promotion</h3>  
        <p class="text-center">Sign up before the 1st of September and we'll waive the usual one month deposit requirement.</p> 
      </div>
 
    </div>
  </div>
  <div class='card-group'>
<!--     <div class='card mb-1'>
      <div class='card-header'>
        <h6 class=''>1st Mate</h6>
        <p>Best for Solo Business Owners.</p>
        <h2>
          £225
        </h2>
        <p>per month plus VAT</p>
        <p class="alert alert-warning">3 remaining</p>
      </div>
      <ul class='list-group list-group-flush'>
        <li class='list-group-item'>
           Make The Skiff <strong>the home</strong> for your work.<br /><br />
        </li>
        <li class='list-group-item'>
          <strong>Unlimited coworking</strong> between 8am and 6pm Monday to Friday.
        </li>
      </ul>
      <div class='card-body'>
        <strong>3 guest passes</strong> per month. Invite three friends or colleagues to work with you at The Skiff for a day each month.
      </div>
      <div class="card-footer">
        <a class='btn btn-success btn-block text-white' href="/join/1stmate/">
          Subscribe
        </a>
        <p class="mb-0"><small>(Some Skiffmates rarely work elsewhere)</small></p>
      </div>
    </div> -->
    <div class='card mb-1'>
      <div class='card-header'>
        <h6 class=''>2nd Mate</h6>
        <p>Great for Remote Workers.</p>
        <h2>
          £150
        </h2>
        <p>per month plus VAT</p>
<!--         <p class="alert alert-warning">X remaining</p> -->
      </div>
      <ul class='list-group list-group-flush'>
        <li class='list-group-item'>
          Make The Skiff <strong>a regular home</strong> for your work.<br /><br />
        </li>
      </ul>
      <div class='card-body'>
        <strong>12 days</strong> coworking per month between 7am and 8pm Monday to Friday.
      </div>
      <div class="card-footer">
        <a class='btn btn-success btn-block text-white' href='https://buy.stripe.com/eVa4iq2q7eyy7NC7su'>
          Subscribe
        </a>
        <p class="mb-0"><small>(Some Skiffmates struggle with working from home)</small></p>
      </div>
    </div>
    <div class='card mb-1'>
      <div class='card-header'>
        <h6 class=''>3rd Mate</h6>
        <p>Perfect for part-time Freelancers.</p>
        <h2>
          £100
        </h2>
        <p>per month plus VAT</p>
<!--         <p class="alert alert-warning">X remaining</p> -->
      </div>
      <ul class='list-group list-group-flush'>
        <li class='list-group-item'>
          Make The Skiff <strong>an occasional home</strong> for your work.
        </li>
      </ul>
      <div class='card-body'>
        <strong>6 days</strong> coworking per month between 7am and 8pm Monday to Friday.
      </div> 
      <div class="card-footer">
        <a class='btn btn-success btn-block text-white' href='https://buy.stripe.com/5kA2aiggX1LM4BqcMP'>
          Subscribe
        </a>
        <p class="mb-0"><small>(Most Skiffmates settle at this level)</small></p>
      </div>
    </div>
    <div class='card mb-1'>
      <div class='card-header'>
        <h6 class=''>Starting Mate</h6>
        <p>Start escaping your home.</p>
        <h2>
          £50
        </h2>
        <p>per month plus VAT</p>
<!--         <p class="alert alert-warning">X remaining</p> -->
      </div>
      <ul class='list-group list-group-flush'>
        <li class='list-group-item'>
          Make The Skiff <strong>a monthly escape</strong> for your work.<br /><br />
        </li>
      </ul>
      <div class='card-body'>
          <strong>2 days</strong> coworking per month between 7am and 8pm Monday to Friday.
      </div> 
      <div class="card-footer">
        <a class='btn btn-secondary btn-block text-white' href='https://buy.stripe.com/bIY16e5Cj3TU8RG7ss'>
          Subscribe
        </a>
        <p class="mb-0"><small>(Most Skiffmates start with this)</small></p>
      </div>
    </div>
  </div>

  <div class='row my-2'>
    <div class='col-md-12'>
      <p>All prices exclude VAT. And a deposit equal to the membership level is required.</p>
      <p>All Skiffmates (members) must read and agree to our <a href="/membership-agreement/" target="_blank">Membership Agreement</a> and <a href="/code-of-conduct/" target="_blank">Code of Conduct</a>.</p>
      <p>Need 24x7 access, mailing address, storage, dedicated desk and more? <a href="/upgrade">See upgrade options</a></p>
      <p>There is no minimum commitment. You can upgrade, downgrade or cancel with 1 month's notice. We do not offer refunds so please make sure you make changes to your account in plenty of time.</p>
    </div>
    <div class="card bg-info mb-3">
      <div class="card-body">
        <blockquote class="blockquote text-center mb-0">
          <p class="mb-0">"Within my first month I won freelance contracts through introductions from other 'Skiffmates' that more than covered the cost of my first year's membership."</p>
          <div class="text-muted mx-auto text-left d-flex justify-content-center mt-2">
            <img class="rounded-circle float-left mr-2" src="/images/margaret-ousby.jpg" alt="Margaret Ousby" height="66">
            <p class="mb-0">
              Margaret Ousby
              <br>
              <small>Skiffmate since January 2017</small>
            </p>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
  <div class='row my-2'>
    <div class="card bg-info mb-3">
      <div class="card-body">
        <blockquote class="blockquote text-center mb-0">
          <p class="mb-0">"It's got everything you need - lovely community of people, blazing internet connection, and different areas to work from from busy and buzzy to very quiet."</p>
          <div class="text-muted mx-auto text-left d-flex justify-content-center mt-2">
            <img class="rounded-circle float-left mr-2" src="/images/paul-silver.jpg" alt="Paul Silver" height="66">
            <p class="mb-0">
              Paul Silver
              <br>
              <small>Skiffmate since August 2009</small>
            </p>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
</div>
