---
title: The Skiff
sitemap_priority: 0.8
---

<div class='container text-center'>
  <div class='row my-5'>
    <div class='col-md-12'>
      <h1 class=''>One day a week Coworking at The Skiff could make you £500 per month better off.</h1>
      <p>If you increase your productivity like other Skiff Mates have reported, maybe you could take an extra day off work each month? More time for exploring the Downs and sunning yourself on the beach.</p>
<!--       <div class="alert alert-danger text-left rounded-0 mb-0" role="alert"> 
        <h3 class="text-center">2018 Spring Membership Promotion</h3>  
        <p>Sign up as a 3rd Mate, 2nd Mate or Chief Mate before the 1st of June and you'll enjoy the following additional benefits worth over £40:</p> 
        <ul> 
          <li><strong>Lunch on The Skiff.</strong> Get to know some of your fellow Skiff Mates over a two course meal at a local independent resturant. <small>Usual cost: £15+VAT.</small></li> 
          <li><strong>A professional profile photo.</strong> We'll organise a session in February with a professional photographer so you can get a great profile photo for free. <small>Usual cost: £25+VAT.</small></li> 
        </ul>  
      </div> -->
    </div>
  </div>
  <div class='card-group'>
    <div class='card mb-5'>
      <div class='card-header'>
        <h6 class=''>Chief Mate</h6>
        <h2>
          £219
        </h2>
        <p>per month plus VAT</p>
        <p class="alert alert-warning">9 remaining</p>
      </div>
      <ul class='list-group list-group-flush'>
        <li class='list-group-item'>
           Make The Skiff <strong>the home</strong> for your work.
        </li>
        <li class='list-group-item'>
          You want The Skiff to be available to you <strong>whenever you need it</strong>.<br /><br />
        </li>
        <li class='list-group-item'>
          You can ask other Chief Mates to recommend you for <strong>24x7 access</strong>.<br /><br />
        </li>
        <li class='list-group-item'>
          <strong>2 hours per week</strong> inclusive meeting room use
        </li>
        <li class='list-group-item'>
          Priority bike parking
        </li>
      </ul>
      <div class='card-body'>
        Secure storage space
      </div>
      <div class="card-footer">
        <a class='btn btn-success btn-block text-white' href="/join/chiefmate/">
          Subscribe
        </a>
        <p><small>(Some of The Skiff's most supportive Skiff Mates upgrade to this)</small></p>
        
      </div>
    </div>
    <div class='card mb-5'>
      <div class='card-header'>
        <h6 class=''>2nd Mate</h6>
        <h2>
          £119
        </h2>
        <p>per month plus VAT</p>
        <p class="alert alert-warning">6 remaining</p>
      </div>
      <ul class='list-group list-group-flush'>
        <li class='list-group-item'>
          Make The Skiff <strong>a regular home</strong> for your work.
        </li>
        <li class='list-group-item'>
          You want The Skiff to be available to you <strong>2 to 3 times per week</strong>.<br /><br />
        </li>
        <li class='list-group-item'>
          You can use The Skiff whenever a Chief Mate is present and always <strong>8am to 6pm</strong> week days.
        </li>
        <li class='list-group-item'>
          <strong>2 hours per month</strong>
          inclusive meeting room use
        </li>
        <li class='list-group-item'>
          Bike parking
        </li>
      </ul>
      <div class='card-body'>
      </div>
      <div class="card-footer">
        <a class='btn btn-success btn-block text-white' href='/join/2ndmate/'>
          Subscribe
        </a>
        <p><small>(Most Skiff Mates settle at this level)<br /><br /></small></p>
      </div>
    </div>
    <div class='card mb-5'>
      <div class='card-header'>
        <h6 class=''>3rd Mate</h6>
        <h2>
          £59
        </h2>
        <p>per month plus VAT</p>
        <p class="alert alert-warning">15 remaining</p>
      </div>
      <ul class='list-group list-group-flush'>
        <li class='list-group-item'>
          Make The Skiff <strong>an occasional home</strong> for your work.
        </li>
        <li class='list-group-item'>
          You want The Skiff to be available to you <strong>one day a week</strong> or one week a month.
        </li>
        <li class='list-group-item'>
          You can use The Skiff <strong>8am to 6pm</strong> week days and whenever a Chief Mate is present.
        </li>
        <li class='list-group-item'>
          <strong>1 hour per month</strong> inclusive meeting room use
        </li>
      </ul>
      <div class='card-body'>
      </div>
      <div class="card-footer">
        <a class='btn btn-success btn-block text-white' href='/join/3rdmate/'>
          Subscribe
        </a>
        <p><small>(Most Skiff Mates start with this)<br /><br /></small></p>
      </div>
    </div>
  </div>
  <div class='row my-2'>
    <div class='col-md-12'>
      <p>All prices exclude VAT. And a deposit equal to the membership level is required.</p>

      <p>There is no minimum commitment. You can upgrade, downgrade or cancel with 1 month's notice. We do not offer refunds so please make sure you make changes to your account in plenty of time.</p>
    </div>
    <div class="card bg-info mb-3">
      <div class="card-body">
        <blockquote class="blockquote text-center mb-0">
          <p class="mb-0">"Within my first month I won freelance contracts through introductions from other 'Skiff Mates' that more than covered the cost of my first year's membership."</p>
          <div class="text-muted mx-auto text-left d-flex justify-content-center mt-2">
            <img class="rounded-circle float-left mr-2" src="/images/margaret-ousby.jpg" alt="Margaret Ousby" height="66">
            <p class="mb-0">
              Margaret Ousby
              <br>
              <small>Skiff Mate since January 2017</small>
            </p>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
  <div class='card-group'>
    <div class='card my-5'>
      <div class='card-header'>
        <h6 class=''>Community Mate</h6>
        <h2>
          £12.50
        </h2>
        <p>per month plus VAT</p>
        <p class="alert alert-warning">30 remaining</p>
      </div>
      <ul class='list-group list-group-flush'>
        <li class='list-group-item'>
           Make The Skiff an important part of <strong>your community</strong>.
        </li>
        <li class='list-group-item'>
          You want to support The Skiff. But <strong>you rarely need to work here</strong>.<br /><br />
        </li>
        <li class='list-group-item'>
          Use The Skiff 9am to 5pm on a week day for £12.50+VAT per day. <%= link_to "Buy now", "/day" %> (members only)<br /><br />
        </li>
      </ul>
      <div class='card-body'>
        You can participate in community activities <strong>online</strong> and get invitations to <strong>special occasions</strong>.
      </div>
      <div class="card-footer">
        <a class='btn btn-success btn-block text-white' href="/join/communitymate/">
          Subscribe
        </a>
        <p>(Skiff Mates usually switch to this if their circumstances change)</p>
      </div>
    </div>
    <div class='card my-5'>
      <div class='card-header'>
        <h6 class=''>Dedicated Chief Mate</h6>
        <h2>
          £329
        </h2>
        <p>per month plus VAT</p>
        <p class="alert alert-warning">1 remaining</p>
      </div>
      <ul class='list-group list-group-flush'>
        <li class='list-group-item'>
          Make The Skiff <strong>the home</strong> for your work and your equipment.
        </li>
        <li class='list-group-item'>
          You want a <strong>dedicated space</strong> at The Skiff that you can work at <strong>whenever you need to</strong>.
        </li>
        <li class='list-group-item'>
          You can leave things on your desk, under your desk and on the wall next to your desk.<br />
        </li>
      </ul>
      <div class='card-body'>
        All the benefits of <strong>Chief Mate</strong> membership.
      </div>
      <div class="card-footer">
        <a class='btn btn-success btn-block text-white' href='/join/dedicatedchiefmate/'>
          Subscribe
        </a>
        <p>(A limited number of Skiff Mates upgrade to this)</p>
        
      </div>
    </div>
  </div>

  <div class='row my-2'>
    <div class="card bg-info mb-3">
      <div class="card-body">
        <blockquote class="blockquote text-center mb-0">
          <p class="mb-0">"It's got everything you need - lovely community of people, blazing internet connection, and different areas to work from from busy and buzzy to very quiet."</p>
          <div class="text-muted mx-auto text-left d-flex justify-content-center mt-2">
            <img class="rounded-circle float-left mr-2" src="/images/paul-silver.jpg" alt="Paul Silver" height="66">
            <p class="mb-0">
              Paul Silver
              <br>
              <small>Skiff Mate since August 2009</small>
            </p>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
</div>
