---
title: The Skiff
sitemap_priority: 0.8
---

<div class='container text-center'>
  <div class='row my-5'>
    <div class='col-md-12'>
      <h1 class=''>It’s lonely working from home alone every day.<br /> It's time to start working somewhere else.</h1>
      <p>Memberships fees provide all the income The Skiff needs to operatate sustainably. We've been doing it for over a decade.<br /> This allows us to always put the needs of individual members like you first.</p>
<!--       <div class="alert alert-danger text-left rounded-0 mb-0" role="alert"> 
        <h3 class="text-center">September 2021 Promotion</h3>  
        <p class="text-left">Sign up or upgrade before the 1st of October for:</p>
        <ul>
          <li>Your first week free - cancel within 7 days and we won't charge your card.</li>
          <li>£25/month off 1st &amp; 2nd Mate plans - save £150+VAT over the next 6 months.</li>
          <li>£50/month Starting Mate plan - this will be by application and limited to people from under-represented groups from 1st October.</li>
        </ul>
      </div> -->
 
    </div>
  </div>
  <div class='card-group'>
    <div class='card mb-1'>
      <div class='card-header'>
        <h6 class=''>1st Mate</h6>
        <p>Best for Solo Business Owners.</p>
        <h2>
          £250
        </h2>
        <p>per month plus VAT</p>
        <p class="alert alert-warning">2 remaining</p>
      </div>
      <ul class='list-group list-group-flush'>
        <li class='list-group-item'>
           Make The Skiff <strong>the home</strong> for your work.
        </li>
        <li class='list-group-item'>
          <strong>Unlimited coworking</strong><br />with 24x7 access.
        </li>
        <li class='list-group-item'>
          Booking not required - just turn up.
        </li>
      </ul>
      <div class='card-body'>
        Extra large locker to store your own high-end monitor(s) and kit.
      </div>
      <div class="card-footer">
        <a class='btn btn-success btn-block text-white' href="https://buy.stripe.com/9AQ6qy8Ov4XY3xm28j">
          Subscribe
        </a>
        <p class="mb-0"><small>(Some Skiffmates rarely work elsewhere)</small></p>
      </div>
    </div>
    <div class='card mb-1'>
      <div class='card-header'>
        <h6 class=''>2nd Mate</h6>
        <p>Great for Remote Workers.</p>
        <h2>
          £175
        </h2>
        <p>per month plus VAT</p>
        <p class="alert alert-warning">4 remaining</p>
      </div>
      <ul class='list-group list-group-flush'>
        <li class='list-group-item'>
          Make The Skiff <strong>a regular home</strong> for your work.
        </li>
        <li class='list-group-item'>
          <strong>6 to 12 days</strong> coworking per month with 24x7 access.
        </li>
        <li class='list-group-item'>
          Book your visit any time.
        </li>
      </ul>

      <div class='card-body'>
        Standard (yellow) locker to store your own keyboard, mouse and kit.
      </div>
      <div class="card-footer">
        <a class='btn btn-success btn-block text-white' href='https://buy.stripe.com/7sI9CKc0H9ee8RG5kt'>
          Subscribe
        </a>
        <p class="mb-0"><small>(Some Skiffmates need more time)</small></p>
      </div>
    </div>
    <div class='card mb-1'>
      <div class='card-header'>
        <h6 class=''>3rd Mate</h6>
        <p>Perfect for part-time Freelancers.</p>
        <h2>
          £100
        </h2>
        <p>per month plus VAT</p>
        <p class="alert alert-warning">6 remaining</p>
      </div>
      <ul class='list-group list-group-flush'>
        <li class='list-group-item'>
          Use The Skiff <strong>once a week</strong> for your work.
        </li>
        <li class='list-group-item'>
          <strong>3 to 6 days</strong> coworking per month with 24x7 access.
        </li>
        <li class='list-group-item'>
          Book your visit any time.
        </li>
      </ul>
      <div class='card-body'>
        Extra days £30+VAT
      </div> 
      <div class="card-footer">
        <a class='btn btn-success btn-block text-white' href='https://buy.stripe.com/00g8yGc0H0HI4Bq8wG'>
          Subscribe
        </a>
        <p class="mb-0"><small>(Most Skiffmates settle at this level)</small></p>
      </div>
    </div>
  </div>

  <div class='row my-2'>
    <div class='col-md-12'>
      <p><strong>Is the cost a barrier for you?</strong> <a href="/sponsored-membership">Apply for three months of free or reduced membership.</a></p>

      <p><strong>Work comfortably all day long:</strong> All Skiffmates are guaranteed business grade WiFi, a large desk, an ergonomic chair, a laptop stand, a Full HD monitor to plug in to and unlimited tea & coffee.</p>
      <p><strong>Coworkers who talk to each other:</strong> With fewer than 150 members The Skiff can be the place... where everybody knows your name. Limited to 30 people per day it never feels crowded so... they're always glad you came.</p>
      <p>All prices exclude VAT. And a deposit equal to the membership level is required.</p>
      <p>All Skiffmates (members) must read and agree to our <a href="/membership-agreement/" target="_blank">Membership Agreement</a> and <a href="/code-of-conduct/" target="_blank">Code of Conduct</a>.</p>
      <p>There is no minimum commitment. You can upgrade, downgrade or cancel with 1 month's notice. We do not offer refunds so please make sure you make changes to your account in plenty of time.</p>
    </div>
    <div class="card bg-info mb-3">
      <div class="card-body">
        <blockquote class="blockquote text-center mb-0">
          <p class="mb-0">"Within my first month I won freelance contracts through introductions from other 'Skiffmates' that more than covered the cost of my first year's membership."</p>
          <div class="text-muted mx-auto text-left d-flex justify-content-center mt-2">
            <img class="rounded-circle float-left mr-2" src="/images/margaret-ousby.jpg" alt="Margaret Ousby" height="66">
            <p class="mb-0">
              Margaret Ousby
              <br>
              <small>Skiffmate since January 2017</small>
            </p>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
  <div class='row my-2'>
    <div class="card bg-info mb-3">
      <div class="card-body">
        <blockquote class="blockquote text-center mb-0">
          <p class="mb-0">"It's got everything you need - lovely community of people, blazing internet connection, and different areas to work from from busy and buzzy to very quiet."</p>
          <div class="text-muted mx-auto text-left d-flex justify-content-center mt-2">
            <img class="rounded-circle float-left mr-2" src="/images/paul-silver.jpg" alt="Paul Silver" height="66">
            <p class="mb-0">
              Paul Silver
              <br>
              <small>Skiffmate since August 2009</small>
            </p>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
</div>
