---
title: Matt Oakes at The Skiff in Brighton
sitemap_priority: 0.5
description: 
image: /images/.jpg

member:
  first_name: Matt
  last_name: Oakes
  title: A mobile app development consultant who works with companies to improve their mobile presence on both Android & iOS.
  subtitle: Matt creates apps which users love by putting their needs at the centre of his work while being guided by your business's goals.
  they: he
  them: him
  their: his
  image: /images/matt-oakes.jpg
  twitter: _mattoakes
  website: https://mattoakes.net/


---

<% content_for :q_and_a do %>
  <h3>1. How did you get into doing what you do?</h3>

  <p class="lead">
    I started work at a local Brighton agency as an Android developer in 2011. As typically happens at small agencies, I was quickly asked to expand my skill set to iOS and backend API development. After being there for 5 years and having gained experience in project management, I decided to go it alone and start freelancing for local tech startups.
  </p>

  <h3>2. What are you working on this week?</h3>

  <p class="lead">
    This week I have a gap between projects so I am working on a side project and improving the tools I use to make great quality client apps quickly (<a href="https://github.com/matt-oakes/react-native-boilerplate">https://github.com/matt-oakes/react-native-boilerplate</a>). This month I have worked on small small bits of work for a local accountancy with their own expense tracking software and a startup who is providing gift cards which work in groups of local independent shops.
  </p>

  <h3>3. Who are your favourite clients?</h3>

  <p class="lead">
    I am lucky enough to enjoy working with all of my clients. They are typically Brighton and Sussex based startups who are really passionate about their ideas. I have a bit of a soft spot for working with REFSIX who are using smartwatches to change how football referees log match events and file their match reports. They are a very passionate group with a great idea! 
  </p>

  <h3>4. What kind of work did they hire you to do?</h3>

  <p class="lead">
    They hired me initially to make some small changes to their Android Watch app, but once that was done I had the oppotunity to build their Apple Watch app from scratch. It was built in Swift and was fun (and sometimes frustrating) experience to be using the then brand new Apple Watch SDK. I really enjoy learning new things and using them to build great user experiences.
  </p>


  <h3>5. Why did they choose you over anyone else?</h3>

  <p class="lead">
    As with the majority of my projects so far, it was through a presonal referal that we first started talking. If I remember correctly, we finalised the project when we bumped into each other in the pub after a local tech event. The community in Brighton has been the best source of projects so far, which is great as I love being able to work directly with locals.
  </p>


  <h3>6. What advice would you give to someone trying to choose someone like you to work with?</h3>

  <p class="lead">
    A good mobile app developer needs to think about more than just the code of the app. They would need to be well versed in good design and user experience to create an app which users love to use. Saying that, they should also be producing good quality, well tested code.
  </p>

  <h3>7. What do you like to do with your time when you’re not working?</h3>

  <p class="lead">
    I love to go out for walks in the countryside or along Brighton seafront. Having The South Downs so close is yet another brilliant part of living in Brighton. If the weather isn’t good enough to head outside then I love reading or playing games.
  </p>

  <h3>8. Why did you decide to join The Skiff?</h3>

  <p class="lead">
    I worked from home for 8 months before joining The Skiff. It was working ok, but I was starting to feel that I was going slightly crazy from not talking to people all week. I joined The Skiff because of the brilliant community. It’s great to be working in the same space as other freelancers, business owners, and remote workers where you can be inspired by their experiences.
  </p> 

  <h3>9. What advice would you give a new Skiffmate?</h3>


  <p class="lead">
    You get out of The Skiff what you put into it. If you turn up, pick a desk, and put your headphones on you will have a good lace to work, but not much else. Once I started going along to the weekly Show & Tell and bi-weekly Skiff Drinks and talked to the other members I really started to get more and more value out of being at The Skiff. I’ve also worked with quite a few other Skiffmates and exchanged leads with a few others.
  </p> 

  <h3>10. What would you like a fellow Skiffmate to ask you about?</h3>

  <p class="lead">
    This is by far the hardest question! I could certainly talk for hours about most things geeky, but I also love to hear about what other people are interested in and how they go where they are.
  </p>
<% end %>

<%= partial "members/profile"  %>