---
title: Simon Popple at The Skiff in Brighton
sitemap_priority: 0.5
description: A financial advisor who specialises in analysing gold and silver mining companies.
image: /images/simon-popple.jpg

member:
  first_name: Simon
  last_name: Popple
  title: A financial advisor who specialises in analysing gold and silver mining companies.
  subtitle: Simon is the managing editor of Gold Speculator a weekly newsletter that's become the trusted source of recommendations for people trading shares in gold and silver companies.
  they: he
  them: him
  their: his
  image: /images/simon-popple.jpg
  twitter: 
  website: http://www.brookvillecapital.com/


---

<% content_for :q_and_a do %>
  <h3>1. How did you get into providing financial advice?</h3>

  <p class="lead">
    After working in corporate finance for about 10 years in the City I wanted to specialise in a particular sector. I initially chose real estate where I was a Director of Topland, but felt that the real estate market was heading towards “bubble” territory, so went off in search of another sector.
  </p>
  <p class="lead">
    Gold seemed to be an unloved asset class, so about 15 years ago I decided to focus on that. Initially this was just through personal investments, but I was then asked to write a newsletter for Moneyweek called Metals and Miners. When Money was being sold by Agora Financial I was asked to jump ship and write a new Newsletter called Gold Speculator, which I’ve now been writing for about 18 months. This is a paid for subscription newsletter that recommends gold and silver companies (both explorers and producers)
  </p>

  <h3>2. What are you providing financial advice on this week?</h3>

  <p class="lead">
    Each week I write a new edition, broadly speaking I provide one new recommendation a month and in the other three issues I provide updates on previous recommendations. So if anything has happened I try to let people know as soon as possible.
  </p>

  <h3>3. Who are your favourite clients?</h3>

  <p class="lead">
    Anyone who subscribes is great! But I’m also trying to broaden my readership, so I do interviews with people like IG Index and I’d always be interested in writing something for a national publication. I’m really trying to get my name out there as somebody who knows about gold and silver – in particular the Miners.
  </p>
  <p class="lead">
    As I’m sure you’re aware, the gold and silver sectors are very cyclical and right now (December 2017) they are a long way off their highs. But they are very risky investments. This can be great when things take off as the returns can be 10X and sometimes even greater multiples of your capital. But it can take a very long time for this to happen, so I’m only really looking to work with people who have a long time horizon as well as money they may not need to touch for several years.
  </p>
  <p class="lead">
    Given most of the stocks I recommend can be held in an ISA or SIPP, there is also potential for tax free gains which is obviously attractive for any tax payer.
  </p>

  <h3>4. What kind of financial advice did they hire you to do?</h3>

  <p class="lead">
    People buy the newsletter to get in depth recommendations on gold and silver mining stocks. Ideally ones they won’t have already heard of. This involves a lot of research on my part, typically talking to equity analysts,  mining companies as well as other people working in the sector such as investment bankers.
  </p>
  <p class="lead">
    Most of it is word of mouth as the “technologies”  for researching the sector aren’t great and people are really looking for a more personal insight.
  </p>


  <h3>5. Why did they choose you to help them with their financial advice over anyone else?</h3>

  <p class="lead">
    As I provide a truly independent view on a company, I’d only recommend someone if I genuinely like them. I’m also only rewarded on my readership, so if I make bad recommendations, I lose readers. It’s also worth pointing out that as I’m not working towards an annual bonus, or something similar, I’m able to take a longer term view on stocks. Although I’m generally looking for an improvement in the share price over 12 – 18 months, it can take longer and my readers seem to understand that.
  </p>
  <p class="lead">
    I was fortunate that some of my recommendations in Metals and Miners improved several hundred percent, so when that closed down a large proportion of those subscribers came over to Gold Speculator.
  </p>


  <h3>6. What advice would you give to someone trying to choose a financial advisor to work with? </h3>

  <p class="lead">
    You must be very careful! Although they now have to be more upfront about what commissions they are being paid for any advice, you should really shop around. I’d suggest looking for well regarded IFA’s and then meet with them and ask lots of questions. If you find the right person you’re likely to be a client for a long time, so chemistry is important. Not only do you need to trust them with your hard earned money, but it’s also important to like them – feel you can open up about your finances – warts and all!
  </p>

  <h3>7. What do you like to do with your time when you’re not working?</h3>

  <p class="lead">
    I like to play hockey to keep fit and turn out for the 5th team at Lewes Hockey Club which is a lot of fun. I’ve also got a six year old daughter so spending time with her as she shoots up is important…..and very grounding!
  </p>
  <p class="lead">
    I do have a genuine passion for gold and silver companies so even if I’m not recommending them, I probably spend more time than I should looking at them.
  </p>

  <h3>8. Why did you decide to join The Skiff?</h3>

  <p class="lead">
    I previously had an office with Regus on Lombard Street in the City. I found I was wasting a lot of time on the train so wanted somewhere closer to home (Lewes) where I could get some peace and quiet when my daughter and other half were at home. The Skiff offers a perfect refuge!
  </p> 

  <h3>9. What advice would you give a new Skiff Mate?</h3>


  <p class="lead">
    Although I’ve been a member for about (5 years?) I have been very slow on the uptake of utilising the resources offered by the Skiff, which is why I’m doing this now! There is now a very broad range of people using the Skiff so not only can you benefit from having your own office space, but your business can probably benefit too. But you have to tell people a bit about yourself to get the ball rolling!
  </p> 

  <h3>10. What would you like a fellow Skiff Mate to ask you about?</h3>

  <p class="lead">
    Ha Ha! Where do I start? When we had our daughter it changed a lot in my life – very much for the better. Not only did I appreciate my home life a lot more, but also getting out with friends which became more difficult – they say that having  child is the civil equivalent of a “witness protection program” and there’s probably a lot of truth in that! You just disappear off the scene for a while……so I arrange a monthly get together for the comedy night at the Con Club in Lewes which I would firmly recommend for anyone who likes a good giggle. I also try to get to Plumpton races which is a lot of fun if you want to get away from it all for a few hours…..so comedy and horse racing are probably two things I talk about more than I should!
  </p>
<% end %>

<%= partial "members/profile"  %>
