---
title: Izzy Crouch at The Skiff in Brighton
sitemap_priority: 0.5
description: A digital marketer who helps market-leading local businesses to acquire more customers via online channels.
image: /images/izzy-crouch.jpg

member:
  first_name: Izzy
  last_name: Crouch
  title: A digital marketer who helps market-leading local businesses to acquire more customers via online channels.
  subtitle: Izzy won’t work with businesses that that are unlikely to get a measurable return from an investment in online marketing.
  they: she
  them: her
  their: her
  image: /images/izzy-crouch.jpg
  twitter: IZCMarketing
  website: http://izcmarketing.co.uk/


---

<% content_for :q_and_a do %>
  <h3>1. How did you get into providing digital marketing consultancy?</h3>

  <p class="lead">
    I started my consultancy just over three years ago. I graduated with a masters in marketing several years before and went to work in general marketing roles just as people were starting to use this thing called Facebook businesses were realising that appearing high up in the search engines for certain keywords could be very profitable. I became more and more specialised in digital marketing as my career progressed and my last in-house role was for a web-based start-up that required a full understanding of all the main digital channels. I decided to go freelance to expand my horizons and carve a healthy work-life balance for myself and my family.
  </p>

  <h3>2. What are you marketing this week?</h3>

  <p class="lead">
    This week I am setting up a strategy for a specialist, high-end recruitment company. I am also updating the content of an ecommerce store, following a full SEO analysis last month. Along with this I am fine tuning some Facebook and Adwords campaigns for a start-up and starting a remarketing campaign for them. 
  </p>

  <h3>3. Who are your favourite clients?</h3>

  <p class="lead">
    I work with a huge range of industries, but for me my favourite clients are always the ones that offer the best possible service or products to their clients and any client that allows me to be creative and works with me to develop the marketing strategy as we gather more data. 
  </p>
  <p class="lead">
    Some particular favourites are a hair solon, a retirement property firm and a specialist recruitment agency. It may seem like quite a range, but they are all top at what they do, are open to new ideas and suggestions and have a defined target market.
  </p>

  <h3>4. What kind of digital marketing did they hire you to do?</h3>

  <p class="lead">
    I helped hair salon The Point with social media and we ran some really fun and successful Facebook competitions giving away free rainbow hair colourings for Brighton Pride and hair-ups on New Years Eve. 
  </p>
  <p class="lead">
    In a completely different industry I run PPC campaigns on Facebook, Google and Bing for a retirement housing company and we are currently developing a content strategy off the back of all the data that we have gathered. 
  </p>
  <p class="lead">
    For the recruitment firm I am developing and implementing a strategy. Although the strategy isn't finalised yet it will definitely be content-based, using MailChimp, LinkedIn, Twitter and PR.
  </p>


  <h3>5. Why did they choose you to help them with digital marketing over anyone else?</h3>

  <p class="lead">
    Word of mouth tends to be my main source of new clients. When I meet with them I work hard at understanding what their needs are and how to meet them within their budget. I'm also very results focussed and won't take on work if I am not convinced it will work for the client. 
  </p>
  <p class="lead">
    I provided training for the recruitment firm 2 years ago and they were impressed and wanted to work with me again now there business is in a new phase. 
  </p>


  <h3>6. What advice would you give to someone trying to choose a digital marketing consultant to work with?</h3>

  <p class="lead">
    You won't find it difficult to find more digital marketing consultants in Brighton. I work closely with some other brilliant ones. However, I have also heard a few horror stories, so choose carefully.
    Choose someone who you feel understands your brand, what you represent and what you want to achieve. You should also choose someone who can be creative and mathematic. A good digital marketing consultant should have a good feel for design and branding as well as being able to spend a day engrossed in spreadsheets.
  </p>

  <h3>7. What do you like to do with your time when you’re not consulting?</h3>

  <p class="lead">
    Riding horses and getting wet. I'm a keen all year round sea swimmer. I also wakeboard most weeks and surf whenever I can. 
  </p>

  <h3>8. Why did you decide to join The Skiff?</h3>

  <p class="lead">
    I joined The Skiff when I relocated back to Sussex from Swansea. I had worked in co-working spaces in Swansea and knew it was the best way to build a network. I wanted to meet people both for work contacts and moral support and The Skiff has provided plenty of both. 
  </p> 

  <h3>9. What advice would you give a new Skiffmate?</h3>

  <p class="lead">
    Get involved! There is plenty going on at The Skiff, if none of it floats your boat, create your won event or meet up. I couldn't attend some of the social events due to family commitments, so I set up a lunch to meet people instead and everyone was very supportive. At first I wasn't bold enough about introducing myself to people, and I wish I had been bolder.
  </p> 

  <h3>10. What would you like a fellow Skiffmate to ask you about?</h3>

  <p class="lead">
    Latin poetry, especially with a beer. (I'm eagerly awaiting the invitations!)
  </p>
<% end %>

<%= partial "members/profile"  %>
