<h2>Invite a friend or colleague to The Skiff for a day</h2>
<p>If you had your own office you wouldn't charge a friend or colleague to come and work with you for a day. The Skiff IS your office so your friends and colleagues are very welcome to join you here. The Skiff isn't in the business of trying to extract every bit of value out of every square foot of space we have. So we're not expecting you to pay for your guests. But we do need to keep the space comfortable for you and your fellow Skiffmates. So here are a few things to consider when you invite someone to work with you here:</p>
<ul>
<li>They should always add their name to the Sign Aboard Sheet by the front door. Ideally you should open the door for them.</li>
<li>Make them feel welcome, give them a tour, show them to the tea and coffee and introduce them to other Skiffmates. Make it clear that they are your guest today.</li>
<li>You are responsible for your guest, if you need to leave The Skiff they should probably go too. Please don't risk The Skiff's security by sharing your keyfob - it's only for you to use.</li>
<li>If it's busy it might be best to share a large desk so other Skiffmates still have plenty of room to work.</li>

<li>If you have more than one visitor at the same time everyone will be more comfortable if you book a meeting room.</li>
<li>If you find yourself having lots of guests please drop hello@theskiff.org. Its probably fine but we should at least have a chat about it.</li>
<li>If the same person wants to come back again they should probably think about becoming a member or get a Not-Yet-Mate day pass: http://theskiff.org/join</li>
</ul>
<p>Hopefully you were already inviting your friends and colleagues to The Skiff. If not we're looking forward to seeing lots of new faces.</p>