<strong>A 3 minute favour for The Skiff</strong><br />
We're starting to ramp up our marketing over the next few weeks to get us back to breakeven. It would be wonderful if you could take 3 minutes today to help out. Please can you provide a short review of The Skiff on Google and/or Facebook:<br />
<br />
<a class="cta-button" href="https://search.google.com/local/writereview?placeid=ChIJme7o5J-FdUgRDxvpWmSuLqg">Review The Skiff on Google</a><br />
<br />
<a class="cta-button" href="https://www.facebook.com/pg/theskiff/reviews/">Review The Skiff on Facebook</a><br />
<br />
Here are some questions you could consider answering to make your review super helpfu</p>

<ul>
  <li>Where did you work before you worked from&nbsp;The Skiff? What was that like?</li>
  <li>Who would you recommend The Skiff to?</li>
  <li>When did you decide to join The Skiff? Why did you feel it was the right for you?</li>
  <li>What is it about The Skiff that made you choose it over other places to work?</li>
  <li>How has The Skiff supported you and your business? Is it worth £59+VAT/month for one day a week?</li>
</ul>