<h2>This Week at The Skiff: Pilates, Brighton Lean Agile, Open Coffee, Skiff Drinks</h2>

<p>Sorry this is a day later than usual. Lots going on behind the scenes that I can't wait to make more visible to you all. In the next three months The Skiff is going to be better than ever. We'll have more Skiff Improvements lunches and other fun things to make sure the improvements we make are things that matter to you.</p>

<p>Keep an eye out for something Captain Conrad is organising independently of The Skiff this week - he'll share on Groupbuzz and Slack. There's a hint in his biog:</p>

<p>Conrad Brunner, TV Producer, Journalist, Community Activist, Coming up one year a Skiffer. Loves family, the South Downs National Park, tennis, poker, bridge, French pop music, skiing, Harvey’s Bitter, and software that makes my life easier. Currently working on a new Bridge Learning video (“Conrad, I reckon this is going to be the best bridge learning video ever made!”), with some expert tech vision from skiffer Stuart Wallace. Ex-PokerStars, AFP, IMG, BBC & BBH. Recently relaunched Brighton & Hove Parks League website & brand (bhplta.co.uk: feedback welcome). I will be watching the Grand National in Hove with some oysters and a glass of dry Muscadet.</p>


<h3>Here's a bunch of other things we're currently working on:</h3>
<ul>
<li>Skiff cofounder Carl Jeffrey shared this with us all last week: <a href="https://theskiff.groupbuzz.io/topics/16647-how-do-you-feel-about-me-becoming-a-paid-member-of-the-skiff-s-crew">How do you feel about me becoming a paid member of The Skiff’s crew?</a>. We'll be formalising the decision on this at The Skiff's quaterly boardmeeting next week.</li>
<li>Recruiting more volunteer Captains. We now have volunteers to take us through to the first week of May. Lots of Captains are volunteering for a second round. It would be great to have a few more first time Captains!</li>
<li>Deciding who will be representing Skiff Mates as directors on The Skiff's board.</li>
<li>We'll be signing the legal agreement for our £50K+ round of financing next week.</li>
<li>We should be placing an order for air conditioning as soon as the above cash is in place.</li>
<li>Moving forward with the larger share distribution to Skiff Mates, using this approach: <a href="https://theskiff.groupbuzz.io/topics/16212-how-should-we-decide-how-much-of-the-skiff-you-should-own">This is your last chance to suggest an alternative</a></li>
<li>Automating more of our systems so that new Skiff Mates get a better welcome as soon as they sign up. I'm very behind with organising deposits from members that don't yet have them and charging for meeting room use over the last few months.</li>
<li>Adding more Skiff Mate profiles to our website and making some noise about them <a href="https://www.theskiff.org/members/">See the seven profiles we currently have live. Sorry I've taken so long with this.</a>
<li>Finishing our Happier Homeworking email course. <a href="https://www.theskiff.org/happier-homeworking/contribute">You can contribute here.</a></li>
</ul>


