<h2>5 weeks until Skiffmas: Show & Tell, Alt.NET, *special* Async, Brighton Mobile & Drinks</h2>
<p>We're continuing to countdown the weeks to our 10th annual Skiffmas Party on Friday the 15th December. Our website got another big update last week. Now we're showing off much more about Skiff Mates and our space. Check it out: http://theskiff.org</p>
