<h2>2 weeks until Skiffmas: Show & Tell, DataViz, Farm Open Day, Improvements Lunch, Managing Stress</h2>

<p><strong>This week is the last week we'll be enjoying the support of James Forbes.</strong> James started assisting with the running of The Skiff about two years ago when Anna and I were expecting our first child. It's been a pleasure having him aboard 2 to 3 mornings a week. James massively reduced the stressfulness of moving our 200 person community to a new building at the same time as having a baby.</p>

<p>James received an offer he couldn't refuse to do the full-time job of his dreams. I'll leave it to him to share more with you about that. We wish him the very best and are extremely grateful for everything he's done for The Skiff.</p>

<p><strong>It's this month's Skiff Improvements Lunch on Thursday</strong>&nbsp;Four things we'll be discussing:</p>

<ul>
  <li>Questions and concerns about The Happy Startup School Community joining The Skiff.</li>
  <li>How we can improve the referral scheme announced last week and other ways to boost membership levels.</li>
  <li>How we can keep The Skiff running smoothly in James's absence.</li>
  <li>An update on the cash investment we're planning to make in The Skiff's space.</li>
</ul>

<p><strong>Brighton Farm Freelancer’s group has invited all Skiff Mates to join them at their Christmas Party. </strong>We will be dining at Brighton Marina Yacht club on the evening of Wednesday 6th December. A three course meal with vegetarian and vegan options and tickets are only £20 per person! (I’ve got my ticket.) Get in touch with Hazlitt Eastman to book your spot. <a href="https://theskiff.groupbuzz.io/topics/15856-skiff-mates-come-on-down-to-the-fabulous-brighton-farm-xmas-party"><span>Find out more on Groupbuzz</span></a>. We're inviting Farm members to try a free day of coworking this Wednesday before their regular evening meet up.</p>
