<h2>This Week at The Skiff: Show & Tell, Cream Tea, Pilates, Improvements Lunch, Brighton Mobile, Skiff Drinks</h2>

<p>It's a packed week this week. Show & Tell is on in a couple of hours. Keep and eye out for the “Le mur des je t’aime” (wall of love) that Captain Steve will be setting up on Tuesday. Steve is also following last week's pizza with a Cornish Cream Tea on Wednesday afternoon. If you have any ideas for improving The Skiff and spending the £50,000 improvements fund we've secured, come along to the Improvements Lunch I'm hosting in on Thursday lunchtime. We'll round off the week with Skiff Drinks at 5pm on Friday, also hosted by your volunteer Captain.</p>

<h3>In case you're wondering, here's a bunch of other things we're currently working on:</h3>

<ul>
<li>Looking for advice on a legal loan agreement for our £50K+ round of financing.</li>
<li>Looking for more Skiff Mates with limited companies that might like to help finance improvements to The Skiff.</li>
<li>Organising welcome lunches for all our new Skiff Mates from December and January.</li>
<li>Organising profile photoshoots for all our new Skiff Mates and others.</li>
<li>Finalising the approach we'll take to our first significant share distribution to Skiff Mates: <a href="https://theskiff.groupbuzz.io/topics/16212-how-should-we-decide-how-much-of-the-skiff-you-should-own">Read more about this and share your thoughts.</a></li>
<li>Automating more of our systems so that new Skiff Mates get a better welcome as soon as they sign up.</li>
<li>Adding more Skiff Mate profiles to our website and making some noise about them <a href="https://www.theskiff.org/members/">See the seven profiles we currently have live.</a>
<li>Finishing our Happier Homeworking email course. <a href="https://www.theskiff.org/happier-homeworking/contribute">You can contribute here.</a>
<li>Recuriting more Skiff Mates to volunteer as Captain for a week. <a href="https://docs.google.com/document/d/1eakF5stNFG0DvY7-ja1sTBDA-vRQh6yrDcD1wds2JbQ/edit?usp=sharing">Learn more about what's involved</a>. (The next available week is 5th March)</li>
<li>Identifying two Skiff Mates who could represent Skiff Mates along side Anna and I and two people from Wired Sussex on The Skiff's board of directors. Let us know if you are interested!</li>
<li>Lots of very boring accounting and getting more of our admin in better shape.</li>
</ul>


