<h2>This Week at The Skiff: Christmas Opening, Show & Tell, Christmas Quiz and Pilates</h2>

<p>Thank you everyone who participated in last week's wonderful Skiffmas Party! And big thanks to Captain Chris Hollands, Annalissa and Joe - they made it the best party we've ever had. Great food, drink and even some dancing.</p>

<p>If you need to work from The Skiff between Christmas and New Year please let us know. There are unlikely to be many Chief Mates around but we can brief you on opening up/closing activating/deactivating the alarm. The sooner you let us know, the more likely we'll be able to make sure you have access.</p>

<p>I'll be in touch later in the week with a full write up of the announcements I made on Friday. If you can't wait for that you can watch the video here: <a href="https://www.youtube.com/watch?v=ScU-5bWFntI">youtube.com/watch?v=ScU-5bWFntI</a></p>

<p><strong>Alice Clarke, our first 2017 Captain, is returning to the role this week. Don't miss the Christmas quiz and festive nibbles she's organising on Wednesday lunchtime.</strong></p>