<h2>This Week at The Skiff: End of January Promo, Show & Tell, Pilates, Async.js, Skiff Drinks</h2>

<p>New Skiff Mates (and upgrading Skiff Mates) have until middnight on Wednesday to get 3 special benefits. Please spread the word. The countdown clock is ticking away on the website: <a href="https://theskiff.org/join">theskiff.org/join</a></p>

<h3>Why are we running this promotion?</h3>

<p>We have access to £50,000 to make physical improvments to your workspace. But we can't unlock it until we achieve a long-term sustainable month-to-month breakeven. Those improvments will include:</p>
<ul>
  <li>Blinds - Better control of heat and light</li>
  <li>Interior design - Professional support, labour and materials to enhance look and feel</li>
  <li>Booths - Create better spaces for phone calls and small meetings</li>
  <li>Dividers - Break up spaces so they are less intimidating but still usable for large events</li>
  <li>Desks - Improve the comfort of desks and provide different options</li>
  <li>Chairs - Improve the comfort of workstation chairs and provide different options</li>
  <li>Plants - More greenary</li>
</ul>
<p>We need to grow by just over 10% to achive this. <a href="https://theskiff.groupbuzz.io/topics/16060-announcement-2-50-000-to-improve-the-skiff">Read more here.</a></p>

<p>We'll also be able to give our landlord the go ahead to install airconditioning. This will give us much better control over the temperature in each of the rooms in the space all year round. But it means committing to a higher monthly rent for the building.</p>

<h3>How are we deciding how many shares Skiff Mates will get?</h3>
<p>I'm not convinced that we should give all Skiff Mates the same number of shares as we switch to shared ownership of The Skiff. Last week I shared a proposal for how we could decide how many shares different Skiff Mates should get. <a href="https://theskiff.groupbuzz.io/topics/16212-how-should-we-decide-how-much-of-the-skiff-you-should-own">Read more about this here.</a></p>