<h2>This Week at The Skiff: Show & Tell, Pilates, Brighton Mobile, Brighton WebDev, UX Camp Brighton</h2>

<p>24 Skiff Mates have now volunteered to be Captain for a week since we re-introduced the idea in September. A handful of them have enjoied it so much that they've volunteered to do it again. <a href="https://theskiff.org/captains">You can see them all here</a>. Here are a few things they have said about it:</p>
<ul>
  <li>I found being Captain relatively easy. I took a minimal-effort approach because I was busy that week with work - Dave G</li>
  <li>I was surprised at how flexible the idea of captain is. You don’t have to be in everyday (I did about 4 half-ish days) - Richard</li>
  <li>I had many great conversations with Skiff mates new and old and being given a budget and some discretion on spending it is empowering - Ben</li>
  <li>I had fun and it was a great way to meet lots of new people! - Carl</li>
</ul>
<p><strong>It would be wonderful if all Skiff Mate's had the chance to experience being Captain for a week. If you're interested in giving it a shot hit reply to this email and let me know.</strong></p>

<h3>Here's a bunch of other things we're currently working on:</h3>

<ul>
<li>Deciding who will be representing Skiff Mates as directors on The Skiff's board.</li>
<li>We're waiting for more feedback on the legal agreement we've had drawn up for our £50K+ round of financing. So far 55% of the financing has been signed off.</li>
<li>We're finding out if we can get additional fincncing to cover air-conditioning quote this week. Declan's been doing amazing work trying to save us tens of thousands of pounds on this.</li>
<li>Finalising the approach we'll take to our first significant share distribution to Skiff Mates: <a href="https://theskiff.groupbuzz.io/topics/16212-how-should-we-decide-how-much-of-the-skiff-you-should-own">Read more about this and share your thoughts. We're now looking at getting a shareholders agreement drawn up to make some parts of this clearer.</a></li>
<li>Automating more of our systems so that new Skiff Mates get a better welcome as soon as they sign up. I'm very behind with organising deposits from members that don't yet have them and charging for meeting room use over the last few months.</li>
<li>Adding more Skiff Mate profiles to our website and making some noise about them <a href="https://www.theskiff.org/members/">See the seven profiles we currently have live. Sorry I've taken so long with this.</a>
<li>Finishing our Happier Homeworking email course. <a href="https://www.theskiff.org/happier-homeworking/contribute">You can contribute here.</a></li>
<li>Exploring having an additional (part-time) paid member of staff to help us with some of the above.</li>
</ul>


