<h2>6 weeks until Skiffmas: Show & Tell, Codebar, Welcome Lunch & Lean Agile</h2>
<p>Last week we announced that our 10th annual Skiffmas Party is going to be on Friday the 15th December. Hopefully you've now got that penned into your diary. It's going to be a great evening of food, drink, a few special announcements and much festivities.</p>
