<h2>This Week at The Skiff: Show & Tell, Pilates, Sharepoint, Fika (Sweedish Pastries)</h2>

<p>This week someone who's spending their last week at The Skiff for a while has volunteered as Captain. Erik's heading off to live in Sweeden for a year next week. He's organising a Fika (Sweedish Pastries) on Friday morning, please stop by and wish him the best. As well as volunteering as Captain Erik has been along to almost every Skiff Improvement's weeekend since he joined back in January 2015 (we'll have another one of these in the next couple of weeks). You probably have Erik to thank for building the desk, chair or sofa you're sitting at/on. :)</p>

<p>I've made a bunch of long overdue updates to The Skiff's website over the weekend. Most significantly you'll see lots more about your fellow Skiff Mates. There are some testimonials (maybe one of yours) on the home page. And we now have 7 member profiles live.</p>

<a href="https://theskiff.org/members">Checkout the first seven Skiff Mate profiles</a>

<h3><strong>Reminder:</strong> 3 special benefits for people who join or upgrade their membership before 1st February</h3>

<p>There are three extra benefits we'll give to new Skiff Mates (3rd Mate and above) that join by the end of January. If you're an existing member and you upgrade to 3rd Mate or above by the end of January you'll also benefit from these. And if you joined or upgraded after 1st December you'll be included too.</p>
<ul>
<li>Lunch on The Skiff at a local independent restaurant with fellow Skiff Mates in February. It will help new members to get to know each other so they feel more at home. Existing Skiff Mates will also be welcome and your meal will also be free if you refer a new member by the end of January.</li>
<li>Shares in The Skiff Ltd. New members won't get as many as existing Skiff Mates but this will be their only chance to become shareholders before 2019. Returning Skiff Mates will get extra shares taking into account when they first joined The Skiff.</li>
<li>A professional profile photo. We'll organise a few days in February with a professional photographer so they can all get great profile photos for free. We'll also organise free or heavily discounted photos for existing Skiff Mates.</li>
</ul>

