<h2>This Week at The Skiff: Show & Tell, Pilates, WebDev Meetup, Skiff Drinks</h2>

<p>Sorry I'm a day late sending this this week. Hopefully you didn't miss yesterday's Show & Tell. It's every week so you can put a recurring note in your diary for 12:30 on Monday.</p>
<p>Over the next three weeks you'll be reciving a few extra emails from me to support our January membership drive. So far we've welcomed 7 new Skiff Mates in January. If we can add 23 more by the end of the month we should reach the revenue target I shared at the Skiffmas party. That will mean we'll have enough revenue to unlock at least £50,000 of financing to make significant physical improvements to your workspace.</p>

<h3>3 special benefits for people who join or upgrade their membership before 1st February</h3>

<p>There are three extra benefits we'll give to new Skiff Mates (3rd Mate and above) that join by the end of January. If you're an existing member and you upgrade to 3rd Mate or above by the end of January you'll also benefit from these. And if you joined or upgraded after 1st December you'll be included too.</p>
<ul>
<li>Lunch on The Skiff at a local independent restaurant with fellow Skiff Mates in February. It will help new members to get to know each other so they feel more at home. Existing Skiff Mates will also be welcome and your meal will also be free if you refer a new member by the end of January.</li>
<li>Shares in The Skiff Ltd. New members won't get as many as existing Skiff Mates but this will be their only chance to become shareholders before 2019. Returning Skiff Mates will get extra shares taking into account when they first joined The Skiff.</li>
<li>A professional profile photo. We'll organise a few days in February with a professional photographer so they can all get great profile photos for free. We'll also organise free or heavily discounted photos for existing Skiff Mates.</li>
</ul>

