---
title: What's on at The Skiff
layout: "print"
sitemap_noindex: true
sitemap_priority: 0.8

captain:
  first_name: Matt
  last_name: Oakes
  they: he
  theyre: he's
  them: him
  their: his
#  they: she
#  theyre: she's
#  them: her
#  their: her
  image: /images/matt-oakes.jpg
week:
  date: "15-01-2018"
  days:
    -
      name: Monday
      events:
        - show_and_tell
    -
      name: Tuesday
      events: []
    -
      name: Wednesday
      events:
        - pilates
        - webdev
        - the_farm
    -
      name: Thursday
      events: []
    -
      name: Friday
      events:
        - drinks
    -
      name: Saturday
      events: []



---

<div class="page">
<%= partial "print_captain", :locals => current_page.data.captain %>
</div>

<% @i = 1 %>
<% current_page.data.week.days.each do |day| %>
  <% day.events.each do |event| %>
    <% unless event.blank? %>
      <div class="page">
        <%= partial "print_event", :locals => {:event=>data.events[event], :week=>current_page.data.week.date, :day=>day.name, :index=>@i, } %>
      </div>
    <% @i += 1 %>
    <% end %>
  <% end %>
<% end %>