---
title: Caroline Beavon at The Skiff in Brighton
sitemap_priority: 0.5
description: An infographic designer who helps organisations to make their information and data easier to digest.
image: /images/caroline-beavon.jpg

member:
  first_name: Caroline
  last_name: Beavon
  title: An infographic designer who helps organisations to make their information and data easier to digest.
  subtitle: Caroline applies her background in journalism to create graphics that tell compelling stories.
  they: she
  them: her
  their: her
  image: /images/caroline-beavon.jpg
  twitter: carolinebeavon
  website: https://carolinebeavon.com


---

<% content_for :q_and_a do %>
  <h3>1. How did you get into becoming an infographic designer?</h3>

  <p class="lead">
    In 2009 I was made redundant from a job I loved. I was a music journalist and presenter at rock radio station, Kerrang! Radio based in Birmingham. Instead of staying in the radio industry, I decided to take a year-off, and started  a Masters in Online Journalism at Birmingham City University. The course included an element of data journalism which taught us how to find stories in datasets, as well as using data to tell stories. I was drawn to the idea of using visuals to convey complex (or boring!) subjects to 'normal people. When I finished my studies I created a couple of infographics for local businesses who’d seem my work, and it all went from there!
  </p>

  <h3>2. What are you designing this week?</h3>

  <p class="lead">
   I’m usually working on a couple of projects at a time - I find it easier to manage workflow (and cashflow) that way! I’m currently working on the final stages of a long term interactive mapping project which is investigating the relationship between arts organisations and schools I’ve just finished a series of social media graphics for a law charity, to help them show their impact in 2019.
  </p>

  <h3>3. Who are your favourite clients?</h3>

  <p class="lead">
    I’m in a lucky position to have a handful of loyal clients who provide plenty of work but the real excitement comes when I am approached by a brand new organisation. I don’t advertise, so most organisations approach me from a recommendation or having seem me talk or deliver a workshop at an industry event. A new project is a great excuse to seek out some inspiration, work in a new sector, try a fresh approach to infographics or work on a new product entirely. I’ve worked across a wide range of industries, some of personal interest (arts, music industry, third sector) and others from sectors I know nothing about (recruitment, psychology, medicine, engineering) - each time it’s great to get an insight into a new industry.
  </p>

  <h3>4. What kind of infographics did they hire you to do? What did it involved?</h3>

  <p class="lead">
    For several years, most of my work was limited to static, web or print based infographics. However, over the last few years I’ve ben able to apply the skills both from my previous life as a journalist, and my new role, onto new, more diverse, projects. For example, a few years ago I helped develop and design a touch-table interface for a historical data project. It was 2 and a half  year of work, but taught me a great deal about managing a large dataset, interface design, multi-user experience and testing. More recently I’ve added animation to my portfolio thanks to a collaboration with a London-based filmmaker as well as offering basic interactive data visualisations and interactive infographics.
  </p>

  <p class="lead">
    The tool I rely on the most is Adobe Illustrator. Being able to create clean vector shapes, as well as simple charts and diagrams is crucial to my design work, ,and it fills the brief perfectly. Sometimes I’m asked to develop maps or more complex/data heavy visualisations. In these cases I’ll use Tableau, which started out as a dashboard tool several years ago. Since then it’s evolved into a really useful way to create beautiful interactive visualisations quickly (and with no coding!). I use Tableau in two ways: to create the basic visualisation or map, which I’ll then export into Illustrator for more tweaks. I’ve also had a few projects in the past where I’ve been asked to create Tableau dashboards for clients websites - it’s great to have another product I can offer.
  </p>

  <h3>5. Why did they choose you to do the infographics over anyone else?</h3>

  <p class="lead">
    I’m relatively unique in that I have an editorial background. As a journalist you’re taught to sift through large quantities of information and tease out the interesting story. I do the same thing with infographics: clients will send me reports or spreadsheets, and I use those skills to distill ithem down and pick some key elements to represent visually. When I meet clients, I explain that I focus on message and audience before we even behind to talk about what the infographic will ‘look like’. I hope this approach will continue to help me win work in the future, as the industry continues to grow.
  </p>

  <h3>6. What advice would you give to someone trying to choose an infographic designer to work with?</h3>

  <p class="lead">
    Infographics are a broad school of design - there are plenty of definitions of what an infographic actually is so it’s important to make sure you’ve got the right person for your job. Are you looking for some striking representations of single numbers to go into a report, or something more technical with a strong data background? Maybe you need an editorial/storytelling focus, or perhaps you’re after an interactive map? Those are all different skill sets and it’s important to work out what you need before you hire someone. Also make sure the designer understands your audience and your message.
  </p>

  <h3>7. What do you like to do with your time when you’re not designing infographics?</h3>

  <p class="lead">
    I’ve recently started a health kick regime, going to pilates and yoga classes as well as swimming when I can. I have a dog who keeps me busy with walks on the beach and I’m hoping to start a new college art course soon (I didn’t do art at school so I missed out on all the fun messy painting and drawing!). I’m also keen to start doing spoken word this year.
  </p>

  <h3>8. Why did you decide to join The Skiff?</h3>

  <p class="lead">
    I joined the Skiff as soon as I moved to Brighton from Birmingham. There, I’d been renting a desk at a friends office for several years and loved the fact I had my own permanent desk but also being separate from their office business. I was even invited to their Xmas parties! I did a few years of working from home but in my small Birmingham flat it was a little claustrophobic and would often end up in coffee shops overdosing on caffeine!
  </p> 

  <h3>9. What advice would you give a new Skiff Mate?</h3>


  <p class="lead">
    I’d recommend going for the largest membership you can afford, even for a few months. I came in every day for several months and it helped me get to know people, make friends and get into the swing of things. It can be quite intimidating, but by becoming a regular face you’ll be soon settle in. Even if you have to reduce your membership in the future, you’ll feel really at home at the Skiff, and be able to slot back in when you do make use of the space.
  </p> 

  <h3>10. What would you like a fellow Skiff Mate to ask you about?</h3>

  <p class="lead">
    I find myself talking up Birmingham a lot (and insisting it’s NOT in the North). It’s a great city and I’m always keen to change peoples attitudes as it still has quite a poor reputation this far south. Another favourite conversation of mine is my former job as a rock radio journalist / DJ -  I was very lucky to have interviewed so many bands and I’m always happy to reminisce about those days, especially the launch of Kerrang! Radio. I’ve still got such a soft spot for my previous job, but I wouldn’t go back. I really love what I’m doing now, plus I’m not sure I could keep up with the partying!!
  </p>
<% end %>

<%= partial "members/profile"  %>
