---
title: The Skiff - Payment
layout: "no-nav"
sitemap_noindex: true
sitemap_priority: 0.8
---
<style>
    /* Blue outline on focus */
    .StripeElement--focus {
        border-color: #80BDFF;
    }
    /* Can't see what I type without this */
    #card-number.form-control,
    #card-cvc.form-control,
    #card-exp.form-control {
        display:inline-block;
    }
</style>
<div class="wrapper">
  <div class="content">
    <div class="d-flex flex-column flex-lg-row
    justify-content-around justify-content-lg-around
    align-items-stretch align-items-lg-center content-cards">
    <div class="card bg-light col-xs-12 col-lg-5 col-xl-4">
        <div class="card-body">

          <p><strong class="member-first-name"></strong> <strong class="member-last-name"></strong> (<strong class="member-email"></strong>) wishes to become a <strong class="plan_name"></strong> of The Skiff.<p>

          <p>The cost will be &pound;<strong class="quaderno-subtotal"></strong> per month plus VAT of &pound;<strong class="quaderno-taxes"></strong>. Your card will be charged a total of &pound;<strong class="quaderno-total"></strong> on the <strong class="renewal-date"></strong> of every month.</p>

          <p>This month you will additionally pay a deposit of &pound;<strong class="quaderno-total"></strong>. So the total charges to your card will be &pound;<strong class="month-total"></strong></p>

          <p>Payment will be made by <strong class="billing-company"></strong>. Invoices and payment recipts will be sent to <strong class="billing-email"></strong>. <a href="/join">Change this</a>.<p>

          <a href="#payment-form" class="d-block d-sm-block d-md-block d-lg-none btn btn-secondary btn-block">Continue</a>
          <p class="text-center">
          
          </p>
          <p class="d-none d-md-block d-lg-block"><small>Your deposit will be refunded after your final subscription payment has been made and your keyfob has been returned. If you wish to downgrade or cancel your membership you must give us one month's notice by telling us <strong>before</strong> your final monthly renewal.</small></p>
          <p class="d-none d-md-block d-lg-block"><small>e.g. If you wish your subscription to end on the <strong class="renewal-date"></strong> of July you need to tell us before your subscription renews on the <strong class="renewal-date"></strong> of June. We cannot refund unused parts of a monthly subscription.</small></p>


        </div>
      </div>

      <div class="card bg-light col-xs-12 col-lg-5 col-xl-4">
        <form action="https://www.getdrip.com/forms/766381217/submissions" id="payment-form" 
              method="post"
              data-gateway="stripe"
              data-key="pk_live_vzQcNcdarGQFQH7vxqfL"
              data-taxes="included"
              data-drip-embedded-form="766381217">

          
            <div class="card-body">
              <div id="card-errors" role="alert"></div>
              <a name="payment-form"></a> 
              <input type="hidden" value="1" data-quaderno="quantity" />
              <input type="hidden" id="drip-plan-id" name="fields[plan_id]" />
              <input type="hidden" id="drip-plan-name" name="fields[plan_name]" />
              <input type="hidden" id="drip-plan-amount" name="fields[plan_amount]" />
              <input type="hidden" data-quaderno="email" id="drip-email" name="fields[email]" />
              <input type="hidden" data-quaderno="first-name" id="drip-first-name" name="fields[first_name]"/>
              <input type="hidden" data-quaderno="last-name" id="drip-last-name" name="fields[last_name]"/>
              <input type="hidden" data-quaderno="street-line-1" id="drip-company" name="fields[company]"/>              
              <input type="hidden" data-quaderno="billing_email" id="drip-billing-email" name="fields[billing_email]"/>
              <input type="hidden" value="GB" data-quaderno="country"/>

              <div class="form-group">
                <label for="name">Name on Card</label>
                <div class="input-group">
                  <span class="input-group-addon d-none d-md-block d-lg-block"><span class="oi oi-person" title="person" aria-hidden="true"></span></span>
                  <input type="text" class="form-control" id="name" placeholder="MRS J SMITH">
                </div>
              </div>
              <div class="form-group">
                <label for="card-number">Credit Card Number</label>
                <div class="input-group">
                  <span class="input-group-addon d-none d-md-block d-lg-block"><span class="oi oi-credit-card" title="credit-card" aria-hidden="true"></span></span>
                  <span id="card-number" class="form-control" data-quaderno="number">
                      <!-- Stripe Card Element -->
                  </span>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="card-cvc">CVC <span class="d-none d-md-block d-lg-block">Number</span></label>
                    <div class="input-group">
                      <span class="input-group-addon d-none d-md-block d-lg-block"><span class="oi oi-lock-locked" title="lock-locked" aria-hidden="true"></span></span>
                      <span id="card-cvc" class="form-control" data-quaderno="cvc">
                        <!-- Stripe CVC Element -->
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="card-exp">Exp. <span class="d-none d-md-block d-lg-block">Date</span></label>
                    <div class="input-group">
                      <span class="input-group-addon d-none d-md-block d-lg-block"><span class="oi oi-calendar" title="calendar" aria-hidden="true"></span></span>
                      <span id="card-exp" class="form-control" data-quaderno="exp-month">
                          <!-- Stripe Card Expiry Element -->
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <p>By subscribing you confirm that you have read and agree to our <a href="/membership-agreement/" target="_blank">Membership Agreement</a> and <a href="/code-of-conduct/" target="_blank">Code of Conduct</a>.</p>
              <button id="payment-submit" class="btn btn-secondary btn-block">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <section class="full-height">
    <div class="left-half">

    </div>
    <div class="right-half">

    </div>
  </section>
</div>

<% content_for :javascript do %>
  <script>
      function stripeTokenHandler(token) {
        var form =  document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('data-quaderno', 'cardToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);


        Quaderno.createSubscription({
          success: function(status, response){
            // response contains the message and the Stripe customer id

            var errorElement = document.getElementById('card-errors');
            errorElement.textContent = response.message;
            errorElement.className = 'alert alert-success';
            
            var hiddenInputQ = document.createElement('input');
            hiddenInputQ.setAttribute('type', 'hidden');
            hiddenInputQ.setAttribute('data-quaderno', 'transactionDetails');
            hiddenInputQ.setAttribute('value', response.details);
            form.appendChild(hiddenInputQ);
            form.submit();
          },
          error: function(status, response){
            var errorElement = document.getElementById('card-errors');
            errorElement.textContent = response.message;
            errorElement.className = 'alert alert-danger';
            var buttonElement = document.getElementById('payment-submit');
            buttonElement.disabled = false;
          }
        });


      };

      function getOrdinalNum(n) {
        return n + (n > 0 ? ['th', 'st', 'nd', 'rd'][(n > 3 && n < 21) || n % 10 > 3 ? 0 : n % 10] : '');
      }

      $(document).ready(function(){
          $('.quaderno-total').bind("DOMSubtreeModified",function(){
            $('.month-total').html((parseFloat($('.quaderno-total').html())*2));
            var date = new Date();
            $('.renewal-date').html(getOrdinalNum(date.getDate()));
          });

          var emailElement = document.getElementById('drip-email');
          var planIdElement = document.getElementById('drip-plan-id');
          var planNameElement = document.getElementById('drip-plan-name');
          var planAmountElement = document.getElementById('drip-plan-amount');
          var firstNameElement = document.getElementById('drip-first-name');
          var lastNameElement = document.getElementById('drip-last-name');
          var companyElement = document.getElementById('drip-company');
          var billingEmailElement = document.getElementById('drip-billing-email');
          var paymentForm =  document.getElementById('payment-form');

          _dcq.push(['identify', { success: function(payload){
            emailElement.setAttribute('value', payload.email);
            $('.member-email').html(payload.email)
            planIdElement.setAttribute('value', payload.custom_fields.plan_id);
            paymentForm.setAttribute('data-plan', payload.custom_fields.plan_id);
            $('.plan_id').html(payload.custom_fields.plan_id)

            planAmountElement.setAttribute('value', payload.custom_fields.plan_amount);
            paymentForm.setAttribute('data-amount', payload.custom_fields.plan_amount);
            $('.plan_amount').html(payload.custom_fields.plan_amount)


            planNameElement.setAttribute('value', payload.custom_fields.plan_name);
            $('.plan_name').html(payload.custom_fields.plan_name)

            firstNameElement.setAttribute('value', payload.custom_fields.first_name);
            $('.member-first-name').html(payload.custom_fields.first_name)
            lastNameElement.setAttribute('value', payload.custom_fields.last_name);
            $('.member-last-name').html(payload.custom_fields.last_name)
            companyElement.setAttribute('value', payload.custom_fields.company);
            $('.billing-company').html(payload.custom_fields.company)
            billingEmailElement.setAttribute('value', payload.custom_fields.billing_email);
            $('.billing-email').html(payload.custom_fields.billing_email)

          }}])

          // Create a Stripe client
          var stripe = Stripe('pk_live_xJVv2wFhUeh8AMIZNtbsQadQ00SwMADadI');

          // Create an instance of Elements
          var elements = stripe.elements();

          // Try to match bootstrap 4 styling
          var style = {
              'base': {
                  'lineHeight': '1.35',
                  'fontSize': '1.11rem',
                  'color': '#495057',
                  'fontFamily': 'apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif'
              },
              'invalid': {
                'color': 'red',
              },
          };

          // Card number
          var card = elements.create('cardNumber', {
              'placeholder': 'XXXX XXXX XXXX XXXX',
              'style': style
          });
          card.mount('#card-number');

          // CVC
          var cvc = elements.create('cardCvc', {
              'placeholder': '123',
              'style': style
          });
          cvc.mount('#card-cvc');

          // Card expiry
          var exp = elements.create('cardExpiry', {
              'placeholder': 'MM/YY',
              'style': style
          });
          exp.mount('#card-exp');

          // Submit
          $('#payment-submit').on('click', function(e){
              e.preventDefault();
              var buttonElement = document.getElementById('payment-submit');
              buttonElement.disabled = true;
              var cardData = {
                  'name': $('#name').val()
              };
              stripe.createToken(card, cardData).then(function(result) {
                if (result.error) {
                  // Inform the user if there was an error
                  var errorElement = document.getElementById('card-errors');
                  errorElement.textContent = result.error.message;
                  errorElement.className = 'alert alert-danger';
                  buttonElement.disabled = false;

                } else {
                  // Send the token to your server
                  stripeTokenHandler(result.token);
                }
              });
          });

      });
  </script>



<% end %>
