---
title: Join The Skiff as a 2nd Mate
layout: "no-nav"
sitemap_noindex: true
sitemap_priority: 0.8
plan_id: 2ndmate
---
<style>
    /* Blue outline on focus */
    .StripeElement--focus {
        border-color: #80BDFF;
    }
    /* Can't see what I type without this */
    #card-number.form-control,
    #card-cvc.form-control,
    #card-exp.form-control {
        display:inline-block;
    }
</style>
<div class="wrapper">
  <div class="content">
    <div class="d-flex flex-column flex-lg-row
    justify-content-around justify-content-lg-around
    align-items-stretch align-items-lg-center content-cards">
    <div class="card bg-light col-xs-12 col-lg-5 col-xl-4">
      <p>Subtotal: &pound;<span class="quaderno-subtotal"></span></p>
      <p>Taxes: &pound;<span class="quaderno-taxes"></span></p>
      <p>Total: &pound;<span class="quaderno-total"></span></p>
      <form action="" id="payment-form" 
            method="post"
            data-gateway="stripe"
            data-key="pk_live_vzQcNcdarGQFQH7vxqfL"
            data-plan="communitymate2017"
            data-amount="1500"
            data-taxes="included">

        
          <div class="card-body">
            <div id="card-errors" role="alert"></div>

            <input type="hidden" value="1" data-quaderno="quantity" />

            <fieldset>
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label>First Name</label>
                      <input data-quaderno="first-name" class="form-control"/>
                    
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Last Name</label>
                      <input data-quaderno="last-name" class="form-control"/>
                    
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Company Name</label>
                  <input data-quaderno="company-name" class="form-control"/>
                
              </div>

              <div class="form-group">
                <label>Email</label>
                  <input data-quaderno="email" class="form-control"/>
                
              </div>

              <div class="form-group">
                <label>Street Line 1</label>
                  <input data-quaderno="street-line-1" class="form-control"/>
                
              </div>

              <div class="form-group">
                <label>Street Line 2</label>
                  <input data-quaderno="street-line-2" class="form-control"/>
                
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label>City</label>
                      <input data-quaderno="city" class="form-control"/>
                    
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Postal Code</label>
                      <input data-quaderno="postal-code" class="form-control"/>
                    
                  </div>
                </div>
              </div>

              <input type="hidden" value="GB" data-quaderno="country"/>

              <div class="form-group">
                <label>Region</label>
                  <input data-quaderno="region" class="form-control"/>
              </div>


              <div class="form-group">
                <label>VAT Number</label>
                <input data-quaderno="vat-number" class="form-control"/>
              </div>

              <div class="form-group">
                <label>Coupon</label>
                  <input data-quaderno="coupon" class="form-control"/>
              </div>
            </fieldset>


            <div class="form-group">
              <label for="name">Name on Card</label>
              <div class="input-group">
                <span class="input-group-addon"><span class="oi oi-person" title="person" aria-hidden="true"></span></span>
                <input type="text" class="form-control" id="name" placeholder="MRS J SMITH">
              </div>
            </div>
            <div class="form-group">
              <label for="card-number">Credit Card Number</label>
              <div class="input-group">
                <span class="input-group-addon"><span class="oi oi-credit-card" title="credit-card" aria-hidden="true"></span></span>
                <span id="card-number" class="form-control" data-quaderno="number">
                    <!-- Stripe Card Element -->
                </span>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                  <label for="card-cvc">CVC Number</label>
                  <div class="input-group">
                    <span class="input-group-addon"><span class="oi oi-lock-locked" title="lock-locked" aria-hidden="true"></span></span>
                    <span id="card-cvc" class="form-control" data-quaderno="cvc">
                      <!-- Stripe CVC Element -->
                    </span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="card-exp">Expiration</label>
                  <div class="input-group">
                    <span class="input-group-addon"><span class="oi oi-calendar" title="calendar" aria-hidden="true"></span></span>
                    <span id="card-exp" class="form-control" data-quaderno="exp-month">
                        <!-- Stripe Card Expiry Element -->
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <button id="payment-submit" class="btn btn-primary btn-block">Submit Payment</button>
        </div>
      </form>

      </div>

      <div class="card bg-dark text-white col-xs-12 col-lg-5 col-xl-4">
        <div class="card-body">
          <h2 class="card-title">Did you know? You can't join The Skiff as a team</h2>
          <p class="card-text">While we do have a few teams at The Skiff, each individual must retain the freedom to choose where they work. We don't provide space for companies that require their staff to work next to each other from 9 to 5.</p>
          <p class="card-text">Imagine that! A work place filled with people who are only there when they want to be. And they're all people who want to meet you.</p>
      </div>
      </div>
    </div>
  </div>
  <section class="full-height">
    <div class="left-half">

    </div>
    <div class="right-half">
      <!-- <img src="/assets/images/brighton.jpg"> -->
      <img src="/images/skiff-mates.jpg">
    </div>
  </section>
</div>

<% content_for :javascript do %>
  <script>
      function stripeTokenHandler(token) {
        var form =  document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('data-quaderno', 'cardToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);


        Quaderno.createSubscription({
          success: function(status, response){
            // response contains the message and the Stripe customer id

            var errorElement = document.getElementById('card-errors');
            errorElement.textContent = response.message;
            errorElement.className = 'alert alert-success';
            
            var hiddenInputQ = document.createElement('input');
            hiddenInputQ.setAttribute('type', 'hidden');
            hiddenInputQ.setAttribute('data-quaderno', 'transactionDetails');
            hiddenInputQ.setAttribute('value', response.details);
            form.appendChild(hiddenInputQ);
            // form.submit();
          },
          error: function(status, response){
            var errorElement = document.getElementById('card-errors');
            errorElement.textContent = response.message;
            errorElement.className = 'alert alert-danger';
            var buttonElement = document.getElementById('payment-submit');
            buttonElement.disabled = false;
          }
        });


      };


      $(document).ready(function(){

          // Create a Stripe client
          var stripe = Stripe('pk_8Lp8s7Ix89Kp6ZcwcQLrEsNukVZii');

          // Create an instance of Elements
          var elements = stripe.elements();

          // Try to match bootstrap 4 styling
          var style = {
              'base': {
                  'lineHeight': '1.35',
                  'fontSize': '1.11rem',
                  'color': '#495057',
                  'fontFamily': 'apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif'
              },
              'invalid': {
                'color': 'red',
              },
          };

          // Card number
          var card = elements.create('cardNumber', {
              'placeholder': 'XXXX XXXX XXXX XXXX',
              'style': style
          });
          card.mount('#card-number');

          // CVC
          var cvc = elements.create('cardCvc', {
              'placeholder': '123',
              'style': style
          });
          cvc.mount('#card-cvc');

          // Card expiry
          var exp = elements.create('cardExpiry', {
              'placeholder': 'MM/YY',
              'style': style
          });
          exp.mount('#card-exp');

          // Submit
          $('#payment-submit').on('click', function(e){
              e.preventDefault();
              var buttonElement = document.getElementById('payment-submit');
              buttonElement.disabled = true;
              var cardData = {
                  'name': $('#name').val()
              };
              stripe.createToken(card, cardData).then(function(result) {
                if (result.error) {
                  // Inform the user if there was an error
                  var errorElement = document.getElementById('card-errors');
                  errorElement.textContent = result.error.message;
                  errorElement.className = 'alert alert-danger';
                  buttonElement.disabled = false;

                } else {
                  // Send the token to your server
                  stripeTokenHandler(result.token);
                }
              });
          });

      });
  </script>



<% end %>