---
title: Ellen Cubbin at The Skiff in Brighton
sitemap_priority: 0.5
description: A Laravel programmer who helps other programmers spend more time with their clients.
image: /images/.jpg

member:
  first_name: Ellen
  last_name: Cubbin
  title: A Laravel programmer who helps other programmers spend more time with their clients.
  subtitle: Ellen's academic background in physics and music bring a balance of logic and creativity that you can depend on.
  they: she
  them: her
  their: her
  image: /images/ellen-cubbin.jpg
  twitter: 
  website: http://www.beebell.co.uk


---

<% content_for :q_and_a do %>
  <h3>1. How did you get into becoming a web developer?</h3>

  <p class="lead">
    I started way back! In the final year of my physics degree (1999 - although I’m not sure I want to admit I’ve been doing it that long) I did an elective called 'Introduction to computing' and as part of that we created a web page with HTML.  I thought the web was really cool, so after I graduated I taught myself HTML, made my first website, and then got a job where I learned ASP.
  </p>
  <p class="lead">
    Eventually I took a year out and came to Brighton to study music at BIMM.  After that I got a job in admin at the University of Brighton, but I kept making little web applications (in PHP this time) for various processes that required huge numbers of paper forms.  So eventually I went back into web development because I just couldn't help it!
  </p>

  <h3>2. What are you developing this week?</h3>

  <p class="lead">
    I'm currently working on a big project which is an auditing tool. It involves making lots of API calls and then calculations on the data that comes back. (Will be able to talk more about it once it has been released)
  </p>

  <h3>3. Who are your favourite clients?</h3>

  <p class="lead">
    I've been working with Tristan Bailey (another Skiff + Farm member / freelance web developer) who is the project lead/architect.
  </p>
  <p class="lead">
    I enjoy working with other developers like Tristan because you can learn so much and I enjoy working on big projects like this because they have interesting challenges to solve.
  </p>

  <h3>4. What kind of development work did they hire you to do?</h3>

  <p class="lead">
    We are developing the product feature by feature.  It involves working out what data we can get in various ways, and the logic to perform to test the data in different ways.
  </p>
  <p class="lead">
    Technologies include:
  </p>
  <p class="lead">
    The application is built in the PHP framework Laravel.
  </p>
  <p class="lead">
    Google Analytics APIs
  </p>
  <p class="lead">
    PhantomJSCloud - PhantomJS as a service.  This allows you to call an API to use phantomJS (a headless browser), i.e. programmatically visit a web page and perform actions such as clicking buttons or executing javascript.
  </p>


  <h3>5. Why did they choose you to do the development work over anyone else?</h3>

  <p class="lead">
    Experience with the framework Laravel and experience with similar types of projects.  And availability at the right time!  (I sent out a message to the Farm mailing list saying I was available for Laravel or Wordpress work and Tristan got back to me almost immediately)
  </p>


  <h3>6. What advice would you give to someone trying to choose a programmer to work with?</h3>

  <p class="lead">
    I think you need to consider skill set and communication.  
  </p>
  <p class="lead">
    Obviously you need someone with the skills to do the project in hand, but I wouldn't worry *too* much about someone having the *exact* experience. Often skills are transferrable from one project to the next and programmers love solving new problems.  But general area is important. Do you need someone who can put together a whole website for a small business? Do you need a full-stack or back-end developer who get all the functionality working?  Do you need someone with serious front-end dev skills to make your site look really snazzy? Do you need a mobile app developer?  
  </p>
  <p class="lead">
    Being able to communicate well is vital though.  There is no need to work with someone who makes no sense, makes things sound complicated or is hard to talk to because there are plenty of skilled programmers who are also good communicators.   So have a chat with them about the project. Do you feel listened to and understood?  Do their responses make sense?
  </p>

  <h3>7. What do you like to do with your time when you’re not programming?</h3>

  <p class="lead">
    Dancing (mainly in my living room.  I hope to get back to tribal fusion bellydance one day), yoga and stretching
  </p>
  <p class="lead">
    Listening to music (especially chilled, world, reggae, funk ,soul, house, FIP radio)
  </p>
  <p class="lead">
    Reading (recent books include 'The Little Book of Hygge', 'Gut' (yes, about your insides), 'The Power of Now', and currently 'Where Does Money Come From?'  I tend to have way too many books on the go at once!
  </p>
  <p class="lead">
    Walks in the countryside
  </p>
  <p class="lead">
    Seeing friends
  </p>
  <p class="lead">
    Relaxing with my partner
  </p>
  <p class="lead">
    Eating good food
  </p>
  <p class="lead">
    Meditating
  </p>
  <p class="lead">
    Occasionally giving Indian Head Massage
  </p>
  <p class="lead">
    Occasional painting / making things
  </p>
  <p class="lead">
    Occasional singing and guitar playing
  </p>

  <h3>8. Why did you decide to join The Skiff?</h3>

  <p class="lead">
    I'd just started freelancing again and was working from home.  I knew about The Skiff and was considering joining but then I had a meeting in the Skiff and liked it so much that I joined immediately. My environment is very important to me (part of my reason for freelancing).
  </p> 

  <h3>9. What advice would you give a new Skiff Mate?</h3>


  <p class="lead">
    Don't be so shy! Everyone is very friendly! Get on to Slack more (Thankfully Slack hasn't turned into a /giphy fest!) (Ok, I am a skiff newbie.  This might be the advice my future self is giving me now!)
  </p> 

  <h3>10. What would you like a fellow Skiff Mate to ask you about?</h3>

  <p class="lead">
    Personality types, mindset, mental and physical health, personal growth and healing, neuroscience, tribal fusion bellydance, Indian head massage, whatever I've been reading about lately... 
  </p>
<% end %>

<%= partial "members/profile"  %>
