---
title: Ellen Cubbin at The Skiff in Brighton
sitemap_priority: 0.5
description: A Laravel programmer who helps other programmers spend more time with their clients.
image: /images/.jpg

member:
  first_name: Ellen
  last_name: Cubbin
  title: A Laravel programmer who helps other programmers spend more time with their clients.
  subtitle: Ellen's academic background in physics and music bring a balance of logic and creativity that you can depend on.
  they: she
  them: her
  their: her
  image: /images/ellen-cubbin.jpg
  twitter: 
  website: http://www.beebell.co.uk


---

<% content_for :q_and_a do %>
  <h3>1. How did you get into becoming a web developer?</h3>

  <p class="lead">
    I started way back! In the final year of my physics degree (1999 - although I’m not sure I want to admit I’ve been doing it that long) I did an elective called 'Introduction to computing' and as part of that we created a web page with HTML. I thought the web was really cool, so after I graduated I taught myself HTML, made my first website, and then got a job where I learned ASP.
  </p>
  <p class="lead">
    Eventually I took a year out and came to Brighton to study music at BIMM. After that I got a job in admin at the University of Brighton, but I kept making little web applications (in PHP this time) for various processes that required huge numbers of paper forms. So eventually I went back into web development because I just couldn't help it!
  </p>

  <h3>2. What are you developing this week?</h3>

  <p class="lead">
    Earlier this week we released a new website for a local tech company (I'd been working on it with another developer).  Now I'm working on rescuing a wordpress site for another local company.  They have lots of modified (not upgradable) plugins and custom code and no control over their web current hosting. 
  </p>

  <h3>3. Who are your favourite clients?</h3>

  <p class="lead">
    Sometimes I work with/for other developers on larger projects. I like working with other developers because you can learn so much and big projects because they have interesting challenges to solve.
  </p>
  <p class="lead">
    I also like working with owners of small businesses, who are not necessarily technical people.  I love being able to solve someone's problem or explain a technical concept.  And I love the thanks and appreciation!
  </p>

  <h3>4. What kind of development work did they hire you to do?</h3>

  <p class="lead">
    On bigger projects I usually work with Laravel (PHP framework), consuming APIs and presenting data.
  </p>
  <p class="lead">
    For small businesses I also work as part of a team to complete new site builds, usually in Wordpress.
  </p>


  <h3>5. Why did they choose you to do the development work over anyone else?</h3>

  <p class="lead">
    I think it comes down to a combination of experience, availability and recommendation.  It is always lovely to hear that someone has recommended you!
  </p>


  <h3>6. What advice would you give to someone trying to choose a programmer to work with?</h3>

  <p class="lead">
    I think you need to consider skill set and communication.  
  </p>
  <p class="lead">
    Obviously you need someone with the skills to do the project in hand, but I wouldn't worry too much about someone having the exact experience. Often skills are transferrable from one project to the next and programmers love solving new problems. But general area is important. Do you need someone who can put together a whole website for a small business? Do you need a full-stack or back-end developer who get all the functionality working? Do you need someone with serious front-end dev skills to make your site look really snazzy? Do you need a mobile app developer?  
  </p>
  <p class="lead">
    Being able to communicate well is vital. You don't want to work with someone who makes no sense, makes things sound complicated or is hard to talk to because there are skilled programmers who are also good communicators. So have a chat with them about the project. Do you feel listened to and understood? Do their responses make sense?
  </p>

  <h3>7. What do you like to do with your time when you’re not programming?</h3>

  <p class="lead">
    Dancing, listening to music, reading, walks in the countryside, eating good food and occasional singing and guitar playing.
  </p>

  <h3>8. Why did you decide to join The Skiff?</h3>

  <p class="lead">
    I'd just started freelancing again and was working from home. I knew about The Skiff and was considering joining.  Then I had a meeting in the Skiff and liked it so much that I joined immediately. My environment is very important to me (part of my reason for freelancing). 
  </p>

  <p class="lead">
    The facilities are great - I can borrow extra monitors and plug them in to my laptop.  And Skiffmates help each other out on questions/challenges as everyone has different areas of expertise.
  </p>

  <h3>9. What advice would you give a new Skiffmate?</h3>


  <p class="lead">
    Don't be shy, everyone is very friendly! Get on to Slack more.
  </p> 

  <h3>10. What would you like a fellow Skiffmate to ask you about?</h3>

  <p class="lead">
    Tribal fusion bellydance, the HSP trait, whatever I've been reading about lately... 
  </p>
<% end %>

<%= partial "members/profile"  %>
