---
title: Dan Young at The Skiff in Brighton
sitemap_priority: 0.5
description: A market researcher who helps the owners of energy and finance businesses to find new insights in their existing research and data.
image: /images/dan-young.jpg

member:
  first_name: Dan
  last_name: Young
  title: A market researcher who helps the owners of energy and finance businesses to find new insights in their existing research and data.
  subtitle: Dan applies over 17 years experience to cut straight to the commercially critical answers his clients need.
  they: he
  them: him
  their: his
  image: /images/dan-young.jpg
  twitter: danielowenyoung
  website: http://shedresearch.co.uk/


---

<% content_for :q_and_a do %>
  <h3>1. How did you get into providing market research consultancy? When did you start?</h3>

  <p class="lead">I started in the industry straight from university 17 years ago. Market research appealed because it married my passions for how people think and communication, and my more academic focus on numbers and statistics.</p>

  <p class="lead">Over the years, I've conducted research at the some of the UK's leading agencies and also commissioned research as a client. I could see a real opportunity to provide something different. So, five years ago, I set up Shed Research.</p>

  <p class="lead">Most research agencies are method-focused and most clients are business-focused. I put myself between these two stools; providing clear, commercial research.</p>

  <p class="lead">I focus on what my clients need to do differently with the insight they have. I work with them to make more of their existing research and only suggest conducting fresh research to fill any gaps. This is more cost effective, faster and gives a more-rounded piece of research. Drawing from a range of different sources, it's less open to methodological biases.</p>


  <h3>2. What are you researching this week? Or this month?</h3>

  <p class="lead">This week, I've been working with a major international bank. We're setting up an internal &lsquo;community' of their pension members. This community will be consulted over the next year on a range of different topics. It'll help the bank's pension team stay in touch with what their members want and how they want to be communicated with. We'll also be testing different website and communication developments.</p>

  <p class="lead">Over the past month, I've been working with a growing financial services business to define its target markets &ndash; who its existing customers are, how this compares to the rest of the market and where the potential exists. This has helped the board define and set its new growth strategy.</p>

  <p class="lead">I've also helped a new regional energy company understand how its brand has developed since it launched this time last year. This research has helped it justify its marketing spend and understand which channels and messages are cutting through.</p>


  <h3>3. Who are your favourite clients? What do they do?</h3>

  <p class="lead">I work mainly in the finance and energy sectors. My favourite clients are small- to medium-sized businesses. Because of their size, I'm commissioned by the people who run the business. This means they really listen to the insight I give them and act on my findings.</p>

  <p class="lead">My favourite clients are:</p>

  <ul>
  <li class="lead"><a href="https://bristol-energy.co.uk/"><span>Bristol Energy</a></span> &ndash; a municipal energy company owned by Bristol City Council. It has a social remit and puts money back into the community. I was a finalist for an <a href="http://www.shedresearch.co.uk/project/mrs-award/"><span>MRS Award in 2016</a> for my research as part of the business case to set up the company</span></li>
  </ul>

  <ul>
  <li class="lead"><a href="https://www.onefamily.com/"><span>OneFamily</a></span> &ndash; a Brighton-based mutual financial organisation. Unlike many in its sector, it's a growing business with big plans and a drive to succeed. I helped them set up their customer insight team and continue to provide ongoing consultancy support to their senior management teams.</li>
  </ul>

  <h3>4. What kind of research did they hire you to do? What did it involved?</h3>

  <p class="lead">I help my clients make more of their existing research. They're very often swimming in large amounts of data and insight. They need my help applying all of this to a new business question.</p>

  <p class="lead">When I get a brief, the first thing I'll do is ask to see everything else a client has on that particular topic. For example, what research they have that covers older people's attitudes to finance and their current financial situation.</p>

  <p class="lead">Once I've understood what we already know, I can recommend the best approach to fully meet their brief and fill in the gaps in our knowledge. This might mean re-analysing some data from a survey with older people, conducting some qualitative interviews with this audience or running a short survey.</p>

  <p class="lead">This more-resourceful approach means we don't spend a lot of time or money collecting unnecessary information. And the client gets an answer to their questions much faster.</p>


  <h3>5. Why did they choose you to do the research over anyone else?</h3>

  <p class="lead">I've commissioned research myself so I know how it's used in organisations. This means I don't give my clients unnecessarily lengthy presentations. I cut straight to what they need to know and what it means for the business decisions they face.</p>

  <p class="lead">But, probably my clients are better at summing up why they use me in their own words:</p>
  <p class="lead">&ldquo;Dan's a sophisticated thinker who never over complicates things. His recommendations are always clear and relevant to the commercial realities. Everyone at Quietroom looks forward to working with Dan.&rdquo;</p>
  <p class="lead">Mark Scantlebury, Founder, Quietroom</p>
  <p class="lead">&ldquo;Market research is the strongest secret weapon for effective marketing &ndash; if done well.&nbsp; That's why we use Dan Young at Shed Research.&rdquo;</p>
  <p class="lead">Jane Wiley, previously Marketing Director, Christie &amp; Co</p>
  <p class="lead">&ldquo;When I needed some senior insight expertise at OneFamily, Dan was the first person I thought of&hellip; He has presented on a number of occasions to our senior executive team and built himself a great reputation within the business.&rdquo;</p>
  <p class="lead">Tracey Hastings, Head of Brand and Customer Strategy, OneFamily</p>
  <p class="lead">There are some more testimonials <a href="http://www.shedresearch.co.uk/client-testimonials/"><span>here</a>.</span></p>

  <h3>Follow up to 4. What tools or technologies do you often use to conduct research?</h3>
  <p class="lead">I don't believe that methods or technologies should lead a piece of research. It should be grounded in what the client is trying to achieve. So I'm method-neutral. I use the right tools for the job. That might be online forums, focus groups, telephone interviews or SurveyMonkey. I'm well-versed in most market research techniques &ndash; qualitative or quantitative. And if I don't have the right skills to do what's needed, I work with a network of experienced research professionals (the ICG) to bring in the right people for the job. </p>

  <h3>6. What advice would you give to someone trying to choose a researcher to work with?</h3>

  <p class="lead">Choose someone who knows your sector. A lot of researchers are generalists. They specialise in a method, tool or technique rather than an industry. This means they won't know your sector as well as you. They're very likely to uncover things in their research that you already know. They won't fully appreciate the limitations or regulation you operate within. They won't know the strengths and weaknesses of your competitors. </p>

  <p class="lead">Using someone with industry knowledge means they'll get to new insight faster. They'll see things generalists would miss. And they'll give recommendations that will truly help you move your business forward.</p>


  <h3>7. What do you like to do with your time when you're not researching?&nbsp;</h3>

  <p class="lead">I love to cook - whether it's feeding three hungry children or baking bread for fellow Skiffmates. I thought I wanted to cook professionally. That was, until I saw what professional kitchens are like. So I decided to stick to my unprofessional one for now.</p>

  <p class="lead">I offset this food obsession, and the resulting impact on my waistline, with as much sport as possible. I love playing football and squash whenever I get the chance. And I've recently taken up yoga again after an 18 year hiatus.</p>


  <h3>8. Why did you decide to join The Skiff? Where were you working from before?</h3>

  <p class="lead">When I first set up on Shed Research, I worked from home, from coffee shops, and latterly in a friend's office in Brighton. I loved the freedom. But I missed being part of something. I missed the office parties, the jokes over the coffee machine, and just being around productive people. That's what first attracted me to the Skiff.</p>

  <p class="lead">Another important reason was having people to bounce ideas off. A lot of my work requires me to think through problems creatively. For this, I needed to be stimulated and hear different perspectives. I joined the Skiff to meet lots of different people, working on lots of different things. It's a real hub of enterprise and entrepreneurialism. What could be more stimulating than that?!</p>


  <h3>9. What advice would you give a new Skiff Mate? What would you do differently if you signed up for the first time today?</h3>

  <p class="lead">I'd say "Chuck yourself into the social side of the Skiff from day one."</p>

  <p class="lead">For my first few months, I spoke to the same few people. It was only at my first Skiffmas (the now-legendary Christmas party) that I really got to know people. In England, I guess sharing a beer is the equivalent of breaking bread in other cultures. From that evening, met so many lovely people in the Skiff and I found some great friends as well.</p>


  <h3>10. What would you like a fellow Skiff Mate to ask you about? Maybe something not work related that you could talk for hours about over a coffee or beer?</h3>

  <p class="lead">Ask me about politics. After the shock Brexit and US election results of 2016, there's so much to talk about. How did the opinions polls not see it coming? What will happen next? How can we deal with so much uncertainty? What will happen to the Tories with no effective opposition? And then there's the pro-EU LibDems? We'd need hours to do it justice.</p>
<% end %>

<%= partial "members/profile"  %>