---
title: Events at The Skiff
sitemap_priority: 0.7
---

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5 mx-auto my-5">
      <h1 class="text-center">"We love coming to The Skiff, this place is the hub of Brighton's digital-creative community"</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
      <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link" href="/place">Your Space</a>
        <a class="nav-item nav-link" href="/work">Work Space</a>
        <a class="nav-item nav-link" href="/social">Social Space</a>
        <a class="nav-item nav-link active" href="/events">Events Space</a>
        <a class="nav-item nav-link" href="/meetings">Meeting Space</a>

      </nav>
      <h2 class="my-3">Expand your mind and your network</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">

        <p>These are the events and meetups that are taking place at The Skiff. Some daytime meeting room bookings will also be shown here.</p>

        <p class="text-align-center">
          <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FLondon&amp;src=dGhlc2tpZmYub3JnX3BvNm4xNGFmaTZmZnA2cDZqZG52bnA0NTIwQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=dGhlc2tpZmYub3JnX2ltaTJnaTc3YmZlN2dqZGNtNmYzZ2dkcmRvQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=dGhlc2tpZmYub3JnX29sMm1naHJocDNhNGk2c3V1MjhrNXNiZnEwQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=dGhlc2tpZmYub3JnXzR0ZzJpZzNlMWRjMjY5ajJjdWJwaDBxbTVnQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=dGhlc2tpZmYub3JnXzRpdm5pMWxrbTFpMDhvbjQ5bWJiaXA3ZmZzQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=dGhlc2tpZmYub3JnX2xuamFhcWxvajV0YnRvcGlpMnU0YjQ4aGFnQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=ZW4tZ2IudWsjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%239d261d&amp;color=%23AD1457&amp;color=%237CB342&amp;color=%237CB342&amp;color=%23B39DDB&amp;color=%23B39DDB&amp;color=%23039BE5" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </p>

        <p>Key:</p>


        <ul>
          <li>Purple - The Bridge</li>


          <li>Blue - The Engine Room</li>


          <li>Light green - The Cabin</li>


          <li>Dark green - General events</li>
        </ul>



<hr>



        <h1 class="text-align-center">Regular meetups and events</h1>


        <p>&nbsp;</p>


        <ul>
          <li>
            <a href="https://www.facebook.com/bovinecemetery" target="_blank">Bovine Cemetery</a>&nbsp;(storytelling) - contact <a href="https://twitter.com/pebbletreeUK" target="_blank">Chris Holland</a>
          </li>


          <li>
            <a href="http://brightonalt.net/" target="_blank">Brighton ALT.NET</a>&nbsp;- contact <a href="https://twitter.com/mikehadlow" target="_blank">Mike Hadlow</a>
          </li>


          <li>
            <a href="http://brightongamecollective.com/" target="_blank">Brighton Games Collective Unity Meetup</a> - contact <a href="https://twitter.com/LoneWolfWills" target="_blank">Gareth Williams</a>
          </li>


          <li>
            <a href="http://www.meetup.com/Brighton-Java/" target="_blank">Brighton Java</a> - contact <a href="https://twitter.com/orbific" target="_blank">James Burt</a>
          </li>


          <li>
            <a href="http://www.meetup.com/Brighton-Lean-Agile-Group/" target="_blank">Brighton Lean Agile</a>&nbsp;- contact <a href="https://twitter.com/kjscotland" target="_blank">Karl Scotland</a>
          </li>


          <li>
            <a href="http://www.meetup.com/Brighton-Ruby-Group/" target="_blank">Brighton Ruby</a>&nbsp;- contact <a href="https://twitter.com/andycroll" target="_blank">Andy Croll</a>
          </li>


          <li>
            <a href="http://www.brightonpy.org/" target="_blank">BrightonPy</a> - contact <a href="https://twitter.com/j4mie" target="_blank">Jamie Matthews</a>
          </li>


          <li>
            <a href="https://twitter.com/codebarbrighton" target="_blank">Codebar Brighton</a>&nbsp;- contact <a href="https://twitter.com/Rosaemerald" target="_blank">Rosa Fox</a>
          </li>


          <li>
            <a href="http://www.datavisbrighton.com/" target="_blank">Data Visualisation Brighton</a>&nbsp;(4th Tuesday of the month) - contact <a href="https://twitter.com/prcweb" target="_blank">Peter Cook</a>
          </li>


          <li>
            <a href="http://www.meetup.com/Functional-Brighton/" target="_blank">Functional Brighton</a>&nbsp;- contact <a href="https://twitter.com/d6y" target="_blank">Richard Dallaway</a>
          </li>


          <li>
            <a href="https://www.facebook.com/groups/skiffgamesnight" target="_blank">Games night</a> - contact <a href="https://twitter.com/pebbletreeuk" target="_blank">Chris Hollands</a>
          </li>


          <li>
            <a href="http://sane-ug.brighton.org/" target="_blank">SANE Brighton</a>&nbsp;- contact <a href="https://twitter.com/sevanjaniyan" target="_blank">Sevan Janiyan</a>
          </li>


          <li>Skiff drinks (alternate Fridays, 1700)</li>


          <li>
            <a href="http://www.theskiff.org/skiff-dugnad" target="_blank">Skiff dugnad</a>
          </li>


          <li>
            <a href="http://www.theskiff.org/skiff-lunches" target="_blank">Skiff lunches</a>
          </li>


          <li>
            <a href="http://www.theskiff.org/skiff-new-members-drinks" target="_blank">Skiff new members drinks</a>
          </li>


          <li>
            <a href="http://www.theskiff.org/skiff-parties" target="_blank">Skiff parties</a>
          </li>


          <li>
            <a href="http://www.theskiff.org/the-skiff-show" target="_blank">The Skiff Show</a>
          </li>


          <li>
            <a href="http://uxbrighton.org.uk/" target="_blank">UX Brighton</a>&nbsp;(2nd Tuesday of the month) - contact <a href="https://twitter.com/yandle" target="_blank">Danny Hope</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
