---
title: Events at The Skiff
sitemap_noindex: true
sitemap_priority: 0.8
---

<div class="container">
<div class="row">
  <div class="col-xs-12 col-md-8 my-5 mx-auto">
        <h1 class="text-align-center">Coming up at The Skiff...</h1>


        <p>&nbsp;</p>


        <p>These are the events and meetups that are taking place at The Skiff. Some daytime meeting room bookings will also be shown here.</p>

        <p class="text-align-center"><iframe frameborder="0" height="600" scrolling="no" src="https://www.google.com/calendar/embed?title=Events%20at%20The%20Skiff&amp;mode=WEEK&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=theskiff.org_po6n14afi6ffp6p6jdnvnp4520%40group.calendar.google.com&amp;color=%237A367A&amp;src=theskiff.org_ol2mghrhp3a4i6suu28k5sbfq0%40group.calendar.google.com&amp;color=%235F6B02&amp;src=lr83qaupv269srtpjfvv7v2ngk%40group.calendar.google.com&amp;color=%23B1365F&amp;src=theskiff.org_4ivni1lkm1i08on49mbbip7ffs%40group.calendar.google.com&amp;color=%232952A3&amp;src=theskiff.org_rd8658heuvfm8dkun88g01tc4o%40group.calendar.google.com&amp;color=%23853104&amp;src=hello%40theskiff.org&amp;color=%23125A12&amp;ctz=Europe%2FLondon" style=" border-width:0" width="800"></iframe>
        </p>

        <p>Key:</p>


        <ul>
          <li>Purple - The Bridge</li>


          <li>Blue - The Engine Room</li>


          <li>Light green - The Cabin</li>


          <li>Dark green - General events</li>
        </ul>



<hr>



        <h1 class="text-align-center">Regular meetups and events</h1>


        <p>&nbsp;</p>


        <ul>
          <li>
            <a href="https://www.facebook.com/bovinecemetery" target="_blank">Bovine Cemetery</a>&nbsp;(storytelling) - contact <a href="https://twitter.com/pebbletreeUK" target="_blank">Chris Holland</a>
          </li>


          <li>
            <a href="http://brightonalt.net/" target="_blank">Brighton ALT.NET</a>&nbsp;- contact <a href="https://twitter.com/mikehadlow" target="_blank">Mike Hadlow</a>
          </li>


          <li>
            <a href="http://brightongamecollective.com/" target="_blank">Brighton Games Collective Unity Meetup</a> - contact <a href="https://twitter.com/LoneWolfWills" target="_blank">Gareth Williams</a>
          </li>


          <li>
            <a href="http://www.meetup.com/Brighton-Java/" target="_blank">Brighton Java</a> - contact <a href="https://twitter.com/orbific" target="_blank">James Burt</a>
          </li>


          <li>
            <a href="http://www.meetup.com/Brighton-Lean-Agile-Group/" target="_blank">Brighton Lean Agile</a>&nbsp;- contact <a href="https://twitter.com/kjscotland" target="_blank">Karl Scotland</a>
          </li>


          <li>
            <a href="http://www.meetup.com/Brighton-Ruby-Group/" target="_blank">Brighton Ruby</a>&nbsp;- contact <a href="https://twitter.com/andycroll" target="_blank">Andy Croll</a>
          </li>


          <li>
            <a href="http://www.brightonpy.org/" target="_blank">BrightonPy</a> - contact <a href="https://twitter.com/j4mie" target="_blank">Jamie Matthews</a>
          </li>


          <li>
            <a href="https://twitter.com/codebarbrighton" target="_blank">Codebar Brighton</a>&nbsp;- contact <a href="https://twitter.com/Rosaemerald" target="_blank">Rosa Fox</a>
          </li>


          <li>
            <a href="http://www.datavisbrighton.com/" target="_blank">Data Visualisation Brighton</a>&nbsp;(4th Tuesday of the month) - contact <a href="https://twitter.com/prcweb" target="_blank">Peter Cook</a>
          </li>


          <li>
            <a href="http://www.meetup.com/Functional-Brighton/" target="_blank">Functional Brighton</a>&nbsp;- contact <a href="https://twitter.com/d6y" target="_blank">Richard Dallaway</a>
          </li>


          <li>
            <a href="https://www.facebook.com/groups/skiffgamesnight" target="_blank">Games night</a> - contact <a href="https://twitter.com/pebbletreeuk" target="_blank">Chris Hollands</a>
          </li>


          <li>
            <a href="http://sane-ug.brighton.org/" target="_blank">SANE Brighton</a>&nbsp;- contact <a href="https://twitter.com/sevanjaniyan" target="_blank">Sevan Janiyan</a>
          </li>


          <li>Skiff drinks (alternate Fridays, 1700)</li>


          <li>
            <a href="http://www.theskiff.org/skiff-dugnad" target="_blank">Skiff dugnad</a>
          </li>


          <li>
            <a href="http://www.theskiff.org/skiff-lunches" target="_blank">Skiff lunches</a>
          </li>


          <li>
            <a href="http://www.theskiff.org/skiff-new-members-drinks" target="_blank">Skiff new members drinks</a>
          </li>


          <li>
            <a href="http://www.theskiff.org/skiff-parties" target="_blank">Skiff parties</a>
          </li>


          <li>
            <a href="http://www.theskiff.org/the-skiff-show" target="_blank">The Skiff Show</a>
          </li>


          <li>
            <a href="http://uxbrighton.org.uk/" target="_blank">UX Brighton</a>&nbsp;(2nd Tuesday of the month) - contact <a href="https://twitter.com/yandle" target="_blank">Danny Hope</a>
          </li>
        </ul>
<hr>
        <h1 class="text-align-center">Book a room</h1>


        <p class="text-align-center">If you'd like to plan an&nbsp;event, please select one of the rooms below.</p>


        <p class="text-align-center">Contact us at <a href="mailto:hello@theskiff.org">hello@theskiff.org</a> if you have any questions about running an event.</p>


        <p class="text-align-center">You can find information for event organisers <a href="https://theskiff.hackpad.com/Information-for-event-organisers-y5o2dkLSrFi" target="_blank">here</a>.</p>
<hr>
        <h2 class="text-align-center">The Bridge (lunchtime events)</h2>


        <p style="text-align:center">Large upstairs meeting room for up to 40 people (lecture style)&nbsp;<br>
        Ideal for workshops and training sessions<br>
        Natural light<br>
        Large TV screen with AppleTV for presentations</p>


        <p style="text-align:center">Available weekday lunchtimes 12:00-14:00</p>

        <p class="text-align-center"><a data-ycbm-modal="true" href="https://the-skiff-bridge-lunch.youcanbook.me/" target="_blank"><img src="http://youcanbook.me/resources/pics/ycbm-button.png" style="border-style:none;"></a>
        </p>
<hr>
        <h2 class="text-align-center">The Bridge (evening events)</h2>


        <p style="text-align:center">Large upstairs meeting room for up to 40 people (lecture style)&nbsp;<br>
        Ideal for workshops and training sessions<br>
        Natural light<br>
        Large TV screen with AppleTV for presentations</p>


        <p style="text-align:center">Available weekday evenings 19:00-22:00</p>

        <p class="text-align-center"><a data-ycbm-modal="true" href="https://the-skiff-bridge-evening.youcanbook.me/" target="_blank"><img src="http://youcanbook.me/resources/pics/ycbm-button.png" style="border-style:none;"></a>
        </p>
<hr>
        <h2 class="text-align-center">The Engine Room (evening events)</h2>


        <p style="text-align:center">Our main coworking space<br>
        Can fit up to 60 people<br>
        Projector and white screen for presentations</p>


        <p style="text-align:center">Available weekday evenings 19:00-22:00</p>

        <p class="text-align-center" id="yui_3_17_2_1_1504478281367_222"><a data-ycbm-modal="true" href="https://the-skiff-engine-room.youcanbook.me/" id="yui_3_17_2_1_1504478281367_221" target="_blank"><img id="yui_3_17_2_1_1504478281367_220" src="http://youcanbook.me/resources/pics/ycbm-button.png" style="border-style:none;"></a>
        </p>
      </div>
    </div>
  </div>