---
title: Code of Conduct
sitemap_noindex: true
sitemap_priority: 0.8
---

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 my-5 mx-auto">
      <h1>Code of Conduct</h1>
      <p>The Skiff is an inclusive Coworking community based on treating all individuals respectfully, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion (or lack thereof), or technology choices. So please don’t be nasty or mean. Be nice. Be considerate. Be civil. It’s easy.</p>

      <p>Switching from working at home alone to being surrounded by dozens of strangers that all seem to know each other can be very intimidating.</p>

      <p>Supportive Skiff Mates respect that most of their fellow coworkers are naturally introverted. They take time to get to know new members and members that they've not yet met. They make introductions between Skiff Mates with similar interests. And they encourage participation in group activities. Occasionally they start new gatherings of members and/or support others to organise their own activities. They are excellent to each other. It's not quite so easy but you can do that too.</p>

      <p>Very rarely, in any large gathering of humans, there are people who fail to behave nicely.</p>

      <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of The Skiff's board. We’re all happy to help, any time day or night:</p>
      <ul>
        <li>Jonathan Markwell, 07766 021485, jon@theskiff.org</li>
        <li>Anna Markwell, 07876685786, anna@theskiff.org</li>
        <li>Phil Jones, 01273 692 888, phil@wiredsussex.com</li>
        <li>Emma Bland, 01273 692 888, emma@wiredsussex.com</li>
      </ul>
      <p>Alternatively you can email: hello@theskiff.org</p>

      <p>Harassment includes:<p>
      <ul>
        <li>Offensive verbal comments related to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion and technology choices.</li>
        <li>Sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</li>
      </ul>

      <p>Participants asked to stop any harassing behaviour must immediately comply. If a participant engages in any of the aforementioned behaviour, we may take any action we deem appropriate, from warning the offender to immediately expelling the offender from the community with no refund.</p>

      <p>This document is based on <a href="https://2015.dconstruct.org/code-of-conduct">https://2015.dconstruct.org/code-of-conduct</a> which, in turn is based on <a href="http://confcodeofconduct.com">confcodeofconduct.com</a>, licensed under a <a href="https://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.</p>
    </div>
  </div>
</div>