---
title: Code of Conduct
sitemap_noindex: true
sitemap_priority: 0.8
---

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 my-5 mx-auto">
      <h1>Code of Conduct</h1>
      <h2><strong>As a Skiffmate, this place and this community belongs to you.</strong></h2>
      <p>Whether you&rsquo;re at The Skiff every day, once a month, or strictly remote, whatever level of experience, background, or industry you come from, this is YOUR clubhouse.</p>

      <p>In order to make sure this community can be home to everyone, we&rsquo;ve put together a few guidelines.</p>
      <h2><strong>We expect Skiffmates&hellip;</strong></h2>
      <p><em>To take care of themselves, each other, and this place.</em></p>

      <p>Be kind to each other, and to yourself. Create opportunities to collaborate with one another, and invite others to do so. Take care of our clubhouse as if it&rsquo;s your home (or better). Leave spaces better than you found them. Encourage others in their endeavors, and respect each other&rsquo;s privacy. Treat others with the professionalism, warmth, and respect with which you would like to be treated.</p>

      <h2><strong>To ensure all our Skiffmates feel safe and comfortable&hellip;</strong></h2>
      <p>The Skiff cares about creating an open and welcoming community, and we are committed to making membership a respectful and harassment-free experience for everyone, regardless of gender, gender identity and expression, sex, sexual orientation, disability, neuro(a)typicality, physical appearance, body size, race, ethnicity, national origin, immigration status, age, or religion.</p>
      <p>This Code of Conduct applies to our physical space at 30 Cheapside, outside of The Skiff at community-related social activities, and online in both public and private channels.</p>
      <h2><strong>Harassment includes, but is not limited to:</strong></h2>
      <ul>
      <li>Offensive comments or jokes related to gender, gender identity and expression, sexual orientation, disability, mental illness, neuro(a)typicality, physical appearance, body size, age, race, national origin, immigration status, or religion.</li>
      <li>Gratuitous or off-topic sexual images or behavior.</li>
      <li>Physical contact and simulated physical contact (eg, textual descriptions like &ldquo;*hug*&rdquo; or &ldquo;*backrub*&rdquo;) without consent or after a request to stop.</li>
      <li>Threats of violence.</li>
      <li>Incitement of violence towards any individual, including encouraging a person to commit suicide or to engage in self-harm.</li>
      <li>Deliberate intimidation.</li>
      <li>Stalking or following.</li>
      <li>Harassing photography or recording, including logging online activity for harassment purposes.</li>
      <li>Harming the discussion or community with methods such as sustained disruption, interruption, or blocking of community collaboration (i.e. trolling).</li>
      <li>Unwelcome sexual attention.</li>
      <li>Pattern of inappropriate social contact, such as requesting/assuming inappropriate levels of intimacy with others.</li>
      <li>Continued one-on-one communication after requests to cease.</li>
      <li>Deliberate &ldquo;outing&rdquo; of any aspect of a person&rsquo;s identity without their consent except when correcting someone or as necessary to protect vulnerable people from intentional abuse.</li>
      <li>Non-consensual publication of private correspondence.</li>
      <li>Unwelcome comments regarding a person&rsquo;s lifestyle choices and practices, including those related to food, health, parenting, drugs, and employment.</li>
      <li>Deliberate misgendering or use of &lsquo;dead&rsquo; or rejected names.</li>
      </ul>
      <p><strong>Nothing is too small or too large</strong>. We are always ready to help you out any way that we can. If something or someone has made you feel uncomfortable or unsafe, please don&rsquo;t hesitate to contact anyone on the response team (listed below). You can do this anonymously if you want.</p>
      <h2><strong>Enforcement</strong></h2>
      <p><strong>Participants asked to stop any harassing behavior are expected to comply immediately.</strong></p>
      <p>If a Skiffmate engages in harassing behavior, we retain the right to take any actions they deem appropriate to keep The Skiff a welcoming environment for all members. This includes but is not limited to warning the offender, facilitating an apology, asking the offender to leave the community, or, if necessary, calling the police.</p>
      <h2><strong>Reporting</strong></h2>
      <p>If you are being harassed by a member of The Skiff, notice that someone else is being harassed, or have any other concerns, please contact the Response Team at report@theskiff.org. You can be as involved as you want in the process that follows your report.</p>
      <p><strong>The current Response Team includes:</strong></p>
      <ul>
      <li>Anna Markwell</li>
      <li>Ben Edwards</li>
      <li>Caroline Beavon</li>
      <li>Carl Jeffrey</li>
      <li>Jonathan Markwell</li>
      <li>Nik White</li>
      <li>Phil Jones</li>
      </ul>

      <p>If the person who is harassing you is on the team, they will recuse themselves from handling your incident. We will respond as promptly as we can.</p>

      <p>If you prefer to make an anonymous report, <a href="https://talktospot.com/">please use this helpful bot.</a> (You can also use this link to create a report to keep for your own records.)</p>

      <p>We can&rsquo;t follow up an anonymous report with you directly, but the Response Team will fully investigate it and take whatever action is necessary to prevent a recurrence.</p>

      <p>We will respect confidentiality requests for the purpose of respecting community members. At our discretion, we may publicly name a person about whom we&rsquo;ve received harassment complaints, or privately warn third parties about them, if we believe that doing so will increase the safety of Skiffmates or the general public. We will not name reporting parties without their explicit consent.</p>
      <h2><strong>Want to suggest edits or ask questions about the Code?</strong></h2>
      <p>This anti-harassment policy is based on suggestions from Skiffmates, and derived from the <a href="https://www.indyhall.org/code-of-conduct/">Code of Conduct</a> developed by <a href="https://www.indyhall.org">Indy Hall</a> members, the example policy from the Geek Feminism wiki, created by the Ada Initiative and other volunteers, and also based on the <a href="https://www.mediawiki.org/wiki/Code_of_Conduct">MediaWiki Code of Conduct.</a></p>
      <p>Suggestions for edits and additions that will improve inclusion and diversity at The Skiff are welcome &ndash; please email hello@theskiff.org with recommendations.</p>

    </div>
  </div>
</div>