---
title: The Skiff's Space
sitemap_priority: 0.8
---


    <div class="jumbotron bg-white mb-3 rounded-0">
      <h1 class="text-center">"A place to get stuff done while surrounding yourself with people who make your work better"</h1>
    </div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
      <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link active" href="/place">Your Space</a>
        <a class="nav-item nav-link" href="/work">Work Space</a>
        <a class="nav-item nav-link" href="/social">Social Space</a>
        <a class="nav-item nav-link" href="/events">Events Space</a>
        <a class="nav-item nav-link" href="/meetings">Meeting Space</a>

      </nav>
    </div>
  </div>
</div>

<img class="img-fluid my-3" src="/images/outside-wide.jpg" alt="Desks">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
      <h2 class="my-3">A home for your work</h2>
      <p class="lead">Too many offices feel sterile, stuffy or a little too stylish. They strive to be perfect, professional or plush but fail to reflect the people who work there. When you join The Skiff, you become a Skiffmate and the space becomes your office and your clubhouse. You can play a part in making it feel like it's a space you can call your own.
      </p>

      <p class="lead">If you want to turn a blank wall into an art exhibition you are welcome to do it. If you want to change the layout of the tables please give it a try. Something missing that you think should exist in the space? Make a case for one to be purchased on the group mailing list. All we ask is that you remember that it's not just your space. Talk to your fellow Skiffmates before doing something others might object to. The best and longest lasting improvements to The Skiff have been collaborations between two or three Skiffmates.
      </p>
    </div>
    <div class="col-lg-6">
      <div class="card mb-3 text-center">
        <a href="/work" class="text-white">
          <img class="card-img" src="/images/desks.jpg" alt="Desks">
          <div class="card-img-overlay">
            <h4 class="card-title"><mark>Work Space</mark></h4>
            <p class="card-text"></p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-3 text-center">
        <a href="/social" class="text-white">
          <img class="card-img" src="/images/coffee2.jpg" alt="Coffee">
            <div class="card-img-overlay">
            <h4 class="card-title"><mark>Social Space</mark></h4>
            <p class="card-text"></p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-3 text-center">
        <a href="/events" class="text-white">
          <img class="card-img" src="/images/event2.jpg" alt="Event">
            <div class="card-img-overlay">
            <h4 class="card-title"><mark>Events Space</mark></h4>
            <p class="card-text"></p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-3 text-center">
        <a href="/meetings" class="text-white">
          <img class="card-img" src="/images/thebridge.jpg" alt="Meeting">
            <div class="card-img-overlay">
            <h4 class="card-title"><mark>Meeting Space</mark></h4>
            <p class="card-text"></p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>