---
title: The Skiff's Space
---
<div class="container">
<div class="row">
  <div class="col-xs-12 col-md-8 my-5 mx-auto">
    <h1>The Skiff's Space</h1>
    <p class="lead">
      The Skiff started in a 500 sq ft office on Cheltenham Place. In 2010 we moved to Gloucester Street and then knocked through to Gloucester Road in 2012. We moved into our current, 5,000 sq ft, space at 30 Cheapside in 2016.
    <p class="lead">
      Too many offices feel sterile, stuffy or a little too stylish. They strive to be perfect, professional or plush but fail to reflect the people who work there. The Skiff's space is The Skiff's members space. All members can play a part in making the space feel like an office of their own.</p>
    </p>
    <h2>Visiting</h2>
    <p class="lead">
      Our main enterance is on Blackman Street. 
    </p>
    <h2>Coworking Spaces</h2>
    <p class="lead"></p>
    <h2>Meeting Rooms</h2>
    <p class="lead"></p>
    <h2>Social Space</h2>
    <p class="lead"></p>
  </div>
  <div class="col-xs-12 col-md-8 my-5 mx-auto">
  <h2>Improving our space</h2>
  <p class="lead">We've applied the following principles when considering physical improvements to our space.</p>
  <h3>We prefer ideas and action from members over external consultants</h3>
  <p class="lead">No one understands Skiff Mates better than Skiff Mates. Your experiences working in your space and elsewhere should be the best source of ideas to improve it. 2nd and 3rd Mates who spend time in other spaces are particularly good at coming up with widely appreciated improvements. And when Skiff Mates work together to implement improvements things always turn out better than any of us expect.</p>

  <h3>We prefer long term processes over short term projects.</h3>
  <p class="lead">Are there things we could do once a month, once a week or once a day that would have a cumulative positive affect on our space over the next three to six months?</p>
  <h3>We prefer organic slow-growth over risky high-growth.</h3>
  <p class="lead">I’ll share more on this in a future email. But we’ve always operated with a small annual surplus and never taken on external debt beyond £20,000. Long story short… we’re unlikely to raise tens of thousands of pounds to invest in space improvements.</p>

  <h3>We prefer supporting ideas after decisions have been made</h3>
  <p class="lead">The hardest part of making an idea happen is dealing with the decisions that go with it. “Paint the walls” is a hard idea to make happen. “Paint The Engine Room pink” is easier. But if you said: “Buy three cans of this pink paint [B&Q link] and these brushes [Amazon link] so we can paint the south wall of The Engine Room pink on the 26th August” it’s highly likely to happen - even if you can’t make it on the 26th.</p>
</div>
</div>
</div>