---
title: The Skiff's Purpose
---
<div class="container my-5">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h1 class="text-center">The Skiff's Purpose</h1>

      <h2 class="text-center my-5">"Make working independently in Brighton better than employment anywhere."</h2>

      <p class="lead">The Skiff exists to help you escape the isolation of working at home alone. We all share an ambition to make Brighton a better place to make a living doing what we love.</p>

    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto my-3">
      <h2 class="text-center">People over space</h2>

      <p>The Skiff is a community above all else. Many of our 200 members started forming our community over decade ago, years before we even had a space. In the unlikely event that our building became unavailable, the community would find a way to continue supporting each other.</p>
    </div>
    <div class="col-md-8 mx-auto my-3">
      <h2 class="text-center">Members over clients<br/>
        <small>(or customers or guests or tenants or renters)</small>
      </h2>

      <p>We’re all in this together as members. The Skiff is your community and your workspace it exists to support you and adapt to your needs. You have the freedom to make it your own.</p>
    </div>
    <div class="col-md-8 mx-auto my-3">

      <h2 class="text-center">Trust over policy</h2>

      <p>We prefer breaking rules to making rules. The Skiff has very few hard and fast terms and conditions. Simply be excellent to yourself, each other and your space.</p>
    </div>
    <div class="col-md-8 mx-auto my-3">

      <h2 class="text-center">Purpose over profit</h2>

      <p>We’re free to choose our path. No one depends on The Skiff for financial gain. We don’t have any full-time employees or directors. And we’re not dependent on external investment, grant funding, sponsorship or donations. Success for us all is being able to continue supporting each other and our respective businesses.</p>

    </div>
  </div>
  <div class="row">
    <div class="col-md-10 mx-auto mt-5">
      <h2 class="text-center">Five things The Skiff should be doing to acheive its purpose</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto mt-2 mb-5">
      <ol>
        <li>The Skiff should be Brighton’s most comfortable environment for individuals to enjoy their work and achieve their ambitions.</li>
        <li>The Skiff should be financially sustainable with revenue from flexible month-to-month memberships and no dependence on external funding.</li>
        <li>The Skiff should be one of Brighton’s most inclusive communities so that it has a better ability to adapt to change and positively influence it.</li>
        <li>The Skiff’s physical and online spaces should be continuously improved to be a better reflection on members and their diverse interests.</li>
        <li>The Skiff should feel like it belongs to its members and be legally owned by its individual members so that it always puts their best interests first.</li>
      </ol>
    </div>
  </div>
</div>