---
title: The Skiff's Purpose
---
<div class="container my-5">
<div class="row">
<div class="col-md-10 mx-auto">
<h1 class="text-center">The Skiff's Purpose</h1>

<h2 class="text-center">"Make working independently in Brighton better than employment anywhere."</h2>

<p class="lead">The Skiff exists to help you escape the isolation of working at home alone. We all share an ambition to make Brighton a better place to make a living doing what we love.</p>

<h2 class="text-center">People over space</h2>

<p>The Skiff is a community above all else. Many of our 200+ members started forming our community over decade ago, years before we even had a space. People with common interests working together in coffeeshops, drifting between friends offices and organising events in any spaces we could get access to. In the unlikely event that our space became unavailable the community would find a way to continue supporting each other.</p>

<p>The Skiff feels more like a home because it has been created by the people who use it. The community has survived through two moves and one expansion. We’ve also regularly worked together to reboot the spaces we’ve occupied to keep them fresh and ensure they serve the needs of current members.</p>

<h2 class="text-center">Members over clients<br/><small>(or tenants or customers or guests)</small></h2>

<p>The Skiff doesn’t have clients, tenants or customers. We’re all in this together as members. While there are a small number of people who have legal and financial responsibility for the Skiff’s building, the details are the collective responsibility of members. If you want to turn a blank wall into an art exhibition and your fellow members don’t object you are welcome to do it. If you want to change the layout of the tables and everyone still has a place to work please give it a try. Something missing that you think should exist in the space? Make a case for one to be purchased on the group mailing list.</p>

<h2 class="text-center">Individuals over teams</h2>

<p>If you can work in a team full-time enjoy every minute of it. The Skiff primarily exists to serve individuals. Teams do have the same needs as individuals, they have each other and . A team in a coworking space can very easily and unintentionally become the centre of attention. They prioritise communication with each other over everyone else. They hog resources that individuals would benefit from occasional use of. They can become depended on, leaving a big hole when they grow out of a space.</p>

<h2 class="text-center">Businesses over startups</h2>

<p>The Skiff best serves established businesses. If you’re just starting out and don’t yet feel financially sustainable we recommend you focus on that first. The best way to save money if you’re a start up is to work from home for as long as you can. If you find yourself with a business that mostly involves just you, working alone at home you should consider spending some of your time at The Skiff. We’ll help you sustain that business without having to employee staff or take on an office of your own. We’ve had members join us at the point that they’re turning over around £20K per year and grow to over £100K per year while continuing to work alone.</p>

<h2 class="text-center">Purpose over profit</h2>

<p>The Skiff is not the primary income generator for anyone. We don’t have any full-time employees or directors. We’re not dependent on external investment or grant funding. We’re free to choose our path. We’d rather create something thats valuable to our members for the next 100 years than work out how to extract as much cash as possible from each other in the short term. Everyone who works on The Skiff or is in some way responsible for The Skiff has other professional interests that pay their bills. The Skiff’s purpose is to help all it’s members sustain their chosen approach to working independently of others.</p>
</div>
</div>
</div>