---
title: Contact The Skiff
---
<div class="container">
  <div class="row">

    <div class="col-xs-12 col-lg-5 col-xl-4">
      <h4>Contact</h4>
      <p class="card-text">
        <a href="mailto:hello@theskiff.org">hello@theskiff.org</a><br/>
        @<a href="http://twitter.com/theskiff">TheSkiff</a> on Twitter
      </p>
      <h4 class="card-title">Opening times</h4>
      <p class="card-text">
        8am to 6pm</br>
        Monday to Friday
      </p>
    </div>
    <div class="col-xs-12 col-lg-5 col-xl-4">
      <h4>Address</h4>
      <p>
        <%= image_tag "frontdoor.jpg", :width=>100, :class=>"float-left mr-2" %>
        <address>
          The Skiff<br/>
          30 Cheapside<br/>
          Brighton<br/>
          BN1 4GD
        </address>
        <small><a href="https://goo.gl/maps/jGJY1dY21y52">(main entrance on Blackman Street)</a></small>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8 my-5 mx-auto">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10080.395165973861!2d-0.138472!3d50.829334!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa82eae645ae91b0f!2sThe+Skiff!5e0!3m2!1sen!2suk!4v1504477066751" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>