---
title: People at The Skiff
sitemap_noindex: true
sitemap_priority: 0.8
---

<div class="jumbotron bg-white mb-3 rounded-0">
  <h1 class="text-center">"The Skiff isn't just a workplace for me, it's also a community and a second home"</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
      <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link active" href="/people">Your Community</a>
        <a class="nav-item nav-link" href="/members">Your Skiff Mates</a>
        <a class="nav-item nav-link" href="/captains">Your Captains</a>
        <a class="nav-item nav-link" href="/stewardship">Stewardship</a>
      </nav>
      <h2 class="my-3">Surround yourself with better coworkers</h2>
      <p class="lead">
        The Skiff is a community first and a workspace second. When you join you're not a customer, client, tennant or guest. You'll become a member. And members of The Skiff are known as Skiff Mates.
      </p>
      <p class="lead">
        Skiff Mates have personally choosen to be members of The Skiff. We're not here because our employers want us to be here. We've all experienced the challenges of working from home. Some of us choose to work here all the time. But most of us find 1 to 3 days a week in the company of others makes a huge difference to our productivity and wellbeing.
      </p>

    </div>
  </div>
</div>

<div class="text-center my-5">
<% data.members.each do |member,profile| %>
<a href="http://twitter.com/<%= member %>">
  <img class="panel-profile-img" height="100" gravity="north" crop="fill" style="height: 100px; background-color: #fff;  margin-top: 0px;" onerror="this.style.display=&#39;none&#39;;" src="https://twitter.com/<%= member %>/profile_image?size=original" alt="<%= member %>" /></a>
<% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
    <h2>We...</h2>
    <ul>
      <li>
        <strong>Design things...</strong> Animators, Aritists, Fabricators, Graphic Designers, Ilustrators, Industrial Designers, User Experience Spacialists
      </li>
      <li>
        <strong>Develop technology...</strong> App Developers, Architects, Data Scientists, DevOps, Engineers, Programmers, Testers, Web Developers
      </li>
      <li>
        <strong>Write words...</strong> Bid Writers, Bloggers, Content Strategists, Copywriters, Editors, Information Architects, Interpreters, Journalists, Novelists, Poets, Proofreaders, Screenwriters, Speechwriters, Translators, Writers
      </li>
       <li>
        <strong>Produce media...</strong> Actors, Directors, Film Makers, Music Producers, Musicians, Photographers, Sound and Lighting Specialists, TV Producers, Podcasters, Projection Designers, Video Editors
      </li>
      <li>
        <strong>Apply specialist knowledge...</strong> Acedemic Researchers, Data Analysts, Market Researchers, Accountants, Analysts, Tax Advisors, Investors, Mathematicians, Surveyors, Lawyers, Solicitors,
      </li>
      <li>
        <strong>Promote products and services...</strong> Book Publicists, Brand Placement Specialists, Communications Strategists, Community Managers, CRO Consultants, Digital Marketing Consultants, Marketing Automation Specialists, PR Consultants, SEO Specialists, Social Media Consultants, 
      </li>
      <li>
        <strong>Teach and support people...</strong> Course Curators, Conference Organisers, Coaches, Counsellors, HR Specialists, Human Rights Specialists, Learning Consultants, Lecturers, Leadership Trainers, Mentors, Policy Advocates, Public Health Consultants, Tutors, Speakers, Workshop Facilitators
      </li>
      <li>
        <strong>Manage projects and processes...</strong> Account Managers, Application Managers, Logistics Managers, Management Consultants, Project Managers, Production Managers, Policy Officers, Solutions Consultants, Support Specialists, Travel Agents, Virtual Assistants
      </li>
      <li>
        <strong>Start and lead businesses and organisations...</strong> Agency Owners, Company Directors, Entrepreneurs, Founders, CTOs, COOs, CEOs, MDs, Regional Managers, Shopkeepers
      </li>
    </ul>

    <h2 class="mt-5">What you'll get from the community</h2>

    <p class="lead">
     Some members have got more work as a result of the relationships they've built here. Others have become recognised local authorities on topics by running events here. Many have made lasting friendships here.
    </p>

    <p class="lead">
      We don't have any VIPs, corporate members or teams that need to be treated differently from everyone else. If you work one day a week you should feel just as much of a sense of belonging as someone who has a dedicated desk.
    </p>

    <p class="lead">
      What you get from your membership is up to you. The more you participate, and take time to get to know your fellow coworkers, the more you'll feel at home.
    </p>
       <nav class="nav nav-pills nav-fill my-5">
        <a class="nav-item nav-link active" href="/people">Your Community</a>
        <a class="nav-item nav-link" href="/members">Your Skiff Mates</a>
        <a class="nav-item nav-link" href="/captains">Your Captains</a>
        <a class="nav-item nav-link" href="/stewardship">Stewardship</a>
      </nav>
</div>
</div>

</div>