---
title: People at The Skiff
---
<div class="container">
<div class="row">
  <div class="col-xs-12 col-md-8 my-5 mx-auto">
    <h1>People at The Skiff</h1>
    <p class="lead">
      The Skiff is a community first and a workspace second. When you join you're not a customer, client, tennant or guest. You'll become a member. And members of The Skiff are known as Skiff Mates.
    </p>
    <p>
      All Skiff Mates have personally choosen to be members of The Skiff. You can't buy a corporate membership to The Skiff for your team. And you can't get dedicated desks next to yours for your employees. The teams that work from The Skiff do so because their members individually choose to. And they continue to have the freedom to work wherever they like.
    </p>
    <p>
      We don't have any VIPs that need to be treated differently from everyone else. If you work one day a week you should feel just as much of a sense of belonging as someone who has a dedicated desk. What you get from your membership is up to you. The more you participate, and take time to get to know your fellow coworkers, the more you'll feel at home.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-8 my-5 mx-auto">
  <h2>Six of The Skiff's Skiff Mates</h2>
  </div>
</div>

<div class="card-deck">
  <div class="card mb-3">
    <img class="card-img-top" src="/images/andymattock.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Andy Mattock</h4>
      <p class="card-text">An experienced graphic and web designer who combines creativity with technical know-how. Recent projects have included content-managed websites, brand identities, promotional and fundraising materials. Clients have ranged from start-ups and SMOs in Brighton to national charities and organisations.</p>
      <blockquote class="blockquote">
      <p class="card-text">
        "Since moving to Brighton in 2004 I’ve worked in several co-working spaces. The Skiff though seems unique in offering a more inclusive and collaborative experience.
  You can be as involved as you like with what’s going on, both in terms of events and/or conversation, and cooperation.
  When I first looked to move to the Skiff the 2.5 days plan was perfect for me as I was sharing child-care with my wife and I was able to partly work from home and partly escape to the office!"
      </p>
      </blockquote>
    </div>
  </div>
  <div class="card mb-3">
    <img class="card-img-top" src="/images/carolinebeavon.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Caroline Beavon</h4>
      <p class="card-text">An infographic designer who helps organisations to make their information and data easier to digest. Caroline applies her background in journalism to create graphics that tell compelling stories.</p>
      <blockquote class="blockquote">
      <p class="card-text">
        "I joined the Skiff as soon as I moved to Brighton from Birmingham. There, I’d been renting a desk at a friends office for several years and loved the fact I had my own permanent desk but also being separate from their office business. I was even invited to their Xmas parties! I did a few years of working from home but in my small Birmingham flat it was a little claustrophobic and would often end up in coffee shops overdosing on caffeine!"
      </p>
      </blockquote>
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="card mb-3">
    <img class="card-img-top" src="/images/danyoung.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Dan Young</h4>
      <p class="card-text">A market researcher who helps the owners of energy and finance businesses to find new insights in their existing research and data. Dan applies over 17 years experience to cut straight to the commercially critical answers his clients need.</p>
      <blockquote class="blockquote">
      <p class="card-text">
      "When I first set up on Shed Research, I worked from home, from coffee shops, and latterly ina friend’s office in Brighton. I loved the freedom. But I missed being part of something. I missed the office parties, the jokes over the coffee machine, and just being around productive people. That’s what first attracted me to the Skiff.
      </p>
      <p class="card-text">
      Another important reason was having people to bounce ideas off. A lot of my work requires me to think through problems creatively. For this, I needed to be stimulated and hear different perspectives. I joined the Skiff to meet lots of different people, working on lots of different things. It’s a real hub of enterprise and entrepreneurialism. What could be more stimulating than that?!"
      </p>
      </blockquote>
    </div>
  </div>
  <div class="card mb-3">
    <img class="card-img-top" src="/images/ellencubbin.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Ellen Cubbin</h4>
      <p class="card-text">
        A Laravel programmer who helps other programmers spend more time with their clients. Ellen's academic background in physics and music bring a balance of logic and creativity that you can depend on.
      </p>
      <blockquote class="blockquote">
      <p class="card-text">
      "I'd just started freelancing again and was working from home.  I knew about The Skiff and was considering joining but then I had a meeting in the Skiff and liked it so much that I joined immediately. My environment is very important to me (part of my reason for freelancing).""
      </p>
      </blockquote>
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="card mb-3">
    <img class="card-img-top" src="/images/izzycrouch.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Izzy Crouch</h4>
      <p class="card-text">
        A digital marketer who helps market-leading local businesses to acquire more customers via online channels. Izzy won’t work with businesses that that are unlikely to get a measurable return from an investment in online marketing.
      </p>
      <blockquote class="blockquote">
      <p class="card-text">
      "I joined The Skiff when I relocated back to Sussex from Swansea. I had worked in co-working spaces in Swansea and knew it was the best way to build a network. I wanted to meet people both for work contacts and moral support and The Skiff has provide plenty of both."
      </p>
      </blockquote>
    </div>
  </div>
  <div class="card mb-3">
    <img class="card-img-top" src="/images/kyrandale.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Kyran Dale</h4>
      <p class="card-text">
        
      </p>
      <blockquote class="blockquote">
      <p class="card-text">
      </p>
      </blockquote>
    </div>
  </div>


</div>
</div>