---
title: Megan Sayers at The Skiff in Brighton
sitemap_priority: 0.5
description: 
image: /images/megan-sayers.jpg

member:
  first_name: Megan
  last_name: Sayers
  title: A designer and illustrator who helps tech, software as service (SaaS) and product businesses to delight their users.
  subtitle: Megan Sayers is one half of the design partnership, Make Good Design. Founded in 2020 Make Good focusses on using the power of good design to help good things happen in the world. Megan, business partner Becky and a small team of freelance specialists cover a broad range of digital design and strategy skills.
  they: she
  them: her
  their: her
  image: /images/megan-sayers.jpg
  twitter: Megan_Sayers
  website: http://www.megansayers.com/


---



<% content_for :q_and_a do %>
  <h3>1. How did you get into becoming a designer?</h3>

  <p class="lead">
I’ve always enjoyed experimenting with art and design. I spent five years working in a design agency after graduating university where I contributed to a wide range of web, print and branding projects. I then when back to college to get a formal design qualification and explore a more creative direction for my work. That was 12 years ago. I’ve since followed a path that lead to me starting my own freelance business and more recently forming Make Good.
  </p>

  <h3>2. What are you designing this week?</h3>

  <p class="lead">
I’m in the middle of a big project designing an app for a client in the electric vehicle market. We’re also working on a website for a sustainable kitchens company, having just completed their new brand.
  </p>

  <h3>3. Who are your favourite clients?</h3>

  <p class="lead">
We don’t have favourites! Although we do have a special relationship with Stronger Stories, who we’ve been working with since the start of 2020. We’re big fans of them and their work and we’re learning new things from them all the time.
  </p>

  <h3>4. What kind of design did they hire you to do?</h3>

  <p class="lead">
All sorts. Initially I updated their brand, and <a href="https://www.makegooddesign.co.uk/case-study-stronger-stories">designed their website</a> and we’re currently working on phase 2 of the site. They do a lot of consultancy for organisations like the UNDP and Innovate UK, so we support that work with all sorts of visual storytelling and design assets.
  </p>

  <h3>5. Why did they choose you to do the design over anyone else?</h3>

  <p class="lead">
I’ve never asked, but my freelance website had quite a bold style which invited the visitor into a sort of story, drawing them down the page, which I’m guessing they liked. I was also recommended to them by a previous client of mine.
  </p>

  <h3>6. What advice would you give to someone trying to choose someone like you to work with?</h3>

  <p class="lead">
It sounds obvious, but make sure you like the style of their work! If you don’t like what you see, you won’t like what they do for you. And make sure you choose people with similar values to you.
  </p>

  <h3>7. What do you do in your spare time?</h3>

  <p class="lead">
I used to do a lot of illustration in my spare time. But since the pandemic I have taken up growing vegetables in my garden which takes up a lot of my time and makes me very happy. I also love taking my dog for long walks, riding my mountain bike, snowboarding and paddle boarding with my family.
  </p>

  <h3>8. Why did you decide to join The Skiff?</h3>

  <p class="lead">
I’ve been a member of the skiff for about 8 years now. When I started I was working with another member already so it made sense to join her so we could collaborate more closely.
  </p>
<p class="lead">
  I once wrote down some things I love about the skiff, which explains it quite well;
</p>

  <p class="lead">The Skiff is not corporate, not trendy and not curated. It’s a community of curious minds who form new collaborations at the lunch table. If you want to hang fairy lights next to your desk, you can. You can stay behind for a drink on a Friday and not get home until 1am - because you’ve been up talking about stuff that wouldn’t interest your other friends. People here want to hear about your freelance problems and help you to solve them. And they care if you get ill. There’s a bell that has to be rung when there’s cake - and it rings a lot!
  </p> 

  <h3>9. What advice would you give a new Skiffmate?</h3>


  <p class="lead">
The skiff is a very relaxed space, so make sure you visit enough times to start to feel at home. Don’t be put off by it not being as fancy as some of the other co-working spaces, you’ll soon come to learn that it’s not a drawback, but actually what makes it feel so easy going and relaxed. And if you see me, come and say hi!
  </p> 

  <h3>10. What would you like a fellow Skiffmate to ask you about?</h3>

  <p class="lead">
Ask me about my garden, or my dog, or Make Good Design.
  </p>
<% end %>

<%= partial "members/profile"  %>
