---
title: Zoë Gray at The Skiff in Brighton
sitemap_priority: 0.5
description: A skilled advocacy and development professional with expertise in human rights.
image: /images/.jpg

member:
  first_name: Zoë
  last_name: Gray
  title: A skilled advocacy and development professional with expertise in human rights.
  subtitle: Zoë is currently working in international health and disability inclusion.
  they: she
  them: her
  their: her
  image: /images/zoe-gray.jpg
  twitter: zoejgray
  website: https://.com


---

<% content_for :q_and_a do %>
  <h3>1. How did you get into doing what you do?</h3>

  <p class="lead">
    From my school days I was writing letters for Amnesty International, collecting for charities, and interested in social justice. I have always known what I wanted to do. One of my early roles was in a human rights advocacy organisation and since then I have continued to work mostly in influencing positions. My work has involved travel in Asia, Europe and Southeast Europe and Africa and I have spent time living in Europe, Africa and Asia.
  </p>

  <h3>2. Who are you currently working with?</h3>

  <p class="lead">
    Currently I work as the advocacy manager at International Agency for the Prevention of Blindness and am available for consultancy assignments.
  </p>

  <h3>3. Why did they choose you over anyone else?</h3>

  <p class="lead">
    I am results-focused, skilled at developing advocacy strategies, and I have achieved many advocacy wins. I have a quite unique expertise across human rights, development, disability and international health. I am passionate and have expertise on advancing rights and inclusion of marginalised groups.
  </p>

  <h3>4. What are you working on this week?</h3>

  <p class="lead">  
    This week I am involved in commissioning a report on progress on eye health in the Commonwealth, I am planning meetings related to glasses and assistive technology, supporting a launch of a report, and preparing for a webinar I will host.
  </p>

  <h3>5. What do you like to do with your time when you’re not working?</h3>

  <p class="lead">
    I play volleyball and love nature and walking, plus I am a book-worm. I like to get to ‘not for the faint-hearted’ at the skiff when I can.
  </p>

  <h3>6. Why did you decide to join The Skiff?</h3>

  <p class="lead">
    I was working from home a number of days a week and experiencing extreme cabin fever. I have frequented the skiff over the years both as an employee and as a consultant. I have found it a great place to share ideas, get support, and enjoy some really fun social events. Plus, now we get free fruit my hopes of reaching 5-a-day has just gone up exponentially.
  </p> 

  <h3>7. What advice would you give a new Skiffmate?</h3>

  <p class="lead">
    Come to some of the social events. This is a great place to be super productive, make contacts etc. but the real sweet spot is meeting lovely and interesting people.
  </p> 

  </p>
<% end %>

<%= partial "members/profile"  %>
