---
title: Organise an event at The Skiff
sitemap_priority: 0.7
---

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto mb-5">
        <h1 class="text-align-center">Book a room</h1>


        <p class="text-align-center">If you'd like to plan an&nbsp;event, please select one of the rooms below.</p>


        <p class="text-align-center">Contact us at <a href="mailto:hello@theskiff.org">hello@theskiff.org</a> if you have any questions about running an event.</p>


        <p class="text-align-center">You can find information for event organisers <a href="https://theskiff.hackpad.com/Information-for-event-organisers-y5o2dkLSrFi" target="_blank">here</a>.</p>
<hr>
        <h2 class="text-align-center">The Bridge (lunchtime events)</h2>


        <p style="text-align:center">Large upstairs meeting room for up to 40 people (lecture style)&nbsp;<br>
        Ideal for workshops and training sessions<br>
        Natural light<br>
        Large TV screen with AppleTV for presentations</p>


        <p style="text-align:center">Available weekday lunchtimes 12:00-14:00</p>

        <p class="text-align-center"><a data-ycbm-modal="true" href="https://the-skiff-bridge-lunch.youcanbook.me/" target="_blank"><img src="http://youcanbook.me/resources/pics/ycbm-button.png" style="border-style:none;"></a>
        </p>
<hr>
        <h2 class="text-align-center">The Bridge (evening events)</h2>


        <p style="text-align:center">Large upstairs meeting room for up to 40 people (lecture style)&nbsp;<br>
        Ideal for workshops and training sessions<br>
        Natural light<br>
        Large TV screen with AppleTV for presentations</p>


        <p style="text-align:center">Available weekday evenings 19:00-22:00</p>

        <p class="text-align-center"><a data-ycbm-modal="true" href="https://the-skiff-bridge-evening.youcanbook.me/" target="_blank"><img src="http://youcanbook.me/resources/pics/ycbm-button.png" style="border-style:none;"></a>
        </p>
<hr>
        <h2 class="text-align-center">The Engine Room (evening events)</h2>


        <p style="text-align:center">Our main coworking space<br>
        Can fit up to 60 people<br>
        Projector and white screen for presentations</p>


        <p style="text-align:center">Available weekday evenings 19:00-22:00</p>

        <p class="text-align-center" id="yui_3_17_2_1_1504478281367_222"><a data-ycbm-modal="true" href="https://the-skiff-engine-room.youcanbook.me/" id="yui_3_17_2_1_1504478281367_221" target="_blank"><img id="yui_3_17_2_1_1504478281367_220" src="http://youcanbook.me/resources/pics/ycbm-button.png" style="border-style:none;"></a>
        </p>
    </div>
  </div>
</div>