---
title: Lizzie Davey at The Skiff in Brighton
sitemap_priority: 0.5
description: A writer who helps app startups and software as a service businesses build their authority and increase conversions with data-driven, long-form content.
image: /images/lizzie-davey.jpg

member:
  first_name: Lizzie
  last_name: Davey
  title: A writer who helps app startups and software as a service businesses build their authority and increase conversions with data-driven, long-form content.
  subtitle: Lizzie's worked with over 100 brands, helping them create successful content strategies, blog posts, and email marketing campaigns.
  they: she
  them: her
  their: her
  image: /images/lizzie-davey.jpg
  twitter: lizziedavey
  website: http://www.lizziedavey.com


---

<% content_for :q_and_a do %>
  <h3>1. How did you get into professional writing?</h3>

  <p class="lead">
    I started freelancing in 2014, but before then I’d been writing all sorts of content and copy as part of my previous roles in the marketing industry. I decided that writing was my favourite part of every project I worked on as a full-time employee, and I needed more of that in my life. So, in a whirlwind of a month, I quit my job and moved to Spain where the cost of living was lower so I could build up a client base. I actually started my freelance career in the travel industry, creating pieces for various travel brands around the world. When I came back to the UK about a year later, my increasing interest in the tech and marketing world (because content and marketing tend to go hand-in-hand) meant I started shifting my focus to SaaS companies and digital marketing brands. 
  </p>

  <h3>2. What are you writing this week?</h3>

  <p class="lead">
    This month I’m working on some really interesting projects with a couple of SaaS clients of mine. I’m in the middle of building a long-term content strategy for a SaaS app for ecommerce brands. We’ve just finished the market research stage where we integrated a survey into the app to find out more about user needs, and I’m just about to start SEO analysis and content ideation. 
  </p>
  <p class="lead">
    On top of that, I’m writing an ebook for another SaaS client and I’m just about to start the first data-driven piece for an Amazon AI tool after wrapping up their six-month content strategy. 
  </p>
  <p class="lead">
    I also create resources, courses, and workshops for fellow freelancers. I’m in the process of mapping out a couple of programs that help freelancers get paid more and find better clients (after conducting a pretty eye-opening survey at the end of last year), and I’m getting some ideas together for some events I’ll be speaking at in the next few months. 
  </p>

  <h3>3. Who are your favourite clients?</h3>

  <p class="lead">
    My favourite client at the moment is TINT, a SaaS company that helps brands leverage user-generated content via social media walls at events and on their website. I’ve worked with them for about eighteen months now, and it’s been great to see them grow to be one of the best social media tools in Silicon Valley.
  </p>

  <h3>4. What kind of writing did they hire you to do?</h3>

  <p class="lead">
    I write long-form data-driven pieces for them about user-generated content and the power of being human in content! At the moment I write one piece a week for them that covers the latest research and trends in the social media marketing world, as well as a fortnightly newsletter. I’ve also created case studies and turned webinars into blog posts amongst other things for them.
  </p>


  <h3>5. Why did they choose you to help them with their writing over anyone else?</h3>

  <p class="lead">
    I’d written for several high-profile marketing and social media publications before they hired me, so I had a lot of “social proof” to my name in that arena. On top of that, my portfolio at the time was really solid and showed I could make complicated concepts more understandable and make them engaging at the same time – a common struggle with SaaS companies.
  </p>
  <p class="lead">
    TINT regularly tout the importance of being human in content to build authenticity and trust, and I’ve been told over the years by clients that I have a unique way of writing in a conversational but authoritative tone.
  </p>
  <p class="lead">
    I also have a proven track record for getting results with the content I create and, since working with TINT, I’ve helped them get more clients and boost their authority in the social media marketing industry.
  </p>

  <h3>6. What advice would you give to someone trying to choose a writer to work with?</h3>

  <p class="lead">
    Don’t just look for someone who is good with their words (though that is important, obviously). Look for someone who knows your industry. Research goes a long way, but you can tell when a piece of content is written by someone who knows their stuff.
  </p>

  <h3>7. What do you like to do with your time when you’re not writing?</h3>

  <p class="lead">
    When I’m not furiously typing away at my desk, I love to travel (I’ve just booked flights to visit my 40th country in April), go for a motorbike ride, check out classic car and vintage shows, and trying out new drops and moves on circus silks.
  </p>

  <p class="lead">
    I’ve also just set up an upcycling and custom-made furniture venture with my partner, so I’m spending most of my weekends in the workshop covered in paint!
  </p>

  <h3>8. Why did you decide to join The Skiff?</h3>

  <p class="lead">
    I had been working from home for about a year and I was scarily close to going crazy. One day I realised I hadn’t spoken to another human being in 48 hours and that’s when I knew I needed to shake things up.
  </p>
  <p class="lead">
    After researching a few co-working spaces, I decided the Skiff’s laidback atmosphere and vibrant social scene was exactly what I needed.
  </p> 

  <h3>9. What advice would you give a new Skiff Mate?</h3>


  <p class="lead">
    Get involved as much as you can! It’s a great place to get some work done, but it’s the people that really make it special. If I signed up for the first time today, I’d go to as many of the social events as I could and integrate myself as much as possible.
  </p> 

  <h3>10. What would you like a fellow Skiff Mate to ask you about?</h3>

  <p class="lead">
    Tell me about the best place you’ve ever travelled to or somewhere you really want to go. I’m all ears when it comes to travel! Talk to me about words, too, and ask me all the questions you have about twins (I’m one of those)
  </p>
<% end %>

<%= partial "members/profile"  %>
