---
title: The Skiff - Work Space
sitemap_priority: 0.7
---
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5 mx-auto my-5">
      <h1 class="text-center">"A place to do your best work and exceed your professional ambitions."</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
      <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link" href="/place">Your Space</a>
        <a class="nav-item nav-link active" href="/work">Work Space</a>
        <a class="nav-item nav-link" href="/social">Social Space</a>
        <a class="nav-item nav-link" href="/events">Events Space</a>
        <a class="nav-item nav-link" href="/meetings">Meetings Space</a>

      </nav>
      <h2 class="my-3">Buzz and silence under one roof</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">

      <div class="card mb-3">
        <img class="card-img-top" src="/images/engine-room.jpg" alt="The Engine Room">
        <div class="card-body">
          <h4 class="card-title">The Engine Room</h4>
          <p class="card-text">This large space is the most popular part of The Skiff. After a few visits you'll always find familiar faces here. Conversation and background music are encouraged. But it should be easy to drown out with headphones. Phone calls with headphones are cool - just be conscious of people around you. Events often take place here after 6pm. Whenever that happens you are welcome to join in or continue working in The Sail Loft.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">

      <div class="card mb-3">
        <img class="card-img-top" src="/images/sail-loft.jpg" alt="The Engine Room">
        <div class="card-body">
          <h4 class="card-title">The Sail Loft</h4>
          <p class="card-text">When you need to escape the buzz of The Engine Room this is a quite space with no phone calls.</p>
        </div>
      </div>
    </div>
  </div>

</div>