---
title: The Skiff - Work Space
sitemap_noindex: true
sitemap_priority: 0.8
---
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5 mx-auto my-5">
      <h1 class="text-center">"A place to do your best work and exceed your professional ambitions."</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
      <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link" href="/place">Your Space</a>
        <a class="nav-item nav-link active" href="/work">Work Space</a>
        <a class="nav-item nav-link" href="/social">Social Space</a>
        <a class="nav-item nav-link" href="/events">Events Space</a>
        <a class="nav-item nav-link" href="/meetings">Meetings Space</a>

      </nav>
      <h2 class="my-3">Five work spaces under one roof</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">

      <div class="card mb-3">
        <img class="card-img-top" src="/images/engine-room.jpg" alt="The Engine Room">
        <div class="card-body">
          <h4 class="card-title">The Engine Room</h4>
          <p class="card-text">This large ground floor space is the most popular part of The Skiff. After a few visits you'll always find familiar faces here. Conversation and background music are encouraged. But it should be easy to drown out with headphones. Phone calls with headphones are cool - just be conscious of people around you. Events often take place here after 6pm. Whenever that happens you are welcome to join in or continue working upstairs. Say hello to Declan, Jim, Reza, Dave G, Tom, James H and Remi who each currently have dedicated desks here.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto mb-5">
      <div class="card-deck">
        <div class="card mb-3">
          <div class="card-body">
            <h4 class="card-title">The Sail Loft</h4>
            <p class="card-text">This first floor room is probably The Skiff's brightest space. Regular users of this decide its look and feel. Say hello to Mike, Dave H, Dave M and Jules who each currently have dedicated desks here.</p>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body">
            <h4 class="card-title">The Cheltenham Room</h4>
            <p class="card-text">Named after the street The Skiff first opened on. This first floor room is about the same size as the whole of the original space we had in 2008. Regular users of this space decide its look and feel. Say hello to Caroline and Nick who each currently have dedicated desks here.</p>
          </div>
        </div>
      </div>
      <div class="card-deck">
        <div class="card mb-3">
          <div class="card-body">
            <h4 class="card-title">The Gloucester Room</h4>
            <p class="card-text">Named after the street The Skiff moved to in 2010. This first floor room is almost identical to The Cheltenham Room. Regular users of this space decide its look and feel. Say hello to Richard who each currently has a dedicated desk here.</p>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <h4 class="card-title">The Poop Deck</h4>
            <p class="card-text">The landing at the top of the stairs. This is where you'll find printers and startionarey. It's a good spot for spontaneous serendipitous conversations with people coming and going from the other upperdeck coworking spaces and meeting rooms.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>