---
title: Thomas Buck at The Skiff in Brighton
sitemap_priority: 0.5
description: 
image: /images/thomas-buck.jpg

member:
  first_name: Thomas
  last_name: Buck
  title: A internet marketer who helps consumer facing businesses find novel ways of reaching their target markets.
  subtitle: Tom’s background is in web development, he has the technical skill and experience to build specialist tools to support the marketing campaigns he devises.
  they: he
  them: him
  their: his
  image: /images/thomas-buck.jpg
  twitter: 
  website: https://cow.army


---

<% content_for :q_and_a do %>
  <h3>1. How did you get into doing what you do?</h3>

  <p class="lead">
    A couple of years ago, I lucked into tickets for what turned out to be a quite incredible evening course about the basics of marketing. And when I say "the basics," I'm talking about the most beginner level stuff you can imagine, real "what is marketing," and "why do we do this" stuff.
  </p>
  <p class="lead">
    My background is in web development, and while I'd been lucky a couple of times with my own software-as-a-service sites, I hadn't really known what I was doing. Now though, I was learning all of this fun knowledge that I could go home and immediately start experimenting with on my existing websites. It was an exciting time to be a home developer!
  </p>

  <h3>2. What are you working on this week?</h3>

  <p class="lead">
    I'm really lucky as I get to enjoy working on projects that are both challenging to market, and challenging to develop.
  </p>
  <p class="lead">
    I spend my daytimes working on a series of broadband-related sites for the US market. Just like the UK, internet service providers there like to confuse the market and turn what should be a relatively simple commodity - basic internet access - into something really complicated, all oh-so different from their competitors, and with pricing patterns designed to make it impossible to directly compare one provider against another.
  </p>
  <p class="lead">
    Our sites cut through this nonsense, making it easy to compare providers, for those who're sick of paying top-dollar prices for bottom-dollar service from the big players in the market. 
  </p>

  <h3>3. Who are your favourite clients?</h3>

  <p class="lead">
    One of the the biggest challenges of being a solo worker long-term, I've found, is finding awesome people to work with who appreciate you, pay on time, and offer work that's regularly challenging enough that you don't find yourself robotically typing away, day-in, day-out.
  </p>

  <p class="lead">
    For me, I've had the best luck in this with small teams in the States. If you go in with a positive attitude, and you're not afraid to speak out when you think that something might not be a good idea, I think the slight differences in British and American cultures can really work in your favo(u)r.
  </p>

  <p class="lead">
    I love, love, love, the network of broadband sites I work with. If there's a great idea for reaching a particular market, for example, but we're not sure if the idea's even possible, or the it's possible to make the data work the way we *think* it should work, I'm given the opportunity to dive in and see what can be done! And with that level of support and commitment, it's funny - we've had *way* more successes than failures, possibly because there is no fear of failure.
  </p>

  <h3>4. What kind of work did they hire you to do?</h3>

  <p class="lead">
    There are a large number of challenges when you're competing for non-paid visitors in an extremely competitive environment - and anything to do with internet providers is highly competitive!
  </p>

  <p class="lead">
    We not only have to come up with novel ways of reaching our target markets, we also have to keep a strong eye on SEO, and do it better than our competitors who have multi-million dollar budgets.
  </p>

  <p class="lead">
    On a practical level, this means that we might have a chat about a tool that could be incredibly useful for specific visitors to one of our sites. If those users like the tool, they're going to talk about us, mention us in various places, suggest us to their own users - stuff that could subtly be a big win.
  </p>

  <p class="lead">
    But - and there's always a "but" - the tool will be a huge technical challenge *and* we need more market research *and* it will slow down page load times *and* users will ask for changes *and* there's a good chance Google won't like it *and* our competitors will probably try to steal data from it *and*...
  </p>

  <p class="lead">
    ... And I'm along there every step of the way making it happen :)
  </p>

  <h3>5. Why did they choose you over anyone else?</h3>

  <p class="lead">
    First of all, I've learned that I work best when I really care about a project - and my enthusiam tends to shine through when that first Skype call is taking place.
  </p>

  <p class="lead">
    I think it was after a month or two of working together that one of the cofounders told me one morning: "I'd just hired you, and was telling my wife: he just gets it."
  </p>

  <p class="lead">
    That is - other than a massively inflated ego - I didn't need second explanations, or help figuring out how to work with them. I got my head down, typed up thoughts and ideas probably filled with too much excitement, asked the right types of questions, and moved forwards without needing to have my hand held every step of the way, right from our very first emails and calls discussing working together.
  </p>

  <p class="lead">
    Still to this day, I often send a text to one of them about some idea I've seen that we could improve on, or a new audience I think we could reach.
  </p>

  <p class="lead">
    I think it's about not sitting back passively waiting to be told what to get done, but trying to push things forwards.
  </p>

  <p class="lead">
    That said, it's easy to talk about positivity and drive when you have a relatively long track record; I can't say things would have gone the same way if I'd only been doing this for a year or two beforehand. 
  </p>

  <h3>6. What advice would you give to someone trying to choose someone like you to work with?</h3>

  <p class="lead">
    One of the big problems with online marketing is that, like programming, it's really easy to sound vastly more knowledgeable than you actually are. It's also possible to give the appearance of having got things right by pure chance alone - as I know from experience! - and there's good reason to be cautious.  
  </p>
  <p class="lead">
    I tend to be slightly suspicious of people that repeat or recommend the words of self-styled industry "thought leaders." There's a whole industry based around selling marketing and business "knowledge," mostly from people who have achieved small success - or whose entire success has been the selling of knowledge. If someone keeps banging on about a specific ebook author, or a series of blogs they followed - well, I prefer to work with people who have built up knowledge from running successful campaigns.
  </p>
  <p class="lead">
    To be honest, I particularly like working with people who have had unsuccessful campaigns and know why!
  </p>

  <h3>7. What do you like to do with your time when you’re not working?</h3>

  <p class="lead">
    I have two daughters under five who enjoy taking turns at being the house dictator at any given moment; my negotiation skills have gone up a notch since they arrived on the scene. 
  </p>

  <p class="lead">
    A typical evening involves me sitting down and tapping away at the keyboard for a few hours; I really enjoy working with technology, and if I'm not marketing, I'm developing or running the business side of a given side project.
  </p>

  <p class="lead">
    Other than side projects, I enjoy torturing my household with my frankly astonishingly poor piano performances. I asked for an electric guitar for Christmas, and this year Santa delivered; given my past form, I'm still kinda amazed. 
  </p>

  <h3>8. Why did you decide to join The Skiff?</h3>

  <p class="lead">
    I spent nearly a decade living in Poland, renting a decent-sized private office at a startup house right in the centre of Warsaw. It was just what I needed, and when we moved to the UK, I was dismayed that I couldn't find any serviced offices or a coworking space in Haywards Heath. I started looking at places nearby - like Burgess Hill - but only found really grotty and unpleasant enviroments.
  </p> 

  <p class="lead">
    Looking all over the place, I found The Skiff's website, and while I really liked what I read on the website - yay, lovely people who do what I do! - I was slightly apprensive about commuting by train.
  </p>

  <p class="lead">
    In the end, it turned out to be a complete non-issue: 15 minutes of train time, 5 minutes of walking, and bam, awesome happy and produtive place to work.
  </p>

  <h3>9. What advice would you give a new Skiff Mate?</h3>


  <p class="lead">
    Get outside of your comfort zone, stand up, say "Hi, I'm Tom, this is what I do, what do you do?" to everyone you meet, and you'll quickly find yourself surrounded by the loveliest, friendliest, talented, compassionate, considerate, and downright helpful bunch of people it's possible to meet.
  </p> 

  <p class="lead">
    That might sound almost sickly sweet but it's true: every day, I get to be incredibly produtive *and* enjoy all the social stuff that I missed when working on my own. 
  </p>

  <h3>10. What would you like a fellow Skiff Mate to ask you about?</h3>

  <p class="lead">
    I love cows. I don't know many cow facts, but if you want to get on my good side, cows are always a good start. I like talking shop, comparing notes on raising kids, and arguing over progressive rock. If you've ever been to Poland,are planning a visit (and I do recommend the place, seriously, visit in the summer, it's awesome), or have a Polish connection, let me know, I love chatting about my time there.
  </p>
<% end %>

<%= partial "members/profile"  %>