---
title: Skiff Mates Guide to The Skiff
---
<div class="container">
<div class="row">
  <div class="col-xs-12 col-md-8 my-5 mx-auto">
        <p>The Skiff is run by the people in our community who choose to do things or take responsibility for things in the interests of the other members of our community. While not common, the term <a href="http://www.communitywiki.org/cw/DoOcracy" target="_blank">doOcracy</a> seems to be the best fit. There are two roles members primarily fill to make The Skiff work. Those are the roles of <strong>Mate</strong> and <strong>Admiralty</strong> which are detailed below. There are an infinite number of other roles that members often step up to fill, they are what make The Skiff amazing. Those other roles are only limited by the imaginations and resourcefulness of members.</p>

        <hr>
        <h2 id="yui_3_17_2_1_1410556196269_74504">The Mates</h2>


        <p>The Skiff does not exist to rent desks and spaces. The Skiff is a self supporting community of members (Mates) that get varying degrees of value from the working environment they have created. Time spent using desks and meeting spaces is relatively easy to measure, so the pricing of our membership levels reflect that.</p>


        <h3>The five “If you Ps” to make a good Skiff Mate:</h3>


        <p><strong>Produce</strong>
        </p>


        <p>The reason The Skiff exists is to provide the perfect environment for people to work in. The most important thing for our members is that they get stuff done, where possible helping others do the same.</p>


        <p><strong>Pay</strong>
        </p>


        <p>The Skiff is completely dependent on Mates as its primary source of income. The more Mates pay the more cash there is available to make The Skiff better. Choose a pricing plan that fits your usage level, higher if you feel you get more value from it than you are paying. If for any reason you can’t pay one month please let us know and we’ll see if we can help.</p>


        <p><strong>Participate</strong>
        </p>


        <p>This is what communities are all about. If you just use the space for its desks, internet access, coffee and meeting spaces you’re only scratching the surface of what you can get from The Skiff. Say hello to people, keep up with goings on on the mailing list, attend events and make your own mark on The Skiff. Most of the nice little details you see around the space are the result of a member’s wish to make something better. The lunchtime, evening and weekend events and activities that result in many people finding out about The Skiff are all created and run by volunteers like you. If you have an idea you’d like to try share it you’ll probably find someone willing to help you.</p>


        <p><strong>Play nice</strong>
        </p>


        <p>If you’ve shared a house, worked in a traditional office or spent weeks at sea on a small boat you’ll have no doubt experienced the best and worst aspects of the people you were with. The Skiff is no different. You should be as comfortable in The Skiff as you would be in your own home but that’s not going to happen if you don’t think about how your actions affect others. Having a long loud telephone conversation isn’t considerate, neither is leaving your dirty cups and plates for someone else to clean up.</p>


        <p><strong>Party</strong>
        </p>


        <p>When you work hard you must play hard. Some of Brighton’s best office parties have been at The Skiff. Sometimes they are planned weeks in advance, other times they happen spontaneously. If you hear one is happening make sure you can join in and see if there is anything you can do to contribute. If you haven’t heard one is coming up, you think it’s overdue, have a bash at making one happen.</p>

        <h2>meeting rooms</h2>


        <h3>Rooms Available</h3>


        <p><strong>The Cabin</strong> - small upstairs meeting room<br>
        <strong>The Bridge</strong> - large upstairs meeting room<br>
        <strong>The Engine Room</strong> - large downstairs coworking area, used for evening community events (after 6:30pm), up to 60 people</p>


        <h3>Community Events</h3>


        <p>Outside of normal working hours groups that are free and open to the community can book rooms free of charge. We ask that a key holder is present to open and lock up the space and take general responsibility for security and safety.</p>


        <h3>Room Use Etiquette</h3>


        <p>We ask that you return the room to the state you found it in, if not even better.</p>


        <p>If you are letting non-members in for a meeting please arrange for them to be met at the door - it's disruptive to other Skiff Mates to be frequently letting people in for meetings.</p>


        <p>Meeting rooms are available for hire 10-6 Monday to Friday. Key holders can use them at other times subject to arrangement.</p>
        <hr >
        <h2>The Admiralty</h2>


        <p>Inuda Innovations Ltd (t/a Inuda Community) and Wired Sussex Ltd have jointly taken on legal and financial responsibility for The Skiff. In doing so they have effectively promised to cover the cost of The Skiff's contractual commitments which are in the region of £2 million over the next 10 years (from 2017). In return for taking this risk, their stakeholders, who primarily have social goals, expect a small return to help cover the associated costs and to invest in similar future initiatives.</p>


        <p>Because the Admiralty have legal and financial responsibility, they get to ultimately make legal and financial decisions. That said, they will rarely make big decisions without consulting other members of our community.</p>


        <p>Key things the Admiralty take responsibility for include:</p>


        <ul>
          <li>Safety and security including insurance of premises.</li>


          <li>Accounting for income and expenditure.</li>


          <li>Relationships with landlord, city council, cleaner, bookkeeper, lawyers and other partners.</li>


          <li>Utilities such as water, electricity, gas, Internet and refuse collection.</li>


          <li>Large purchases over £100.</li>


          <li>Email and telephone enquiries including room bookings.</li>
        </ul>


        <p>The Admiralty is not based at The Skiff full-time, they take responsibility remotely and therefore delegate many other responsibilities that are impractical for them to manage themselves on a day-to-day basis to Mates.</p>


        <p>The best way to contact the Admiralty is by email at <a href="mailto:hello@theskiff.org">hello@theskiff.org</a>. Anna Markwell, one of the founders of The Skiff, answers most email on a part-time basis, alongside our assistant James. They will try to answer emails relating to room bookings, membership and payment queries, within two working days. Please send any problems, questions, suggestions, requests or feedback from members or non-members and we’ll try and respond as soon as we can.</p>


        <p>For urgent queries during working hours call Wired Sussex on 01273 692888.</p>


        <p>For safety or security related EMERGENCIES ONLY outside of working hours please call Jonathan Markwell on 07766 021485 or Anna Markwell on 07876 685786.</p>
      </div>
    </div>
  </div>