---
title: Covid Policy
sitemap_noindex: true
sitemap_priority: 0.8
---

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 my-5 mx-auto">
      <h1>The Skiff’s COVID-19 Policy</h1>
      <em><strong>Updated 27th September 2021</strong></em>

<p>From March to August 2020 we recommended members work from home.</p>

<p>We’re confident in the measures we have taken and have now had in operation since June 2020. If you need a break from working from home The Skiff is available to you.</p>

<p>Our goal is to make The Skiff the safest and most comfortable place for individual members to affordably work indoors but away from home.</p>

<p>Members who choose to work from The Skiff are trusted to take extra responsibility for the safety of themselves, each other and the space. This policy is for those Skiffmates.</p>

<h2>Reporting</h2>
<p>If you are unwell, have any COVID-19 symptoms or have been in contact with anyone suspected of having COVID-19, please stay at home and look after yourself. Please keep up to date with symptom advice at <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/symptoms/">https://www.nhs.uk/conditions/coronavirus-covid-19/symptoms/</a>.</p>

<p>If, after visiting The Skiff (within the past seven days), you develop any symptoms or learn of previous contact with anyone suspected of having COVID-19 you must report it to The Skiff immediately. You can do that by emailing report@theskiff.org. You should also follow government guidelines and isolate yourself at home.</p>

<h2>Safety</h2>

<p>The Skiff’s full Covid-19 Risk Assessment is available <a href="https://docs.google.com/presentation/d/1TxkKrtgy15TJlWRXN-tz9rRa95qv6y2RL47PjtL698E/edit">here</a>.</p>

<h3>Physical Distancing</h3>
<p><strong>Access to The Skiff is currently limited to a total of 30 members per day and this is likely to continue until the end of 2021.</strong></p>

<p>Keep your distance from other members, at least one metre, preferably two. Face masks are recommended but not required when at The Skiff. Please consider using them when standing or moving around the space. Only one person at a time should use the stairs, or be behind the counter in the kitchen. Seating and tables have been re-arranged for improved social distancing.</p>

<h3>Travelling to and from The Skiff</h3>

<p><strong>You must make one booking for each day that you visit the space <a href="https://calendly.com/theskiff/covid-19">here</a>.</strong></p>

<p>We encourage you to not visit other workplaces during the same week that you are visiting The Skiff. Cycle parking is available and we encourage cycling and walking as commuting options. Please remember that you must use face coverings if you travel by public transport.</p>

<h3>Air quality</h3>
<p>Vertically oriented fresh air ventilation is running throughout the space between 0600 and 2000, Monday to Friday.</p>

<p>Air-conditioning should be used sparingly to avoid horizontal drafts and recirculation.</p>

<h3>Cleanliness and hygiene</h3>
<p>The space has been deep cleaned. The kitchen counter has been coated to make it easier to keep clean. Hand sanitiser has been positioned around the space. Two of the toilets and the shower have been locked to reduce daily cleaning requirements. Some desks have “do not use” labels to reduce daily cleaning requirements.</p>

<p>Wash your hands regularly - especially on arrival at the space. Clean your desk before and after use with sanitiser spray and blue roll provided around the space. You are responsible for sanitising kitchen worktops, utensils and other touch points before and after use. Dispose of used hand towels and blue roll as well as used gloves in the general waste bins, NOT the recycling bins.</p>

<h3>Members</h3>
<p>Members of The Skiff expect all users of our space to have had both COVID vaccine doses and/or to have had a negative lateral flow test in the last 48 hours.</p>

<p>All current members may book to use The Skiff for one day at a time up to the number of days that their plan allows. Access is first come first served up to the daily limit of 30 per day.</p>

<p>Often less than 15 people are present in the space on a day. If we reach capacity we will introduce a prioritisation policy that is based on length of continuous membership, membership level, amount of use and other factors to be determined.</p>

<p>We are currently exploring options for spending any membership credit members have accrued during the lockdown.</p>

<p>Please ask for assistance if you need to use The Skiff but are experiencing significant financial hardship.</p>

<h3>Meeting Rooms</h3>
<p>Small in-person meetings can be booked in The Cabin by arrangement.</p>

<p>Guest attendance is also possible but they must individually agree to take on member responsibilities and pay £30+VAT each as they count against daily building capacity.</p>


<p>All people present in meetings must have booked themselves in to access the space for the day of the meeting. You must not make bookings on behalf of others as they must take on the same personal responsibilities expected of everyone at The Skiff.</p>

<h3>Deliveries</h3>

<p>Unexpected deliveries, visits or doubts about bookings should be reported to Skiff staff via Slack, above email or telephone: 07766021485.</p>

<h3>Skiff Staff</h3>
<p>Skiff staff use The Skiff in the same way as other members and are present one or two days per week..</p>

<h3>Risk Assessment</h3>
<p>You can view The Skiff’s full Covid-19 Risk Assessment <a href="https://docs.google.com/presentation/d/1TxkKrtgy15TJlWRXN-tz9rRa95qv6y2RL47PjtL698E/edit">here</a>.</p>
<h2>Security</h2>
<p>All members using the space must be familiar with The Skiff’s opening up and locking procedures. Staff phone numbers are provided in signage near the doors and on the booking form if in any doubt.</p>
<h2>Community</h2>
<p>All members are reminded of <a href="/code-of-conduct">The Skiff’s Code of Conduct</a> when making bookings. If anything during the day makes them feel uncomfortable, about the safety or security of the space, or about the behaviour of other members, they are asked to email report@theskiff.org.</p>



    </div>
  </div>
</div>