---
title: Join the waiting list
description: Not ready to join today? Stay up to date with availability
image: /images/brighton.jpg
layout: "no-nav"
sitemap_noindex: true
sitemap_priority: 0.8
---

<div class="wrapper">
  <div class="content">

    <div class="d-flex flex-column flex-lg-row
    justify-content-around justify-content-lg-around
    align-items-stretch align-items-lg-center content-cards">
      <script async data-uid="775b5cc0b4" src="https://jot.ck.page/775b5cc0b4/index.js"></script>

      <div class="col-xs-12 col-lg-5 col-xl-4">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>

  <section class="full-height">
    <div class="left-half">
      <div id='map'></div>
    </div>
    <div class="right-half">
      <img src="/images/brighton.jpg">
    </div>
  </section>
</div>
