---
title: Join the waiting list
description: Not ready to join today? Stay up to date with availability
image: /images/brighton.jpg
layout: "no-nav"
sitemap_noindex: true
sitemap_priority: 0.8
---

<div class="wrapper">
  <div class="content">

    <div class="d-flex flex-column flex-lg-row
    justify-content-around justify-content-lg-around
    align-items-stretch align-items-lg-center content-cards">
      <div class="card bg-light col-xs-12 col-lg-5 col-xl-4">
        <form action="https://www.getdrip.com/forms/267987242/submissions" method="post" data-drip-embedded-form="267987242">
            <div class="card-body">
              <h4 class="card-title" data-drip-attribute="headline">Join the waiting list</h4>
              <p class="card-text" data-drip-attribute="description">Not ready to join today?<br>
              Enter your email address. Jon, one of the founders of The Skiff, will keep you up to date with availability and answer any questions.</p>
              <div class="form-group">
                  <label class="sr-only" for="drip-email">Email Address</label>
                  <input type="email" id="drip-email" name="fields[email]" placeholder="Email" class="form-control" />
              </div>
              <div class="actions">
                <input type="submit" name="submit" value="Join waiting list" data-drip-attribute="sign-up-button" class="btn btn-secondary btn-block"/>
              </div>
            </div>
        </form>
      </div>

      <div class="col-xs-12 col-lg-5 col-xl-4">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>

  <section class="full-height">
    <div class="left-half">
      <div id='map'></div>
    </div>
    <div class="right-half">
      <img src="/images/brighton.jpg">
    </div>
  </section>
</div>
