---
title: The Skiff - Social Space
sitemap_priority: 0.7
---
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5 mx-auto my-5">
      <h1 class="text-center">"A place to make new friends and build stronger relationships"</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
      <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link" href="/place">Your Space</a>
        <a class="nav-item nav-link" href="/work">Work Space</a>
        <a class="nav-item nav-link active" href="/social">Social Space</a>
        <a class="nav-item nav-link" href="/events">Events Space</a>
        <a class="nav-item nav-link" href="/meetings">Meetings Space</a>

      </nav>
      <h2 class="my-3">The Skiff Mates Mess</h2>
    </div>
  </div>
    <div class="card mb-3">
      <img class="card-img-top" src="/images/lunch.jpg" alt="Lunch">
    </div>

  <div class="card-deck">
    <div class="card mb-3">
      <img class="card-img-top" src="/images/coffee2.jpg" alt="Coffee">
    </div>
    <div class="card mb-3">
      <img class="card-img-top" src="/images/party2.jpg" alt="Party">
    </div>

    <div class="card mb-3">
      <img class="card-img-top" src="/images/drinks2.jpg" alt="Drinks">
    </div>
  </div>
  <div class="card-deck">
    <div class="card mb-3">
      <img class="card-img-top" src="/images/drinks.jpg" alt="Drinks">
    </div>

    <div class="card mb-3">
      <img class="card-img-top" src="/images/sofa.jpg" alt="Sofa">
    </div>
    <div class="card mb-3">
      <img class="card-img-top" src="/images/party.jpg" alt="Party">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto my-5">
      <p class="lead">
        You can choose to work in The Skiff's dedicated social space but you should expect to be disturbed. It's nicest when there are no laptops or phone calls but we don't enforce that. We usually have a couple of organised gatherings per week in here: Pastries, Drinks and BYO Lunches. But loads of spontaneous activity too. Listen out for the bells. 🔔🔔
      </p>
      <p class="lead">
        Help yourself to tea and coffee (just refill the pot if you empty it). Use it as you would your own kitchen. But label your things. Please keep it tidy. Mugs in the dishwasher and turn it on when full. Indoor cycle racks for Chief Mates. Outdoor racks for all coming soon.
      </p>

    </div>

  </div>
</div>