---
title: The Skiff FAQ
description: Your questions about The Skiff
sitemap_priority: 0.6
---

<div class="container">
<div class="row">
  <div class="col-xs-12 col-md-8 my-5 mx-auto">
  <h3>What is The Skiff?</h3>
  <p>We are a gathering of people finding a way of working better together (both offline and on), focused on inspiration, participation and learning through doing.</p>
  <p>The members of The Skiff share a fundamental optimism, a spirit of liberty in action, encouragement and enlightenment. Where many people would see problems, Mates (what we call our members) see opportunities for making things better, and they wish to take on a personal responsibility for making things happen.</p>
  <p>You can find more information about how The Skiff works <a href="/how-the-skiff-works">here</a>.</p>
  <h3>What is coworking?</h3>
  <p>To us, coworking is a state of mind - the belief that we are happier and more productive working together than alone.</p>
  <p>Coworking and The Skiff are built on 5 core values:</p>
  <ul>
    <li>
      <a href="http://dangerouslyawesome.com/2011/08/coworking-core-values-4-of-5-community/" target="_blank">Community</a>
    </li>
    <li>
      <a href="http://dangerouslyawesome.com/2011/10/coworking-core-values-5-of-5-collaboration/" target="_blank">Collaboration</a>
    </li>
    <li>
      <a href="http://dangerouslyawesome.com/2011/08/coworking-core-values-3-of-5-openness/" target="_blank">Openness</a>
    </li>
    <li>
      <a href="http://dangerouslyawesome.com/2011/08/coworking-core-values-1-of-5-sustainability/" target="_blank">Sustainability</a>
    </li>
    <li>
      <a href="http://dangerouslyawesome.com/2011/08/coworking-core-values-2-of-5-accessibility/" target="_blank">Accessibility</a>
    </li>
  </ul>
  <p>Coworking can happen anywhere - but The Skiff happens to be a particularly great place to do it!</p>
  <h3>How much does membership cost?</h3>
  <p>We have monthly memberships available based on how often you want to use the shared workspace. Check out our membership options <a href="/join">here</a>.</p>
  <p>Just visiting for the day, or want to try us out before joining? You can buy a <a href="https://secure.theskiff.org/daypass/" target="_blank">day pass</a> for just £24+VAT.</p>
  <p>Need more specific information? <a href="mailto:hello@theskiff.org">Drop us an email</a>.</p>
  <h3>Can I come by and see The Skiff?</h3>
  <p>Please do! Pop by 1000-1700 any week day and one of our members will be able to give you a quick tour. There's no need to book an appointment.</p>
  <h3>What is the best way to get to The Skiff?</h3>
  <ul>
    <li>By bus:
      <ul>
        <li>Our nearest main stop is near St Peter’s Church. See a bus route map <a href="http://history.buses.co.uk/bustimes/cityarea.pdf" target="_blank">here</a>.
        </li>
      </ul>
    </li>
    <li>By train:
      <ul>
        <li>We’re just a few minutes downhill from Brighton station.</li>
      </ul>
    </li>
    <li>By bicycle:
      <ul>
        <li>We have a bike storage inside and will be building an outdoor bike port in the future (leave bikes at your own risk).</li>
      </ul>
    </li>
    <li>By car:
      <ul>
        <li>Street parking is limited and expensive in the centre of Brighton, but there are <a href="http://en.parkopedia.co.uk/parking/bn1_4gd/" target="_blank">several car parks</a> in the area.
        </li>
      </ul>
    </li>
  </ul>
  <h3>Does The Skiff host events that are open to the public?</h3>
  <p>Indeed we do - every week! Check out <a href="/events">our events page</a> for upcoming events.</p>
  
  <h3>Can I run an event at The Skiff?</h3>
  <p>We have some space for evening events at The Skiff. Events that are free to attend and open to all are free to run. You can see the availability we have in our calendar <a href="/events">on our events page</a>.</p>
  <p>Events can be run between 1900 and 2300 Monday to Friday. If you find a slot you like (most events are monthly and on the n-th X-day of each month, e.g. 4th Monday) you can book a room <a href="/events">here</a>- we can then arrange things like locking up (if you know a current Skiff Mate who would like to attend that would make things much easier!).</p>
  
  <h3>Can I rent The Skiff for a meeting?</h3>
  <p>First things first: have you visited The Skiff before? We're a bit different from the usual office/event space, so it's important that you stop by to see how things work before you jump into planning how you use our space.</p>
  <p>Meeting rooms are only available to Skiff Mates, but if you're just looking for space and not membership of a community, then we might not be the best fit for you.</p>
  <p>Still want to talk to us? Drop us an <a href="mailto:hello@theskiff.org">email</a>.</p>
  
  <h3>I make a lot of phone calls for work - is The Skiff the place for me?</h3>
  <p>The odd phone call is not a problem, and most people move to a separate area or empty meeting room to take longer calls, but The Skiff tends to not be the best place for people who spend a lot of time on the phone.</p>
  
  <h3>Can I use The Skiff as my business address?</h3>
  <p>We're not a virtual office, nor do we love sorting mail. We'd like to work alongside you, not your neglected <a href="http://www.web-donkeys.com/" target="_blank">Miniature Donkey Talk</a> subscription. Only Chief Mates have use of postal address included. There is more information about use of our address <a href="https://theskiff.groupbuzz.io/topics/13073-the-skiff-s-new-postal-address?t=1478091443" target="_blank">here</a>(only members can view this).</p>
  <p>If you do use The Skiff as your business address you have to promise to pick up your mail often! Also, if you could help out with answering the door (many deliveries a day can be annoying for your coworkers) that would help a lot.You should not however use The Skiff as your company's Registered Address (use your accountant's or home address for that).</p>
  
  <h3>I'm looking for some super-duper talent to help me on a project. Can The Skiff forward me some names and resumes?</h3>
  <p>Looking to link-up with ridiculously talented independent workers? Join our community, spend some time working here on your thing, and build sincere relationships along the way. If you're only looking to stuff your rolodex, however, we're probably not the right place for you to be.</p>
  
  <h3>What facilities fo you have?</h3>
  <p>We have:</p>
  <ul>
    <li>Kitchen with free coffee and tea (several varieties!) and a microwave, fridge, toaster etc.</li>
    <li>Super-fast (that's a technical term) 100mb up and down leased line internet</li>
    <li>Black and white printer</li>
  </ul>
  
  <h3>Can I split my days up?</h3>
  <p>Yes, you can split your days into half days to use over the month if you prefer. We just ask that you keep these half days at 0800-1300 and 1300-1800, to keep the maximum number of desks available for other coworkers.</p>
  
  <h3>How much notice do I have to give if I want to leave?</h3>
  <p>If you want to cancel your membership of The Skiff we ask that you give at least a month's notice i.e. if your membership renews on the 15th of each month, please let us know by the 14th of the month before you would like to cancel.</p>
  
  <h3>I'm already a Skiff Mate - do you have an FAQ for members?</h3>
  <p>You can find information for members <a href="/members">here</a>.</p>
  
  <h3>weren't you once somewhere else in brighton?</h3>
  <p>We started out in 2008 with a small space on Cheltenham Place. In 2010 we moved to Gloucester Street, and in 2012 expanded that space through to Gloucester Road. In late 2016 we moved to our current space on Cheapside, which gives us much more space for all our members. We do love North Laine very much!</p>
  
  <h3>What’s with all the sailing stuff?</h3>
  <p>We thought that a boat was a great analogy for a coworking space, with a team of people who work together.</p>
  <p>Also, we’re by the sea.</p>
  
  <p><em>With thanks to <a href="http://www.indyhall.org/" target="_blank">Indy Hall</a> for the FAQ inspiration!</em></p>
  </div>
  </div>
</div>