---
title: The Skiff
sitemap_priority: 0.8
---

<div class='container text-center'>
  <div class='row my-5'>
    <div class='col-md-12'>
      <h1 class=''>You're not able to work from The Skiff right now.<br /> But you can stay connected with the community.</h1>
      <p>Memberships fees provide all the income The Skiff needs to operatate sustainably. We've been doing that for over a decade.<br /> This allows us to always put the needs of individual members like you first.</p>
<!--       <div class="alert alert-danger text-left rounded-0 mb-0" role="alert"> 
        <h3 class="text-center">COVID-19: Let's get through this together.</h3>  
        <p class="text-center">Continue on your current membership level and you'll retain credit backdated to 15th March 2020.<br /> If you can't sustain that please consider one of these options. <br />Let's ensure there is a space you and others can work from away from your home once this is over.</p> 
      </div> -->
 
    </div>
  </div>
  <div class='card-group'>
    <div class='card mb-1'>
      <div class='card-header'>
        <h6 class=''>Standing Mate</h6>
        <p>When your business is coping better than most.</p>
        <h2>
          £100
        </h2>
        <p>per month plus VAT</p>
      </div>
      <ul class='list-group list-group-flush'>
        <li class='list-group-item'>
           Support The Skiff and Skiffmates who are stuggling.
        </li>
        <li class='list-group-item'>
          Maintain your access to The Skiff's <strong>community</strong> and <strong>online resources</strong>.
        </li>
        <li class='list-group-item'>
          <strong>Retain credit</strong> backdated to 15th March 2020 and add <strong>1 day of credit per month</strong>.  Return to The Skiff on <strong>2019 prices</strong> when we re-open.
        </li>
        <li class='list-group-item'>
          <strong>Borrow equipment</strong> from The Skiff while the space is closed to make working from home easier.
        </li>
        <li class='list-group-item'>
          Increase potential for us to make physical <strong>improvements to the space</strong> ready for when we return.
        </li>
        <li class='list-group-item'>
          Potentially increase the amount of time Carl, Anna and Jon can invest in supporting you through this. We want to help you: <strong>find paid work</strong>, switch to <strong>100% remote</strong>, adapt your <strong>business to grow</strong>.
        </li>
      </ul>
      <div class='card-body'>
        <strong>Support Struggling Skiffmates</strong>: Sponsor one Remote Mate or two Community Mates, or two upgrades from Community Mate to Remote Mate.
      </div>
      <div class="card-footer">
        <a class='btn btn-success btn-block text-white' href="/join/standingmate/">
          Subscribe
        </a>
        <p class="mb-0"><small>(Some Skiffmates want to give more)</small></p>
      </div>
    </div>
    <div class='card mb-1'>
      <div class='card-header'>
        <h6 class=''>Remote Mate</h6>
        <p>When your business is doing OK.</p>
        <h2>
          £50
        </h2>
        <p>per month plus VAT</p>
      </div>
      <ul class='list-group list-group-flush'>
        <li class='list-group-item'>
          Support The Skiff so The Skiff can support you.<br /><br />
        </li>
        <li class='list-group-item'>
          Maintain your access to The Skiff's <strong>community</strong> and <strong>online resources</strong>.
        </li>
        <li class='list-group-item'>
          <strong>Retain credit</strong> backdated to 15th March 2020 and add <strong>1 day of credit per month</strong>.  Return to The Skiff on <strong>2019 prices</strong> when we re-open.
        </li>
        <li class='list-group-item'>
          <strong>Borrow equipment</strong> from The Skiff while the space is closed to make working from home easier.
        </li>
        <li class='list-group-item'>
          Increase potential for us to make physical <strong>improvements to the space</strong> ready for when we return.
        </li>
      </ul>
      <div class='card-body'>
          Potentially increase the amount of time Carl, Anna and Jon can invest in supporting you through this. We want to help you: <strong>find paid work</strong>, switch to <strong>100% remote</strong>, adapt your <strong>business to grow</strong>.
      </div>
      <div class="card-footer">
        <a class='btn btn-success btn-block text-white' href='/join/remotemate/'>
          Subscribe
        </a>
        <p class="mb-0"><small>(We hope most Skiffmates can settle at this level)</small></p>
      </div>
    </div>
    <div class='card mb-1'>
      <div class='card-header'>
        <h6 class=''>Continuity Mate</h6>
        <p>When you don't want to lose touch.</p>
        <h2>
          £20
        </h2>
        <p>per month plus VAT</p>
      </div>
      <ul class='list-group list-group-flush'>
        <li class='list-group-item'>
           Support for you while you work from home.<br /><br />
        </li>
        <li class='list-group-item'>
          Maintain your access to The Skiff's <strong>community</strong> and <strong>online resources</strong>.
        </li>
      </ul>
      <div class='card-body'>
        <strong>Retain credit</strong> backdated to 15th March 2020. Return to The Skiff on <strong>2019 prices</strong> when we re-open.
      </div>
      <div class="card-footer">
        <a class='btn btn-success btn-block text-white' href='/join/continuitymate/'>
          Subscribe
        </a>
        <p class="mb-0"><small>(Skiffmates choose this as an alternative to cancelling)</small></p>
      </div>
    </div>
  </div>

  <div class='row my-2'>
    <div class='col-md-12'>
      <p>All prices exclude VAT.</p>
      <p>All Skiffmates (members) must read and agree to our <a href="/membership-agreement/" target="_blank">Membership Agreement</a> and <a href="/code-of-conduct/" target="_blank">Code of Conduct</a>.</p>
      <p>Time to work from The Skiff again? <a href="/join">See 2020 prices</a></p>
      <p>There is no minimum commitment. You can upgrade, downgrade or cancel with <strike>1 month's</strike> 10 day's notice. We do not offer refunds so please make sure you make changes to your account in plenty of time.</p>

      <h3>About Credit</h3>

      <p>Our intention is to do right by you. You've paid to use something that you've been unable to use since you understood the importance of social distancing. Most members decided to stop using The Skiff's workspace on or around the 15th March. Given the financial pressure everyone is under right now we want to make sure you get some value out of the money you have spent.</p>

      <p>The Skiff, The Skiff's staff and The Skiff's suppliers are also under financial pressure. The only way we can make this work is if we can maintain some level of revenue while we wait to reopen. So you can only retain credit if there is no interruption to your membership. If you are under particular financial stress you can apply for a sponsored membership. If your application is successful another Skiffmate will cover the cost of your membership.</p>

      <p>Exactly how credit can be used is to be determined. It will depend on how long The Skiff is closed for and what our financial situation is when we reopen.</p>
    </div>
    <div class="card bg-info mb-3">
      <div class="card-body">
        <blockquote class="blockquote text-center mb-0">
          <p class="mb-0">"Within my first month I won freelance contracts through introductions from other 'Skiffmates' that more than covered the cost of my first year's membership."</p>
          <div class="text-muted mx-auto text-left d-flex justify-content-center mt-2">
            <img class="rounded-circle float-left mr-2" src="/images/margaret-ousby.jpg" alt="Margaret Ousby" height="66">
            <p class="mb-0">
              Margaret Ousby
              <br>
              <small>Skiffmate since January 2017</small>
            </p>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
  <div class='row my-2'>
    <div class="card bg-info mb-3">
      <div class="card-body">
        <blockquote class="blockquote text-center mb-0">
          <p class="mb-0">"It's got everything you need - lovely community of people, blazing internet connection, and different areas to work from from busy and buzzy to very quiet."</p>
          <div class="text-muted mx-auto text-left d-flex justify-content-center mt-2">
            <img class="rounded-circle float-left mr-2" src="/images/paul-silver.jpg" alt="Paul Silver" height="66">
            <p class="mb-0">
              Paul Silver
              <br>
              <small>Skiffmate since August 2009</small>
            </p>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
</div>
