---
title: Meeting Rooms at The Skiff
sitemap_priority: 0.7
---

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5 mx-auto my-5">
      <h1 class="text-center">"A place where your clients feel more relaxed than they do in their own office"</h1>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
      <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link" href="/place">Your Space</a>
        <a class="nav-item nav-link" href="/work">Work Space</a>
        <a class="nav-item nav-link" href="/social">Social Space</a>
        <a class="nav-item nav-link" href="/events">Events Space</a>
        <a class="nav-item nav-link active" href="/meetings">Meeting Space</a>

      </nav>
      <h2 class="my-3">Three meeting rooms for 2 to 40 people</h2>
    </div>
  </div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
      <p class="text-align-center">When they're not booked members are free to use meeting rooms for telephone calls and informal meetings at no charge.</p>
      <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">The Skiff's meeting rooms can only be booked by <a href="/join">members</a></h4>
        <p>You need a keyfob to access the space and you'll be fending for yourself. We don't have staff to let you and your guests in.</p>
      </div>
    </div>
</div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">

      <div class="card mb-3">
        <img class="card-img-top" src="/images/thebridge.jpg" alt="The Bridge">
        <div class="card-body">
          <h4 class="card-title">The Bridge</h4>
          <p style="card-text">
            Large upstairs meeting room for up to 40 people (lecture style)<br>
            Ideal for workshops and training sessions<br>
            Large TV screen with AppleTV for presentations
          </p>
          <p style="card-text">
            £12+VAT per hour for Skiffmates<br>
            Available in one hour blocks from 08:00-18:00 weekdays<br>
          </p>
          <p style="card-text"><em>Click the 'book now' button below to see the calendar and book this room</em>
        </p>
        <p class="text-center">
          <a data-ycbm-modal="true" href="https://the-skiff-bridge.youcanbook.me/" target="_blank">
            <img src="http://youcanbook.me/resources/pics/ycbm-button.png" style="border-style:none;">
          </a>
        </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto mb-5">
      <div class="card-deck">
        <div class="card mb-3">
        <img class="card-img-top" src="/images/thecabin.jpg" alt="The Cabin">
          <div class="card-body">
            <h4 class="card-title">The Cabin</h4>
            <p style="card-text">
              Medium upstairs meeting room for 4 to 8 people<br>
              Perfect for project and board meetings
            </p>
            <p style="card-text">
              £7.50+VAT per hour for Skiffmates<br>
              Available in one hour blocks from 08:00-18:00 weekdays
            </p>
            <p style="card-text">
              <em>Click the 'book now' button below to see the calendar and book this room</em>
            </p>

            <p class="text-center">
              <a data-ycbm-modal="true" href="https://the-skiff-cabin.youcanbook.me/" target="_blank">
                <img src="http://youcanbook.me/resources/pics/ycbm-button.png" style="border-style:none;">
              </a>
            </p>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body">
            <h4 class="card-title">The Comms Room</h4>
            <p class="card-text">
              Small upstairs meeting room for 1 to 2 people.<br>
              Perfect for phone calls and one-to-one meetins
            </p>
            <p style="card-text">
              First come first served. No bookings.<br>
              Please limit your use to one hour per day
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto mb-5">
        <h3>PLEASE NOTE</h3>


        <p>On the day of your booking please ensure that one of your group is responsible for letting members of your team in.&nbsp;We don't have any paid staff and it's very disruptive to coworkers to have to keep getting up and down to let in people who may be strangers to them. We are a community rather than a serviced office (such as Regus). Things work best at The Skiff when users of the space are conscious of their responsibility to look after themselves, support other members of the community and care for the space. Thank you!</p>


        <h3>Inclusive hours</h3>


        <p>If you <a href="https://www.theskiff.org/upgrade/">Upgrade to be a Chief Mate</a>, Volunteer as a Captain or are already a Dedicated Chief Mate, you are entitled to 2hrs of <a href="https://theskiff.groupbuzz.io/topics/19628-upgrading-to-a-chief-mate-means-you-can-use-inclusive-hours-to-booking-meeting-rooms-with-free-inclusivehours">inclusive hours for free each week</a>.</p>


        <h3>Cancellation policy</h3>


        <p>You can cancel up to four hours before your meeting is due to commence. Please do this using the link in your booking confirmation email.</p>
      </div>
    </div>
  </div>
