---
title: Meeting Rooms at The Skiff
---

<div class="container">
<div class="row">
  <div class="col-xs-12 col-md-8 my-5 mx-auto">
        <h1>Meetings</h1>
        <p class="text-align-center">Our meeting rooms are now&nbsp;<strong>only available for use by members</strong>. You can find out more about memberships and sign up <a href="/join">here</a>.</p>
<hr>
        <h2 class="text-align-center" id="yui_3_17_2_12_1421858464762_15764">The Bridge</h2>
        <%= image_tag "thebridge.jpg", :class=>"" %>

        <p style="text-align:center">Large upstairs meeting room for up to 40 people (lecture style)&nbsp;<br>
        Ideal for workshops and training sessions<br>
        Large TV screen with AppleTV for presentations</p>


        <p style="text-align:center">£45+VAT for Mates (4 hours)&nbsp;<br>
        4 hour blocks available - 10:00-14:00 and 14:00-18:00, weekdays<br>
        Keyholders can come early (pre-10:00)</p>


        <p style="text-align:center"><em>Click the 'book now'&nbsp;button below to see the calendar and book this room</em>
        </p>

        <p class="text-align-center"><a data-ycbm-modal="true" href="https://the-skiff-bridge.youcanbook.me/" target="_blank"><img src="http://youcanbook.me/resources/pics/ycbm-button.png" style="border-style:none;"></a>
        </p>
<hr>
        <h2 class="text-align-center">The Cabin</h2>
<%= image_tag "thecabin.jpg", :class=>"" %>

        <p style="text-align:center">Small upstairs meeting room for 4 to 8 people<br>
        Perfect for project and board meetings</p>


        <p style="text-align:center">£15+VAT for Mates (2 hours)&nbsp;<br>
        2 hour blocks available - between 10:00-18:00 weekdays (or from 08:00 for key holders)</p>


        <p style="text-align:center"><em>Click the 'book now'&nbsp;button below to see the calendar and book this room</em>
        </p>

        <p class="text-align-center"><a data-ycbm-modal="true" href="https://the-skiff-cabin.youcanbook.me/" target="_blank"><img src="http://youcanbook.me/resources/pics/ycbm-button.png" style="border-style:none;"></a>
        </p>
 <hr>
        <h3>PLEASE NOTE</h3>


        <p>On the day of your booking please ensure that one of your group please is responsible for letting members of your team in.&nbsp;We don't have any paid staff and it's very disruptive to coworkers to have to keep getting up and down to let in people who may be strangers to them. We are a community rather than a serviced office (such as Regus). Things work best at The Skiff when users of the space are conscious of their responsibility to look after themselves, support other members of the community and care for the space. Thank you!</p>


        <h3>Inclusive hours</h3>


        <p>If you have inclusive hours in your plan please make the booking above, and add information about your plan and inclusive hours when asked in the booking form. You won't be charged for these hours when payment is added to your account within the next couple of weeks.</p>


        <p>The inclusive allowances for each level are:</p>


        <ul>
          <li>Master Mate and Chief Mate - 2 hours/week small meeting room use OR 1 hour/week large meeting room use</li>


          <li>2nd Mate - 2 hours/month small meeting room use OR 2 hours/month large meeting room use</li>


          <li>3rd Mate - 1 hour/month small meeting room use</li>


          <li>Team Mate - £40 to use towards meeting room bookings OR coworking days</li>


          <li>Professional Mate -&nbsp;£20 to use towards meeting room bookings OR coworking days</li>
        </ul>


        <h3>Cancellation policy</h3>


        <p>You can cancel up to four hours before your meeting is due to commence. Please do this using the link in your booking confirmation email.</p>
      </div>
    </div>
  </div>