---
title: Add your Skiff Mate profile
description: Promote yourself to The Skiff's audience and encourage other people like you to join The Skiff.
image: /images/skiff-mates.jpg
layout: "no-nav"
sitemap_noindex: true
sitemap_priority: 0.8
---


<div class="wrapper">
  <div class="content">

    <div class="d-flex flex-column flex-lg-row
    justify-content-around justify-content-lg-around
    align-items-stretch align-items-lg-center content-cards">
    <div class="card bg-light col-xs-12 col-lg-5 col-xl-4">
      <form action="https://www.getdrip.com/forms/951786115/submissions" method="post" data-drip-embedded-form="951786115">
          <div class="card-body">
            <h4 class="card-title" data-drip-attribute="headlinex">Skiff Mate Profile</h4>
            <p class="card-text" data-drip-attribute="descriptionx">Promote yourself to The Skiff's audience and encourage other people like you to join The Skiff.</p>
            <div class="form-group">
                <label class="sr-only" for="drip-email">Email Address</label>
                <input type="email" id="drip-email" name="fields[email]" placeholder="Email" class="form-control" />
            </div>
            <div class="actions">
              <input type="submit" name="submit" value="I want my profile on The Skiff's website" data-drip-attribute="sign-up-button" class="btn btn-secondary btn-block"/>
              <small class="form-text text-muted"></small>
            </div>
          </div>
      </form>
      </div>

      <div class="col-xs-12 col-lg-5 col-xl-4">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>

  <section class="full-height">
    <div class="left-half">
      <div id='map'></div>
    </div>
    <div class="right-half">
      <img src="<%= current_page.data.image %>">
    </div>
  </section>
</div>