---
title: Happier Homeworking in Brighton
description: Working from home in Brighton? Jon will help you to become more productive by sharing what worked for him. Get his insights in this actionable (and completely free) set of lessons.
image: /images/brighton.jpg
layout: "no-nav"
sitemap_noindex: true
sitemap_priority: 0.8
---


<div class="wrapper">
  <div class="content">

    <div class="d-flex flex-column flex-lg-row
    justify-content-around justify-content-lg-around
    align-items-stretch align-items-lg-center content-cards">
    <div class="card bg-light col-xs-12 col-lg-5 col-xl-4">
      <form action="https://www.getdrip.com/forms/56551550/submissions" method="post" data-drip-embedded-form="56551550">
          <div class="card-body">
            <h4 class="card-title" data-drip-attribute="headlinex">Happier Homeworking in Brighton</h4>
            <p class="card-text" data-drip-attribute="descriptionx">Working from home in Brighton? Jon will help you to become more productive by sharing what worked for him. Get his insights in this actionable (and completely free) set of lessons.<br />
            </p>
            <div class="form-group">
                <label class="sr-only" for="drip-email">Email Address</label>
                <input type="email" id="drip-email" name="fields[email]" placeholder="Email" class="form-control" />
            </div>
            <div class="actions">
              <input type="submit" name="submit" value="Get more productive at home" data-drip-attribute="sign-up-button" class="btn btn-secondary btn-block"/>
              <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
          </div>
      </form>
      </div>

      <div class="col-xs-12 col-lg-5 col-xl-4">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>

  <section class="full-height">
    <div class="left-half">
      <div id='map'></div>
    </div>
    <div class="right-half">
      <img src="/images/brighton.jpg">
    </div>
  </section>
</div>
