---
title: An open letter from Skiffmates
sitemap_noindex: true
sitemap_priority: 0.8
---

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 mt-5 mx-auto">
      <h1>Can’t face a winter of working from home every day?</h1>
      <h2><strong>An open letter from Skiffmates:</strong></h2>
      <p class="text-right mt-5">October 2020</p>
      <p><strong>Dear Working From Home in Brighton,</strong></p>
      <p>
      It looks like you’re going to be spending another six months working from home. If you’re lucky you had a chance to meet up with a few colleagues in September. Who knew how much we’d miss small talk and all those tiny interactions that make you feel human! 
      </p>
      <p>
      With winter closing in on us we’ll all have fewer opportunities to enjoy the outdoors. The monotony of working from home is only going to get worse. And the loneliness of only seeing colleagues via video call has really started to hurt.
      </p>
      <p>
      We’re lucky to have a safe space in central Brighton that we can work from when we really need to. We’d like to tell you a little about why it feels like the safest place for us to be indoors but away from our homes.
      </p>
      <p>
      The Skiff coworking space has been Covid secure since June, providing limited access to over 100 members like us who stayed on as supporters through the lockdown. We love how productive we are able to be when we’re there. It has all the safety features you’d expect along with a regularly reviewed risk assessment and <a href="/covid-policy">Covid policy</a>. It also has all the coworking essentials The Skiff’s been refining since it opened over a decade ago.
      </p>
      <p>
      A few things make The Skiff feel safer to us than anywhere else we’ve been outside of our own homes:
      </p>
      <ul>
        <li><strong>Limiting total users of the space each day:</strong> With less than half the people in the space compared to pre-pandemic levels each of us can stay well over 3 metres apart.</li>
        <li><strong>No public or non-member access:</strong> Because we all know each other and it’s a professional environment everyone is far more conscientious than anywhere we’ve been recently. And it provides a really easy to use track and trace mechanism as The Skiff has all member's details already.</li>
        <li><strong>Modern fresh air ventilation and filtration system:</strong> It never feels stuffy and that undoubtedly reduces the chance of infection.</li>
      </ul>

      <p>All that and the lovely to be around people make it something we look forward to every week.</p>

      <p>Is this the kind of environment you’d like to work in? Almost half of members are now back in the habit of regularly using The Skiff as an occasional escape from working from home. We’re starting to open up to a limited number of new members in October.</p>

      <p>If you’d like to be one of them please <a href="/waiting-list">join the waiting list</a>. Jon, one of the founders of The Skiff, will then be in touch to answer any questions you have.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8 my-1 mx-auto">
      <h2><strong>Signed:</strong></h2>
      <ol>
        <li>Paul Silver, Freelance Web Developer</li>
        <li>Hazlitt Eastman, Freelance Web Developer</li>
        <li>Thomas Parslow, Founder, Buzzshot</li>
        <li>Anna Whitcher, Owner, ELT ImageMakers</li>
        <li>Matt Oakes, Freelance Mobile App Developer</li>
        <li>Ben Edwards, Freelance Web Developer</li>
        <li>Bill Parslow, Writer</li>
        <li>Rich Green, Founder, Umbrella</li>
        <li>Sky Apperley, Freelance iOS Developer</li>
        <li>Tom Buck, Freelance Web Developer</li>
        <li>Lucy Britner, Freelance Drinks Journalist</li>
        <li>Mark Willett, Remote Worker</li>
        <li>Mark Cooper, Remote Worker</li>
        <li>Chris Chilton Remote Worker</li>
        <li>Dave Nicol, Founder, VetX International</li>
        <li>Cath Lloyd, Freelance Animator</li>
        <li>Stuart Wallace, Freelance App Designer & Developer</li>
        <li>Dan Young, Director, Shed Research Consulting</li>
        <li>James Turner, Director, Esparter</li>
        <li>Dave Gurnell, Founder, Cartographer</li>
        <li>Simon Peters, Founder, Peters Associates</li>
        <li>Lizzie Davey, Freelance SaaS Writer</li>
        <li>Conrad Brunner, Director, St Ann’s Tennis</li>
        <li>James Endersby, Wordpress Web developer</li>
        <li>Megan Sayers, Freelance Designer</li>
        <li>Stefan van der Meij, Product Manager, Mitac Digital Technology Corporation</li>
        <li>Chris Hollands, Founder & Designer, Loopmill</li>
      </ol>
    </div>
  </div>
  <div class="row justify-content-md-center mb-4">
    <div class="card bg-light col-xs-12 col-lg-10 col-xl-8">
      <form action="https://www.getdrip.com/forms/267987242/submissions" method="post" data-drip-embedded-form="267987242">
          <div class="card-body">
            <h4 class="card-title" data-drip-attribute="headline">Find out when we're ready for you to join us</h4>
            <p class="card-text" data-drip-attribute="description">We’re starting to open up to a limited number of new members in October. Enter your email address. Jon, one of the founders of The Skiff, will in touch.</p>
            <div class="form-group">
                <label class="sr-only" for="drip-email">Email Address</label>
                <input type="email" id="drip-email" name="fields[email]" placeholder="Email" class="form-control" />
            </div>
            <div class="actions">
              <input type="submit" name="submit" value="Join waiting list" data-drip-attribute="sign-up-button" class="btn btn-secondary btn-block"/>
            </div>
          </div>
      </form>
    </div>
  </div>

</div>