---
title: Coworking in Brighton - The Skiff - a Community and Workspace
sitemap_priority: 0.9

---


<div class="wrapper">
  <div class="content">

    <div class="d-flex flex-column flex-lg-row
    justify-content-around justify-content-lg-around
    align-items-stretch align-items-lg-center content-cards">
    <div class="card bg-light col-xs-12 col-lg-5 col-xl-4">
        <div class="card-body">
          <h2 class="card-title">A place to work where you can be yourself.</h2>
          <p class="card-text"><strong>The Skiff's a Coworking community for individuals - freelancers, remote workers and solo business owners.</strong><br />You miss the best bits of sharing an office with supportive coworkers. But you love the freedom of being able to work from home.<strong><br />Join 200 people who work here a day a week or more.</strong></p>
          <a href="#learn" class="btn btn-primary btn-block">Learn more about The Skiff</a>
          <a href="/tour" class="btn btn-secondary btn-block">Book a tour of The Skiff</a>
      </div>
      </div>

      <div class="col-xs-12 col-lg-5 col-xl-4">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>

  <section class="full-height">
    <div class="left-half">
      <div id='map'></div>
    </div>
    <div class="right-half">
      <img src="/images/skiffmates-stairs_portrait-crop.jpg">
    </div>
  </section>
</div>
<div class="container" id="learn">
<div class="row">
  <div class="col-xs-12 mt-5 mx-auto">
    <h1 class="text-center">"One day I realised I hadn’t spoken to another human being in 48 hours..."</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 my-5 mx-auto">
    <p class="lead">
      That's a quote from one of our members - we hear it far too often.
    </p>

    <p class="lead">
      You want to find the perfect balance of getting stuff done and enjoying Brighton at its best. Focused, productive time and relaxed, social time. Growing your business and gaining a real sense of community.
    </p>
    <p class="lead">But it feels impossible...</p>
    <ul class="confounded">
      <li class="lead">
        "I always get dragged in to household chores."
      </li>
      <li class="lead">
        "I'm going crazy with only the cat to talk to!"
      </li>
      <li class="lead">
        "My back's killing me after a day at a coffee shop table." 
      </li>
      <li class="lead">
        "The WiFi connection always plays up at the worst possible moments."
      </li>
      <li class="lead">
        "I'm isolated from professionals like me."
      </li>
      <li class="lead">
        "Everyone I live with is bored of me talking about work."
      </li>
      <li class="lead">
        "I feel like an outsider in Brighton."
      </li>
      <li class="lead">
        "Why don't I feel the sense of community everyone talks about?"
      </li>
    </ul>
    <p class="lead">
      <strong>You're struggling to find the work-life balance Brighton is renowned for. But worst of all you're lonely.</strong> You're in one of the most densly populated cities in the world. Yet you can go days at a time without having a proper conversation with another human being.
    </p>
    <p class="lead">
      You always manage to take some quality time with friends and family before things get really bad. But they all have traditional jobs. They're surrounded with work colleagues most days. How will they ever understand what you're feeling?
    </p>
    
    <p class="lead">
      What if your time with friends and family was more focused on them and their needs? 
    </p>

</div>
</div>
<div class="row">
  <div class="col-xs-12 mt-5 mx-auto">
    <%= image_tag "lunch-wide.jpg", :class=>"img-fluid mb-5 " %>
    <h2 class="text-center">"...The Skiff’s laidback atmosphere and vibrant social scene was exactly what I needed."</h2>

    <div class="card bg-info my-3">
      <div class="card-body">
        <blockquote class="blockquote text-center mb-0">
          <p class="mb-0">"I had been working from home for about a year and I was scarily close to going crazy. <strong>One day I realised I hadn’t spoken to another human being in 48 hours</strong> and that’s when I knew I needed to shake things up. After researching a few co-working spaces, I decided <strong>The Skiff’s laidback atmosphere and vibrant social scene was exactly what I needed.</strong>"</p>
          <div class="text-muted mx-auto text-left d-flex justify-content-center mt-2">
            <img class="rounded-circle float-left mr-2" src="/images/lizzie-davey.jpg" alt="Lizzie Davey" height="66">
            <p class="mb-0">
              Lizzie Davey
                <a href="/members/lizzie-davey" class="btn btn-sm btn-outline-dark">View profile</a>
              <br>
              <small>Skiff Mate since November 2016</small>
            </p>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 my-5 mx-auto">
    <p class="lead">
      How much better would you feel if you had an office on your doorstep, filled with people who really understand you and your work?
    </p>

    <p class="lead">Imagine:</p>
    <ul class="smiling">
      <li class="lead">
        There wouldn't be any household chores to distract you.
      </li>
      <li class="lead">
        You'd always have someone to chat with when you need a break from your screen.
      </li>
      <li class="lead">
        You'd have a proper desk to spread your work out on.
      </li>
      <li class="lead">
        Your Internet connection would be the rock solid kind that only big businesses can afford.
      </li>
      <li class="lead">
        Every week you'd learn something new without travelling to a conference or paying for a workshop.
      </li>
      <li class="lead">
        You'd have a direct line to professionals whoes opinions you respect.
      </li>
      <li class="lead">
        You'd have your own clubhouse to welcome others into.
      </li>
      <li class="lead">
        <strong>Your business grows</strong> as a result of the community you have around you. 
      </li>

    </ul>

    <p class="lead">
      And, since we're dreaming, what if you didn't have to give up any of the freedoms you currently have. No scary multi-month commercial property contracts, no need to take on the huge responsibility of employing someone and no rules and policies that make you feel like you're back at school. A space you can call your own and a community you can participate in as much as you need to.
    </p>

    <p class="lead">
      What if your office was a place you looked forward to going to?
    </p>

</div>
</div>
<div class="row">
  <div class="col-xs-12 mt-5 mx-auto">
    <%= image_tag "engine-room-wide.jpg", :class=>"img-fluid mb-5 " %>
    <h2 class="text-center">"If you find yourself endlessly procrastinating at home or debating deadlines with your dog, check out The Skiff"</h2>
  </div>
</div>
<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 my-5 mx-auto">

    <p class="lead">
      We started our business working from home ourselves. And we caught all kinds of cabin fever.
    </p>

    <p class="lead">
      That's why, when we took on an office of our own in 2007, we opened it up for others to escape the isolation of working from home. 18 months and one office move later we realised it wasn't our office any more, it was our community's.
    </p>    

    <p class="lead">
      When you join The Skiff to escape the isolation of working from home, you get the benefit joining a community of over 200 like minded individuals. They include freelancers, consultants, micro-business owners, remote workers, accountants, artists, designers, developers, engineers, illustrators, journalists, marketers, masseuses, photographers, musicians, scientists, writers, videographers and more. You'll fit right in.
    </p>

    <p class="lead">Together we share an ambition to:</p>

</div>

  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 my-5 mx-auto">

    <div class="card bg-info mb-3">
      <div class="card-body">
        <blockquote class="blockquote text-center mb-0">
          <p class="mb-0">"Office parties, the jokes over the coffee machine, and just being around productive people. That’s what first attracted me to the Skiff."</p>
          <div class="text-muted mx-auto text-left d-flex justify-content-center mt-2">
            <img class="rounded-circle float-left mr-2" src="/images/dan-young.jpg" alt="Dan Young" height="66">
            <p class="mb-0">
              Dan Young
                <a href="/members/dan-young" class="btn btn-sm btn-outline-dark">View profile</a>
              <br>
              <small>Skiff Mate since January 2015</small>
            </p>
          </div>
        </blockquote>
      </div>
    </div>

    <div class="card bg-info mb-3">
      <div class="card-body">
        <blockquote class="blockquote text-center mb-0">
          <p class="mb-0">"The Skiff has been a brilliant place to work and meet people. After just 8 months of working from home and coffee shops, The Skiff was exactly what I needed to stop myself going crazy."</p>
          <div class="text-muted mx-auto text-left d-flex justify-content-center mt-2">
            <img class="rounded-circle float-left mr-2" src="/images/matt-oakes.jpg" alt="Matt Oakes" height="66">
            <p class="mb-0">
              Matt Oakes
              <br>
              <small>Skiff Mate since January 2017</small>
            </p>
          </div>
        </blockquote>
      </div>
    </div>

  </div>

</div>
<div class="row">
  <div class="col-xs-12 mx-auto">
    <h2 class="text-center mt-2 mb-5">Make working independently in Brighton better than employment anywhere.</h2>
    <%= image_tag "skiff-collage.jpg", :class=>"img-fluid mb-5 " %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 my-5 mx-auto">
    <p class="lead">... in addition to sharing a workspace with all the facilities you've to come to expect of a modern office:</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4 mt-5 mx-auto">
    <ul class="tick">
      <li>
        A choice of 5 different areas to match your mood.
      </li>
      <li>
        Large desks you can spread your work out on.
      </li>
      <li>
        Comfy chairs you can spend a day working from.
      </li>
      <li>
        Standing desks when you need to change position.
      </li>
      <li>
        3 meeting rooms with room for  2 to 30 people.
      </li>
      <li>
        Evening and weekend event space for upto 100 people.
      </li>
      <li>
        Enterprise grade boardband and WiFi you can depend on.
      </li>
    </ul>
  </div>
  <div class="col-xs-12 col-md-4 mt-5 mx-auto">
    <ul class="tick">
      <li>
        Meet your coworkers at social and professional gatherings every week.
      </li>
      <li>
        Slack chat room giving you an instant direct line to coworkers.
      </li>
      <li>
        Email discussion list for announcements and longer discussions.
      </li>
      <li>
        Keyfob and mobile app for self-serve access.
      </li>
      <li>
        Free printing for your urgent and occasional prints.
      </li>
      <li>
        Storage space so you can leave your equipment in the space.
      </li>
      <li>
        Stationery supplies in case you urgently need to post something, stick something, laminate, staple...
      </li>
   </ul>
  </div>
  <div class="col-xs-12 col-md-4 mt-5 mx-auto">
    <ul class="tick">
      <li>
        Relax in a dedicated social space when you need time away from your screen.
      </li>
      <li>
        Free tea, fresh coffee, fruit and ocassional treats to keep you energised.
      </li>
      <li>
        Fridge space, microwave, toaster and hot/cold water filter to keep yourself nourished and hydrated.
      </li>
      <li>
        Indoor bike parking so you can cycle your favorite bike to work.
      </li>
      <li>
        Shower so you can go for a run when you need to.
      </li>
      <li>
        Dog friendly for friendly, well behaved dogs.
      </li>
      <li>
        Welcome a visitor to the the space at no extra cost.
      </li>
    </ul>
  </div>
</div>
</div>
<div class="row no-gutters">
  <div class="text-center">
    <h5 class="text-center">Featured in</h5>
    <div class="bg-info mb-3">
      <div class="row no-gutters">
        <div class="col">
          <img class="img-fluid" src="/images/theguardian.png" alt="The Guardian">
        </div>
        <div class="col">
          <img class="img-fluid" src="/images/fortune.png" alt="Fortune">
        </div>
        <div class="col">
          <img class="img-fluid" src="/images/theargus.png" alt="The Argus">
        </div>
        <div class="col">
          <img class="img-fluid" src="/images/lifehacker.png" alt="Lifehacker">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 my-5 mx-auto">
    <p class="text-center">
      No surprise "addons" or "extras". One, simple, predictable monthly Coworking membership. That's it.
    </p>
    <p>
      <a href="/join" class="btn btn-success btn-block text-white">Start Coworking at The Skiff Today</a>
      <a href="/tour" class="btn btn-secondary btn-block text-white">Book a Tour of The Skiff</a>
    </p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 my-2 mx-auto">
    <div class="card bg-info mb-3">
      <div class="card-body">
        <blockquote class="blockquote text-center mb-0">
          <p class="mb-0">"Really love the space and the people in it. It's so relaxed and friendly. There's also great social as well. I've been here for over a year and loving it!"</p>
          <div class="text-muted mx-auto text-left d-flex justify-content-center mt-2">
            <img class="rounded-circle float-left mr-2" src="/images/joanne-lloyd.jpg" alt="Joanne Lloyd" height="66">
            <p class="mb-0">
              Joanne Lloyd
              <br>
              <small>Skiff Mate since July 2016</small>
            </p>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 my-2 mx-auto">
  <div class="card bg-info mb-3">
    <div class="card-body">
      <blockquote class="blockquote text-center mb-0">
        <p class="mb-0">"What a great place! Very friendly and welcoming people, plenty of events happening for members and a choice of spaces to suit your working style."</p>
        <div class="text-muted mx-auto text-left d-flex justify-content-center mt-2">
          <img class="rounded-circle float-left mr-2" src="/images/caroline-beavon.jpg" alt="Caroline Beavon" height="66">
          <p class="mb-0">
            Caroline Beavon
              <a href="/members/caroline-beavon" class="btn btn-sm btn-outline-dark">View profile</a>
            <br>
            <small>Skiff Mate since June 2016</small>
          </p>
        </div>
      </blockquote>
    </div>
  </div>
</div>
</div>


<div class="row mt-5">
  <div class="col-xs-12 col-md-8 mx-auto">
    <h3 class="text-center">
      After joining The Skiff members report that they feel:
    </h3>
  </div>
</div>
<div class="card-deck">
  <div class="card text-center text-white bg-primary my-2">
    <div class="card-body">
      <h4 class="card-title display-2">35%</h4>
      <p class="card-text">more productive</p>
    </div>
  </div>
  <div class="card text-center text-white bg-secondary my-2">
    <div class="card-body">
      <h4 class="card-title display-2">41%</h4>
      <p class="card-text">fewer distractions</p>
    </div>
  </div>
  <div class="card text-center text-white bg-success my-2">
    <div class="card-body">
      <h4 class="card-title display-2">64%</h4>
      <p class="card-text">less isolated</p>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-xs-12 col-md-8 mx-auto">
    <h3 class="text-center">
      But it doesn't stop there.
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-8 mx-auto">
    <ul class="lead">
      <li>
        43% say The Skiff has increased the growth of their business.
      </li>
      <li>
        62% say The Skiff made solving business problems easier.
      </li>
      <li>
        77% say The Skiff has improved their work/life balance.
      </li>
      <li>
        91% say being a member of The Skiff helped them feel part of a community.
      </li>
    </ul>
  </div>
</div>
<div class="row mb-5">
  <div class="col-xs-12 col-md-8 mx-auto">
    <h3 class="text-center mb-5">
      95% say The Skiff makes working independently in Brighton more comfortable, more sustainable and more productive.
    </h3>
    <p>
      <a href="/join" class="btn btn-success btn-block text-white">Start Coworking at The Skiff Today</a>
      <a href="/tour" class="btn btn-secondary btn-block text-white">Book a Tour of The Skiff</a>
    </p>

  </div>
</div>
<div class="card-deck">
  <div class="card text-center my-5">
    <div class="card-body">
      <h4 class="card-title">People</h4>
      <a href="/people" class="btn btn-default btn-block">Who will you work with?</a>
    </div>
  </div>
  <div class="card text-center my-5">
    <div class="card-body">
      <h4 class="card-title">Place</h4>
      <a href="/place" class="btn btn-default btn-block">Where will you work?</a>
    </div>
  </div> 
  <div class="card text-center my-5">
    <div class="card-body">
      <h4 class="card-title">Purpose</h4>
      <a href="/purpose" class="btn btn-default btn-block">Why will you join The Skiff?</a>
    </div>
  </div>
</div>

<div class="row mb-5">
  <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="card bg-info mb-3">
      <div class="card-body">
        <blockquote class="blockquote text-center mb-0">
          <p class="mb-0">"I can't imagine being freelance w/out being a member of such a great community!"</p>
          <div class="text-muted mx-auto text-left d-flex justify-content-center mt-2">
            <img class="rounded-circle float-left mr-2" src="/images/peter-cook.jpg" alt="Peter Cook" height="66">
            <p class="mb-0">
              Peter Cook
              <br>
              <small>Skiff Mate since September 2012</small>
            </p>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="card bg-info mb-3">
      <div class="card-body">
        <blockquote class="blockquote text-center mb-0">
          <p class="mb-0">"I was dismayed that I couldn't find any serviced offices or a coworking space in Haywards Heath."</p>
          <div class="text-muted mx-auto text-left d-flex justify-content-center mt-2">
            <img class="rounded-circle float-left mr-2" src="/images/thomas-buck.jpg" alt="Thomas Buck" height="66">
            <p class="mb-0">
              Thomas Buck
                <a href="/members/thomas-buck" class="btn btn-sm btn-outline-dark">View profile</a>
              <br>
              <small>Skiff Mate since October 2017</small>
            </p>
          </div>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="card bg-info mb-3">
      <div class="card-body">
        <blockquote class="blockquote text-center mb-0">
          <p class="mb-0">"I was working from home, and sometimes upstairs all day in the Jubilee library."</p>
          <div class="text-muted mx-auto text-left d-flex justify-content-center mt-2">
            <img class="rounded-circle float-left mr-2" src="/images/cath-lloyd.jpg" alt="Cath Lloyd" height="66">
            <p class="mb-0">
              Cath Lloyd
                <a href="/members/cath-lloyd" class="btn btn-sm btn-outline-dark">View profile</a>
              <br>
              <small>Skiff Mate since November 2014</small>
            </p>
          </div>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="card bg-info mb-3">
      <div class="card-body">
        <blockquote class="blockquote text-center mb-0">
          <p class="mb-0">"The Skiff offers a perfect refuge!"</p>
          <div class="text-muted mx-auto text-left d-flex justify-content-center mt-2">
            <img class="rounded-circle float-left mr-2" src="/images/simon-popple.jpg" alt="Simon Popple" height="66">
            <p class="mb-0">
              Simon Popple
                <a href="/members/simon-popple" class="btn btn-sm btn-outline-dark">View profile</a>
              <br>
              <small>Skiff Mate since October 2014</small>
            </p>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="card bg-info mb-3">
      <div class="card-body">
        <blockquote class="blockquote text-center mb-0">
          <p class="mb-0">"I wanted to meet people both for work contacts and moral support and The Skiff has provide plenty of both."</p>
          <div class="text-muted mx-auto text-left d-flex justify-content-center mt-2">
            <img class="rounded-circle float-left mr-2" src="/images/izzy-crouch.jpg" alt="Izzy Crouch" height="66">
            <p class="mb-0">
              Izzy Crouch
                <a href="/members/izzy-crouch" class="btn btn-sm btn-outline-dark">View profile</a>
              <br>
              <small>Skiff Mate since April 2015</small>
            </p>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="card bg-info mb-3">
      <div class="card-body">
        <blockquote class="blockquote text-center mb-0">
          <p class="mb-0">"The Skiff seems unique in offering a more inclusive and collaborative experience."</p>
          <div class="text-muted mx-auto text-left d-flex justify-content-center mt-2">
            <img class="rounded-circle float-left mr-2" src="/images/andy-mattock.jpg" alt="Andy Mattock" height="66">
            <p class="mb-0">
              Andy Mattock
                <a href="/members/andy-mattock" class="btn btn-sm btn-outline-dark">View profile</a>
              <br>
              <small>Skiff Mate since November 2015</small>
            </p>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="card bg-info mb-3">
      <div class="card-body">
        <blockquote class="blockquote text-center mb-0">
          <p class="mb-0">"It's a great space with a range of different rooms depending on how much noise/music you want around."</p>
          <div class="text-muted mx-auto text-left d-flex justify-content-center mt-2">
            <img class="rounded-circle float-left mr-2" src="/images/mike-hadlow.jpg" alt="Mike Hadlow" height="66">
            <p class="mb-0">
              Mike Hadlow
              <br>
              <small>Skiff Mate since July 2012</small>
            </p>
          </div>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="card bg-info mb-3">
      <div class="card-body">
        <blockquote class="blockquote text-center mb-0">
          <p class="mb-0">"The folk are friendly techies &amp; creatives, and you can find out what they do at the weekly Show &amp; Tell, which are fund and educational."</p>
          <div class="text-muted mx-auto text-left d-flex justify-content-center mt-2">
            <img class="rounded-circle float-left mr-2" src="/images/conrad-brunner.jpg" alt="Conrad Brunner" height="66">
            <p class="mb-0">
              Conrad Brunner
              <br>
              <small>Skiff Mate since January 2017</small>
            </p>
          </div>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="card bg-info mb-3">
      <div class="card-body">
        <blockquote class="blockquote text-center mb-0">
          <p class="mb-0">"The space is dedicated to freelancers, not small businesses, so we don't get crowded out or treated like 2nd-class members as can happen in other Brighton co-working spaces."</p>
          <div class="text-muted mx-auto text-left d-flex justify-content-center mt-2">
            <img class="rounded-circle float-left mr-2" src="/images/margaret-ousby.jpg" alt="Margaret Ousby" height="66">
            <p class="mb-0">
              Margaret Ousby
              <br>
              <small>Skiff Mate since January 2017</small>
            </p>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="card bg-info mb-3">
      <div class="card-body">
        <blockquote class="blockquote text-center mb-0">
          <p class="mb-0">"The Skiff really understands what people what from a shared / collaborative  workspace and provide it at a great price. I'm extremely happy here :)"</"</p>
          <div class="text-muted mx-auto text-left d-flex justify-content-center mt-2">
            <img class="rounded-circle float-left mr-2" src="/images/steve-green.jpg" alt="Steve Green" height="66">
            <p class="mb-0">
              Steve Green
              <br>
              <small>Skiff Mate since November 2015</small>
            </p>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
</div>
</div>



<% content_for :javascript do %>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoidGhlc2tpZmYiLCJhIjoiY2o4NmZ5aGk4MG9zdzM1dWdodjg3bGVudyJ9.DMQpqYWF8CePJTXo__1XOQ';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/theskiff/cj8f2aui1aly82sucgalejs5h',
center: [-0.138447,50.829323], // starting position
zoom: 2, // starting zoom
interactive: false
});

   map.flyTo({
  // These options control the ending camera position: centered at
  // the target, at zoom level 9, and north up.
  center: [-0.138447,50.829323],
  zoom: 19,
  bearing: 0,

  // These options control the flight curve, making it move
  // slowly and zoom out almost completely before starting
  // to pan.
  speed: 0.4, // make the flying slow
  curve: 1, // change the speed at which it zooms out

  // This can be any easing function: it takes a number between
  // 0 and 1 and returns another number between 0 and 1.
  easing: function (t) {
      return t;
  }
});
           map.resize();

</script>
<% end %>
