---
title: The Skiff
sitemap_priority: 0.9

---


<div class="wrapper">
  <div class="content">

    <div class="d-flex flex-column flex-lg-row
    justify-content-around justify-content-lg-around
    align-items-stretch align-items-lg-center content-cards">
    <div class="card bg-light col-xs-12 col-lg-5 col-xl-4">
        <div class="card-body">
          <h2 class="card-title">Time to try working somewhere different?</h2>
          <p class="card-text"><strong>We're a community of over 200 people who have the freedom to choose where we work.</strong><br />We choose to spend part of our week at our shared work and social space in North Laine.<strong><br />You are very welcome to join us.</strong></p>
          <a href="#learn" class="btn btn-primary btn-block">Learn more about The Skiff</a>
      </div>
      </div>

      <div class="col-xs-12 col-lg-5 col-xl-4">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>

  <section class="full-height">
    <div class="left-half">
      <div id='map'></div>
    </div>
    <div class="right-half">
      <img src="/images/skiff-mates.jpg">
    </div>
  </section>
</div>
<div class="container" id="learn">
<div class="row">
  <div class="col-xs-12 mt-5 mx-auto">
    <h1 class="text-center">"I felt so isolated working from home I almost called it quits and returned to traditional employment..."</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-8 mt-5 mx-auto">
    <p class="lead">
      That's a quote from one of our members - we hear it far too often.
    </p>

    <p class="lead">
      You want to find the perfect balance of getting stuff done and enjoying Brighton at its best. Focused, productive time and relaxed, social time. Growing your business and gaining a real sense of community.
    </p>
    <p class="lead">But it feels impossible...</p>
    <ul>
      <li class="lead">
        "I always get dragged in to household chores."
      </li>
      <li class="lead">
        "I'm going crazy with only the cat to talk to!"
      </li>
      <li class="lead">
        "My back's killing me after a day at a coffee shop table." 
      </li>
      <li class="lead">
        "The WiFi connection always plays up at the worst possible moments."
      </li>
      <li class="lead">
        "I'm isolated from professionals like me."
      </li>
      <li class="lead">
        "Everyone I live with is bored of me talking about work."
      </li>
      <li class="lead">
        "I feel like an outsider in Brighton."
      </li>
      <li class="lead">
        "Why don't I feel the sense of community everyone talks about?"
      </li>
    </ul>
    <p class="lead">
      <strong>You're struggling to find the work-life balance Brighton is renowned for. But worst of all you're lonely.</strong> You're in one of the most densly populated cities in the world. Yet you can go days at a time without having a proper conversation with another human being.
    </p>
    <p class="lead">
      You always manage to take some quality time with friends and family before things get really bad. But they all have traditional jobs. They're surrounded with work colleagues most days. How will they ever understand what you're feeling?
    </p>
    
    <p class="lead">
      What if your time with friends and family was more focused on them and their needs? 
    </p>

</div>
</div>
<div class="row">
  <div class="col-xs-12 mt-5 mx-auto">
    <h2 class="text-center">"...The Skiff isn't just a workplace for me, it's also a community and a second home!"</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-8 mt-5 mx-auto">

    <p class="lead">
      How much better would you feel if you had an office on your doorstep, filled with people who really understand you and your work?
    </p>

    <p class="lead">Imagine:</p>
    <ul>
      <li class="lead">
        There wouldn't be any household chores to distract you.
      </li>
      <li class="lead">
        You'd always have someone to chat with when you need a break from your screen.
      </li>
      <li class="lead">
        You'd have a proper desk to spread your work out on.
      </li>
      <li class="lead">
        Your Internet connection would be the rock solid kind that only big businesses can afford.
      </li>
      <li class="lead">
        Every week you'd learn something new without travelling to a conference or paying for a workshop.
      </li>
      <li class="lead">
        You'd have a direct line to professionals whoes opinions you respect.
      </li>
      <li class="lead">
        You'd have your own clubhouse to welcome others into.
      </li>
      <li class="lead">
        <strong>Your business grows</strong> as a result of the community you have around you. 
      </li>

    </ul>

    <p class="lead">
      And, since we're dreaming, what if you didn't have to give up any of the freedoms you currently have. No scary multi-month commercial property contracts, no need to take on the huge responsibility of employing someone and no rules and policies that make you feel like you're back at school. A space you can call your own and a community you can participate in as much as you need to.
    </p>

    <p class="lead">
      What if your office was a place you looked forward to going to?
    </p>

</div>
</div>
<div class="row">
  <div class="col-xs-12 mt-5 mx-auto">
    <h2 class="text-center">"If you find yourself endlessly procrastinating at home or debating deadlines with your dog, check out The Skiff"</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-8 mt-5 mx-auto">

    <p class="lead">
      We started our business working from home ourselves. And we caught all kinds of cabin fever.
    </p>

    <p class="lead">
      That's why, when we took on an office of our own in 2007, we opened it up for others to escape the isolation of working from home. 18 months and one office move later we realised it wasn't our office any more, it was our community's.
    </p>    

    <p class="lead">
      When you join The Skiff to escape the isolation of working from home, you get the benefit joining a community of over 200 like minded individuals who:
    </p>
    <ul>
      <li>
        <strong>Design things...</strong> Animators, Aritists, Fabricators, Graphic Designers, Ilustrators, Industrial Designers, User Experience Spacialists
      </li>
      <li>
        <strong>Develop technology...</strong> App Developers, Architects, Data Scientists, DevOps, Engineers, Programmers, Testers, Web Developers
      </li>
      <li>
        <strong>Write words...</strong> Bid Writers, Bloggers, Content Strategists, Copywriters, Editors, Information Architects, Interpreters, Journalists, Novelists, Poets, Proofreaders, Screenwriters, Speechwriters, Translators, Writers
      </li>
       <li>
        <strong>Produce media...</strong> Actors, Directors, Film Makers, Music Producers, Musicians, Photographers, Sound and Lighting Specialists, TV Producers, Podcasters, Projection Designers, Video Editors
      </li>
      <li>
        <strong>Apply specialist knowledge...</strong> Acedemic Researchers, Data Analysts, Market Researchers, Accountants, Analysts, Tax Advisors, Investors, Mathematicians, Surveyors, Lawyers, Solicitors,
      </li>
      <li>
        <strong>Promote products and services...</strong> Book Publicists, Brand Placement Specialists, Communications Strategists, Community Managers, CRO Consultants, Digital Marketing Consultants, Marketing Automation Specialists, PR Consultants, SEO Specialists, Social Media Consultants, 
      </li>
      <li>
        <strong>Teach and support people...</strong> Course Curators, Conference Organisers, Coaches, Counsellors, HR Specialists, Human Rights Specialists, Learning Consultants, Lecturers, Leadership Trainers, Mentors, Policy Advocates, Public Health Consultants, Tutors, Speakers, Workshop Facilitators
      </li>
      <li>
        <strong>Manage projects and processes...</strong> Account Managers, Application Managers, Logistics Managers, Management Consultants, Project Managers, Production Managers, Policy Officers, Solutions Consultants, Support Specialists, Travel Agents, Virtual Assistants
      </li>
      <li>
        <strong>Start and lead businesses and organisations...</strong> Agency Owners, Company Directors, Entrepreneurs, Founders, CTOs, COOs, CEOs, MDs, Regional Managers, Shopkeepers
      </li>
    </ul>

    <p class="lead">Together we share an ambition to:</p>

</div>
</div>
<div class="row">
  <div class="col-xs-12 mt-5 mx-auto">
    <h2 class="text-center">Make working independently in Brighton better than employment anywhere.</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-8 mt-5 mx-auto">

    <p class="lead">... in addition to sharing a workspace with all the facilities you've to come to expect of a modern office:</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4 mt-5 mx-auto">
    <ul>
      <li>
        A choice of 5 different areas to match your mood.
      </li>
      <li>
        Large desks you can spread your work out on.
      </li>
      <li>
        Comfy chairs you can spend a day working from.
      </li>
      <li>
        Standing desks when you need to change position.
      </li>
      <li>
        3 meeting rooms with room for  2 to 30 people.
      </li>
      <li>
        Evening and weekend event space for upto 100 people.
      </li>
      <li>
        Enterprise grade boardband and WiFi you can depend on.
      </li>
    </ul>
  </div>
  <div class="col-xs-12 col-md-4 mt-5 mx-auto">
    <ul>
      <li>
        Meet your workers at social and professional gatherings every week.
      </li>
      <li>
        Slack chat room giving you an instant direct line to coworkers.
      </li>
      <li>
        Email discussion list for announcements and longer discussions.
      </li>
      <li>
        Keyfob and mobile app for self-serve access.
      </li>
      <li>
        Free printing for your urgent and occasional prints.
      </li>
      <li>
        Storage space so you can leave your equipment in the space.
      </li>
      <li>
        Stationery supplies in case you urgently need to post something, stick something, laminate, staple...
      </li>
   </ul>
  </div>
  <div class="col-xs-12 col-md-4 mt-5 mx-auto">
    <ul>
      <li>
        Relax in a dedicated social space when you need time away from your screen.
      </li>
      <li>
        Free tea, fresh coffee, fruit and ocassional treats to keep you energised.
      </li>
      <li>
        Fridge space, microwave, toaster and hot/cold water filter to keep yourself nourished and hydrated.
      </li>
      <li>
        Indoor bike parking so you can cycle your favorite bike to work.
      </li>
      <li>
        Shower so you can go for a run when you need to.
      </li>
      <li>
        Dog friendly for friendly, well behaved dogs.
      </li>
      <li>
        Welcome a visitor to the the space at no extra cost.
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-8 mt-5 mx-auto">
    <p class="text-center">
      No surprise "addons" or "extras". You pay one, simple, predictable monthly membership fee. That's it.
    </p>
    <p>
      <a href="/join" class="btn btn-success btn-block text-white">Join Today</a>
    </p>
  </div>
</div>

<div class="row mt-5">
  <div class="col-xs-12 col-md-8 mx-auto">
    <h3 class="text-center">
      After joining The Skiff members report that they feel:
    </h3>
  </div>
</div>
<div class="card-deck">
  <div class="card text-center text-white bg-primary my-2">
    <div class="card-body">
      <h4 class="card-title display-2">35%</h4>
      <p class="card-text">more productive</p>
    </div>
  </div>
  <div class="card text-center text-white bg-secondary my-2">
    <div class="card-body">
      <h4 class="card-title display-2">41%</h4>
      <p class="card-text">fewer distractions</p>
    </div>
  </div>
  <div class="card text-center text-white bg-success my-2">
    <div class="card-body">
      <h4 class="card-title display-2">64%</h4>
      <p class="card-text">less isolated</p>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-xs-12 col-md-8 mx-auto">
    <h3 class="text-center">
      But it doesn't stop there.
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-8 mx-auto">
    <ul class="lead">
      <li>
        43% say The Skiff has increased the growth of their business.
      </li>
      <li>
        62% say The Skiff made solving business problems easier.
      </li>
      <li>
        77% say The Skiff has improved their work/life balance.
      </li>
      <li>
        91% say being a member of The Skiff helped them feel part of a community.
      </li>
    </ul>
  </div>
</div>
<div class="row mb-5">
  <div class="col-xs-12 col-md-8 mx-auto">
    <h3 class="text-center mb-5">
      95% say The Skiff makes working independently in Brighton more comfortable, more sustainable and more productive.
    </h3>
    <p>
      <a href="/join" class="btn btn-success btn-block text-white">Join Today</a>
    </p>
  </div>
</div>
<div class="card-deck">
  <!--<div class="card text-center my-5">
    <div class="card-body">
      <h4 class="card-title">People</h4>
      <a href="/people" class="btn btn-default btn-block">Who will you work with?</a>
    </div>
  </div>
  <div class="card text-center my-5">
    <div class="card-body">
      <h4 class="card-title">Place</h4>
      <a href="/place" class="btn btn-default btn-block">Where will you work?</a>
    </div>
  </div> -->
  <div class="card text-center my-5">
    <div class="card-body">
      <h4 class="card-title">Purpose</h4>
      <a href="/purpose" class="btn btn-default btn-block">Why will you join The Skiff?</a>
    </div>
  </div>
</div>
</div>

<% content_for :javascript do %>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoidGhlc2tpZmYiLCJhIjoiY2o4NmZ5aGk4MG9zdzM1dWdodjg3bGVudyJ9.DMQpqYWF8CePJTXo__1XOQ';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/theskiff/cj8f2aui1aly82sucgalejs5h',
center: [-0.138447,50.829323], // starting position
zoom: 2, // starting zoom
interactive: false
});

   map.flyTo({
  // These options control the ending camera position: centered at
  // the target, at zoom level 9, and north up.
  center: [-0.138447,50.829323],
  zoom: 19,
  bearing: 0,

  // These options control the flight curve, making it move
  // slowly and zoom out almost completely before starting
  // to pan.
  speed: 0.4, // make the flying slow
  curve: 1, // change the speed at which it zooms out

  // This can be any easing function: it takes a number between
  // 0 and 1 and returns another number between 0 and 1.
  easing: function (t) {
      return t;
  }
});
           map.resize();

</script>
<% end %>