---
title: The Skiff
---

<div class="wrapper">
  <div class="content">
    <div class="d-flex flex-column flex-lg-row
    justify-content-around justify-content-lg-around
    align-items-stretch align-items-lg-center content-cards">
      <div class="card col-xs-12 col-lg-5 col-xl-4">
        <div class="card-body">
          <h2 class="card-title">It's time you had a good reason to get out of your house every week.</h2>
          <p class="card-text"><strong>Join a community of over 200 people who have the freedom to choose where they work.</strong> Spend all or part of your week Coworking with them. Their shared work and social space in North Laine could become home for your work.</p>
          <a href="#learn" class="btn btn-primary btn-block">Learn more about The Skiff</a>
        </div>
      </div>

      <div class="card col-xs-12 col-lg-5 col-xl-4 bg-dark text-white">
        <form action="https://www.getdrip.com/forms/56551550/submissions" method="post" data-drip-embedded-form="56551550">
            <div class="card-body">
              <h4 class="card-title" data-drip-attribute="headlinex">Happier Homeworking in Brighton</h4>
              <p class="card-text" data-drip-attribute="descriptionx">Take our FREE 9 lesson course that has helped over 500 freelancers in Sussex to stay productive and keep cabin fever at bay while working from home.</p>
              <div class="form-group">
                  <label class="sr-only" for="drip-email">Email Address</label>
                  <input type="email" id="drip-email" name="fields[email]" placeholder="Email" class="form-control" autofocus/>
              </div>
              <div class="actions">
                <input type="submit" name="submit" value="Get the first FREE lesson" data-drip-attribute="sign-up-button" class="btn btn-warning btn-block"/>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
  <section class="full-height">
    <div class="left-half">
      <!-- <img src="/assets/images/brighton.jpg"> -->
    </div>
    <div class="right-half">
      <img src="/images/skiff-mates.jpg">
    </div>
  </section>
</div>

<div class="container" id="learn">
<div class="row">
  <div class="col-xs-12 col-md-8 my-5 mx-auto">
    <h1>Make working independently in Brighton better than employment anywhere</h1>
    <p class="lead">
      The Skiff is a Coworking community established by ten Skiff Mates in 2008. They have grown slowly to become a collective of over 200 individuals. They're people who value being able to regularly escape the isolation of working alone from home. With the support of Wired Sussex they operate and maintain a 5,000 sq ft shared work and social space. It's less than 5 minutes walk down the hill from Brighton station.
      <a href="#learn" class="btn btn-success btn-block">Book a tour</a>
    </p>
  </div>
</div>

<p class="lead">
  After joining The Skiff members report that they feel:
</p>
<div class="card-deck">
  <div class="card text-center text-white bg-success my-2">
    <div class="card-body">
      <h4 class="card-title display-2">34.5%</h4>
      <p class="card-text">more productive</p>
    </div>
  </div>
  <div class="card text-center text-white bg-warning my-2">
    <div class="card-body">
      <h4 class="card-title display-2">40.5%</h4>
      <p class="card-text">fewer distractions</p>
    </div>
  </div>
  <div class="card text-center text-white bg-info my-2">
    <div class="card-body">
      <h4 class="card-title display-2">63.6%</h4>
      <p class="card-text">less isolated</p>
    </div>
  </div>
</div>


<p class="lead">
  But it doesn't stop there.
</p>
<ul class="lead">
  <li>
    42.9% say The Skiff has increased the growth of their business.
  </li>
  <li>
    61.9% say The Skiff made solving business problems easier.
  </li>
  <li>
    76.2% say The Skiff has improved their work/life balance.
  </li>
  <li>
    90.5% say being a member of The Skiff helped them feel part of a community.
  </li>
  <li>
    95.2% say The Skiff makes working independently in Brighton more comfortable, more sustainable and more productive.
  </li>
</ul>


</div>
