---
title: The Skiff
---

<div class="wrapper">
  <div class="content">
    <div class="d-flex flex-column flex-lg-row
    justify-content-around justify-content-lg-around
    align-items-stretch align-items-lg-center content-cards">
      <div class="card col-xs-12 col-lg-5 col-xl-4">
        <form action="https://www.getdrip.com/forms/56551550/submissions" method="post" data-drip-embedded-form="5655155033">
            <div class="card-body">
              <h1 class="card-title" data-drip-attribute="headline">It's time you had a good reason to get out of your house every week.</h1>
              <p class="card-text" data-drip-attribute="description">Try working somewhere that puts you and your work first.</p>
              <div class="form-group">
                  <label class="sr-only" for="drip-email">Email Address</label><br />
                  <input type="email" id="drip-email" name="fields[email]" placeholder="Email" class="form-control" autofocus/>
              </div>
              <div class="actions">
                <input type="submit" name="submit" value="Book your tour of The Skiff" data-drip-attribute="sign-up-button" class="btn btn-primary btn-block"/>
              </div>
            </div>
        </form>
      </div>

      <div class="col-xs-12 col-lg-5 col-xl-4">
<br/><br/><br/>
<br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/>
      </div>
    </div>
  </div>
  <section class="full-height">
    <div class="left-half">
      <!-- <img src="/assets/images/brighton.jpg"> -->
    </div>
    <div class="right-half">
      <img src="/images/skiff-mates.jpg">
    </div>
  </section>
</div>

<div class="container">

</div>
