---
title: Membership Agreement
---

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 my-5 mx-auto">
      <h1>Membership Agreement</h1>
      <h2>Our Mission Statement:</h2>
      <p>Skiff Mates [people, coworkers, groups and community] who participate in The Skiff's community and use The Skiff's space [30 Cheapside, Brighton, East Sussex. BN1 4GD] are professionals who wish to escape the isolation of working from home alone. They share an ambition to make Brighton a better place to make a living doing what we love.</p>
      <h2>Your Responsibilities</h2>
      <p>We aren't big on rules, per se, but weve figured out that not everyone inherently understands the principles of participation, community and being a good neighbour, so we've put together a few points for everyone to keep in mind.</p>
      <ul>
      <li>Participation is an extreme sport. You break or lose it, you buy it.</li>
      <li>Equipment and Professional Liability is your responsibility (our insurance can&rsquo;t cover it)</li>
      <li>Anti-Social behaviour will be refused service.</li>
      <li>If a key-holder asks you to leave you must skedaddle.</li>
      <li>Internet is priceless (be responsible and respectful. No bit-torrent, no PrOn)</li>
      <li>Respect privacy, confidentiality and safety of people, property and data. </li>
      <li>Cleaning up, watering plants and recycling are house rules (we can&rsquo;t afford a cleaner)</li>
      </ul>
      <h2>Your Needs and Rights</h2>
      <p>Full-Time Participant with 24/7 Space access KeyCode (&pound;125 pcm) [ Yes / No ]</p>
      <p>Part-Time Participant with 2days per week 10am-6pm Space access (&pound;65 pcm) [ Yes / No ]</p>
      <p>Community Participant with monthly opportunities to get involved (&pound;30 pcm) [ Yes / No ]</p>
      <p>Other type of Participant</p>
      <p>&nbsp;</p>
      <p>Will you require Public Liability Insurance and Risk Assessments? [ Yes / No ]</p>
      <p>Will you be using the Space as a postal address? [ Yes / No ]</p>
      <p>Will you be using the Space as a trading address? [ Yes / No ]</p>
      <p>I understand that I am NOT permitted to use the Space as a registered address [ Yes ]</p>
      <p>&nbsp;</p>
      <h1>Terms Of Use &amp; Participation</h1>
      <h2>1. Parties to this Agreement</h2>
      <p>You, the Participant</p>
      <p>Inuda Innovations Ltd (Trading as "The Skiff"). <br /> The registered address is 23 Lowther Road, Brighton, BN1 6LF. Companies House number 05874801.</p>
      <h2>2. Participation Types, Rates and Responsibilities</h2>
      <p>The Space will provide all Participants with the following Services:</p>
      <p>Internet access</p>
      <p>Tea/coffee making facilities</p>
      <p>Use of spaces (subject to availability and fees) &ndash; see booking calendar at: http://bit.ly/coFWDcalendar</p>
      <h2>3. Payment</h2>
      <p>Monthly rates are to be paid in advance via PayPal within 7 days of receipt of the invoice. All invoices are dispatched by the Coworking and Space Management Application: http://coFWD.cobot.me.<br /> All rates are subject to change and Participants will be notified in writing at least 30 days before any change.&nbsp; All rates are inclusive of utilities and commission paid to PayPal for use of their service. </p>
      <h2>4. Renewal</h2>
      <p>This Agreement is a rolling Agreement and automatically renews on a month to month basis unless there is notice to terminate in accordance with this Agreement. </p>
      <h2>5. Use of Services:</h2>
      <p>Participants have the right to use the Services provided in accordance with the type of participation they have agreed to and pay for. Participants are not permitted to use the Space as a registered business address.<br /> Participants are not to use the Space or Internet for illegal or immoral or dangerous activity and are not to become involved in defamation, harassment, pyramid schemes, junk mail, spamming etc.<br /> Participants are to respect the moral code of the community and must not restrict or inhibit others enjoyment of the Space.<br /> All guest including business associate or customers are the responsibility of the Participant.<br /> Participants have a duty of care to each other&hellip; be respectful.&nbsp;</p>
      <h2>6. Loss of Electricity and/or Internet</h2>
      <p>A loss of electricity or Internet services for a continuous or total period of over 5 days during one month will result in a refund of fees paid for that months usage.</p>
      <h2>7. Confidentiality</h2>
      <p>It is noted that Participants may use the Space to undertake personal, private, sensitive or confidential work. All Participants are reminded that this is an open office (participatory space, community workspace etc.) and therefore should not disclose anything of a personal, private, sensitive or confidential nature to third parties. The Space cannot guarantee or ensure confidentiality both in the Space or whilst using the Internet and digital/technological infrastructure of the Space and is not responsible for any breach of confidentiality. The basic rule is, keep it in strict confidence and do not use what you overhear or find out directly or indirectly to the detriment of any other Participant or the Space.</p>
      <h2>8. Keys and Alarm Keycodes</h2>
      <p>Keys will be supplied to Full-Time Participants.<br /> The Space must be notified of any loss of Key immediately and the Participant will be responsible for the cost of providing replacements (including replacements for all other key holders if deemed necessary by The Skiff).<br /> Participants are not allowed to duplicate or have keys cut and must not pass them or the Alarm Keycodes to anyone else. Persistent loss of keys or breach of permitted key use may result in termination of the Agreement. Participants you are reminded that if you do not hold a key for the Space, and are asked by a key holder to vacate the Space (e.g. at the end of the day), then you are to vacate the Space immediately. The last Participant keyholder to vacate the Space is responsible for checking the electrical shut-down of nonessential equipment and any additional safety and security hazards throughout the Space, and then locking up and setting the building alarm(s).</p>
      <h2>9. Emergencies and Safety </h2>
      <p>It is the Participant&rsquo;s responsibility to ensure that they have been given a guided health and safety tour of the fire exits, fire alarms and drill/evacuation procedure and fire meeting point. Any Participant using the buildings basement or vault rooms MUST ensure that another Participants are aware they are &lsquo;down&rsquo; there.<br /> Participants must never block access to extinguishers and they must report any such hazards or damage immediately. In the event of an evacuation, leave the building promptly from the nearest exit, do not stop to pack up computer equipment or other personal items. Regular testing of alarms is the responsibility of all Full-Time Participants. <br /> The Space is equipped with emergency signs, fire extinguishers, first aid kits and risk assessments. The Space received a &lsquo;Certificate of Conformity&rsquo; from Chubb in November 2011, &lsquo;site equipment fully maintained to standard &ndash; service no. 15825&rsquo;. </p>
      <h2>10. Public Liability Insurance </h2>
      <p>Public Liability Insurance for liability within the Space is covered by The Skiff and policy cover <br /> amounts and details are available on request.&nbsp;</p>
      <h2>11.&nbsp; Personal Insurance and Professional Indemnity/Liability </h2>
      <p>The Space has insurance to cover a certain amount of Space facilities owned by the Space itself or The Skiff, however any additional insurance required by the Participant to cover their own property and Professional Indemnity/Liability is their own responsibility and is not provided by The Skiff.</p>
      <h2>12. Personal Property and Storage</h2>
      <p>All Participants are personally responsible for any personal property or property including but not limited to stock, stock in trade, goods in trust or goods belonging to third parties that they bring into the Space. Any loss or damage howsoever occurring is the responsibility of the Participant. All Participants are to be mindful and respectful of others property.</p>
      <h2>13. PAT Testing</h2>
      <p>The Skiff ensures that the Space meets required IEE Electrical Inspection and Certification for fixed points and sockets but all equipment used at the Space must be PAT certified. It is the responsibility of the Participant that any equipment they bring into and use at the Space is PAT certified. </p>
      <h2>14. Software Usage and Licensing</h2>
      <p>Participants are personally responsible for ensuring that any software or programme they use is licensed for any such use and that any usage is within the permitted licence.&nbsp;</p>
      <h2>15. Indemnification/Damages/Losses</h2>
      <p>Participants agree to indemnify the Space against any loss or damage due to any act, omission or negligence on their part and agree to indemnify the Space if any act, omission or negligence results in invalidation of any insurance or any of the insurance company&rsquo;s refusal to pay out on any claim. Participants agree to indemnify the Space for all losses or damage due to any act, omission or negligence by any guests or persons invited to the Space by them.</p>
      <h2>16. Security and Webcam (including: LIVE Video Streaming and CCTV)</h2>
      <p>CCTV (including WebCam) operate in the building and is used for security purposes and may be stored as such. The footage/imagery may also be available online for promotional and community focused purposes. The use of CCTV, live-streamed footage or captured imagery may be disclosed to third parties such as the police for but not limited to the prevention of crime, aiding criminal investigations, protection of Participants, the Space or the business interests of the Space or Participants. </p>
      <h2>17. Post</h2>
      <p>Any post or goods delivered to the Space or documents served at the Space [&ldquo;Post&rdquo;] and addressed to the Participant or the Participants business or related interests are the Participants responsibility. The Space reserves the right to dispose of Post left for longer than one calendar month. The Space reserves the right to refuse to accept delivery of Post on behalf of the Participant. The Participant is responsible for all Post addressed to them or their business or related interests whether they took actual delivery or not.&nbsp; Participants are asked to quickly collect Post. The Space is not responsible for notifying the Participant if any Post arrives for them. The Space is in no way responsible for any loss or damage etc resulting in lost, unaccepted or uncollected Post.&nbsp;</p>
      <h2>18. Pets</h2>
      <p>Whilst we don&rsquo;t want to be spoilsports, we&rsquo;re mindful of allergies and phobias and so ask that pets are kept at home and not bought into the Space without prior Agreement. Guide dogs are permitted.&nbsp;</p>
      <h2>19. Food and Drink </h2>
      <p>Participants are asked to be mindful that this is a community and people focused Space and that consumption of food and drink should be reasonable and not infringe on other Participants enjoyment of the Space. </p>
      <h2>20. Notices</h2>
      <p>Any notice given under this Agreement shall be hand delivered or sent by first class post. Notice shall be deemed served at the time of delivery if hand delivered or two days after posting.&nbsp; &nbsp;</p>
      <h2>21. Termination </h2>
      <p>Any termination by either party to this Agreement shall be given in writing to the Space address or Participant&rsquo;s address and either delivered personally or sent by first class post.<br /> If the Participant wants to terminate the Agreement they are to provide at least 14 days notice of termination.<br /> Any keys or property of the Space or The Skiff are to be returned to the Space within 7 days after effective termination of the Agreement.</p>
      <p>The Skiff may terminate the Agreement for any breach of this Agreement including late payment of sums due by giving 14 days notice of termination in writing to the Participant at their contact address. If The Skiff deem the breach to be serious then termination of the Agreement will take immediate effect and the Participant will be immediately excluded from the Space.&nbsp; &nbsp;</p>
      <h2>22. Change of Contact Details</h2>
      <p>Participants must notify the Space of any change in personal or contact details. If the Participant has used the Space as a postal or trading address then the Participant should change this to an alternative address within two weeks of effective termination of the Agreement by either party.</p>
      <h2>23. Agreement</h2>
      <p>This Agreement shall be governed by and constructed in accordance with the law of England and Wales and each party agrees to submit to the exclusive jurisdiction of the courts of England and Wales.<br /> This Agreement is non transferable and relates only to the named Participant, no sub-letting is permitted.<br /> This Agreement does not create a tenancy or partnership or an employee/employer relationship.<br /> The commencement date of this Agreement is the date of signature by both parties.&nbsp;</p>
      <h2><br /> I have read all of the above Terms of Use and the Agreement as a whole and confirm that I have been provided with a copy of the same and I agree to all the terms contained therein.&nbsp;</h2>
      <p><br /> </p>
      <p>Signature:&nbsp; &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</p>
      <p>Full Name:</p>
      <p>Date:</p>
      <p>Address:</p>
      <p>Telephone Number(s):</p>
      <p>Email address:</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>Signature:&nbsp; &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</p>
      <p>Name: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; on behalf of and with the permission of The Skiff</p>
      <p>Date:</p>
    </div>
  </div>
</div>