---
title: at The Skiff in Brighton
sitemap_priority: 0.5
description: 
image: /images/.jpg

member:
  first_name: Cath
  last_name: Lloyd
  title: An animator who helps TV and film producers to create broadcast and cinema quality animations. 
  subtitle: Cath has 20 years experience working with some of the most respected businesses in the entertainment industry including the BBC and Warner Bros.
  they: she
  them: her
  their: her
  image: /images/cath-lloyd.jpg
  twitter: 
  website: http://www.lloydfilms.com


---

<% content_for :q_and_a do %>
  <h3>1. How did you get into doing what you do?</h3>

  <p class="lead">
    At 17, I did some work experience at TVC (the people who made The Snowman). Everyone was sitting round painting cels and eating biscuits and I thought "this is the life for me". 
  </p>

  <h3>2. What are you working on this week?</h3>

  <p class="lead">
    I am working on a CBBC preschool show called School of Roars, (by Dot to Dot Productions) about 5 little monsters who go to school. It has some great voices: Kathy Burke, Andrew Scott and Sarah Lancashire. Its very funny and sweet, the director's wife is a teacher, so I think she is giving him lots of ideas!
  </p>

  <h3>3. Who are your favourite clients?</h3>

  <p class="lead">
    I like working for funny shows, my favourite job was called 2DTV (made by Triffic Films). It was Saturday night ITV comedy sketch show featuring all manner of people from public life at the time, Blair, Bush, Saddam Hussein, the Beckhams, and of course the Royal Family. The voices were done by Jon Culshaw and Jan Ravens (who now do Radio 4's Dead Ringers).  The caricaturist was ex-Spitting Image and he was a modest genius. It was fast and furious and great fun to do. 
  </p>

  <h3>4. What kind of work did they hire you to do?</h3>

  <p class="lead">
    I was using Celaction ( a bespoke 2D program which is quite widely used). We also used Flash and Illustrator to make up loads of characters every week. This was sometimes just sticking a new head on an already made body. The animation was quite a fast turnaround and was sometimes a bit basic. But the voices, caricatures and the jokes really lifted it up.
  </p>


  <h3>5. Why did they choose you over anyone else?</h3>

  <p class="lead">
    At that time I was one of the original team who used Celaction (I started with Astley Baker who now do Peppa Pig) .We just used to go from job to job as a team. My friends got hired so I guess they recommended me. But actually it comes down to the showreel, and your ability to work with others. I'm still working with some of these people now. You can't really fake it in animation, if you're not suited to the job, you don't get hired again.
  </p>

  <h3>6. What advice would you give to someone trying to choose someone like you to work with?</h3>

  <p class="lead">
    Look at their showreel; see if they are best suited to your format (eg feature vs series vs web etc); find out if they can meet deadlines!
  </p>

  <h3>7. What do you like to do with your time when you’re not working?</h3>

  <p class="lead">
    I like to make jewellery and muck about with my kids.
  </p>

  <h3>8. Why did you decide to join The Skiff?</h3>

  <p class="lead">
    I was working from home, and sometimes upstairs all day in the Jubilee library.
  </p> 

  <h3>9. What advice would you give a new Skiff Mate?</h3>


  <p class="lead">
    I would say be a bit social (which I took a while to do).
  </p> 

  <h3>10. What would you like a fellow Skiff Mate to ask you about?</h3>

  <p class="lead">
    Art.
  </p>
<% end %>

<%= partial "members/profile"  %>
