---
title: Jack Garfinkel at The Skiff in Brighton
sitemap_priority: 0.5
description: A content designer at Scope, a charity that supports disabled people and their families.
  subtitle: Jack cares about making content that helps people and is accessible.
image: /images/jack-garfinkel.jpg

member:
  first_name: Jack
  last_name: Garfinkel
  title: A content designer at Scope, a charity that supports disabled people and their families.
  subtitle: Jack cares about making content that helps people and is accessible. They use data to find out what content to make to help achieve a society where all disabled people enjoy equality and fairness.
  they: they
  them: them
  their: their
  image: /images/jack-garfinkel.jpg
  twitter: CuriousScutter
  website: https://www.scope.org.uk


---

<% content_for :q_and_a do %>
  <h3>1. How did you become a content designer?</h3>

  <p class="lead">
   I was working as a web person in a charity – some editing, content management and some front-end development.
  </p>
  <p class="lead">
    The team was great, and some of the work was interesting but we were all keen to find the best way to do things.
  </p>
  <p class="lead">
    Then, the Government Digital Service (GDS) was up and coming. We were always looking for ways to use user research and testing to make our content better, so we tried to be like them.
  </p>
  <p class="lead">
    Often there wasn’t enough time or budget to do things ‘properly’ so, we did the best we could with what we had. I did a short UX design course. I learned how to do some user research, prototyping, testing and get the most from web analytics.
  </p>
  <p class="lead">
    I knew I was going to move to Brighton for my wife’s job eventually. Shortly before, the content designer job came up at Scope. It was just a six-month contract to start with, but I was going to have to leave anyway. It was a great chance to do things the right way!
  </p>

  <h3>2. What are you writing this week?</h3>

  <p class="lead">
    On how to claim Attendance Allowance. I think we’ve done a good job of covering a lot in an accessible way. I’m looking forward to getting the piece back from user testing!
  </p>

  <h3>3. Tell me more about your employer, why did you decide to work for them?</h3>

  <p class="lead">
    Scope is a charity that supports disabled people and their families. We work to achieve a society where all disabled people enjoy equality and fairness.
  </p>
  <p class="lead">
    It’s a chance to do meaningful work, a place where content work and social justice overlap.
  </p>
  <p class="lead">
    We use data to find out what content we should make, test it to come up with better versions. We’re so lucky to have two full time user researchers on our team
  </p>

  <h3>4. What kind of content design work did they hire you to do?</h3>

  <p class="lead">
    To start with, we focused on employment, how to find work and progress. I worked closely with the advisers working on in <a href="https://www.scope.org.uk/employment-services/">our employment services</a>. They’re wonderful – so kind and supportive.
  </p>


  <h3>5. Why did they choose you to help them with their writing over anyone else?</h3>

  <p class="lead">
    Because I cared about trying to make content that helped people, I understood how to make content accessible. And I was keen to try new things!
  </p>

  <h3>6. What advice would you give to someone trying to choose a content designer to work with?</h3>

  <p class="lead">
    Ask them:
  </p>
  <ul class="lead">
  <li>When they’ve had to respond to challenging feedback</li>

  <li>How their writing has changed over the last two years</li>

  <li>If they know a good user researcher</li>
  </ul>

  <h3>7. What do you like to do with your time when you’re not designing content?</h3>

  <p class="lead">
    Play with my daughter, write and sew. I also train Brazilian Jiu Jitsu at the <a href="https://www.facebook.com/brightonbjjschool">Brighton BJJ School</a>.
  </p>

  <h3>8. Why did you decide to join The Skiff?</h3>

  <p class="lead">
    It looked nice online, and someone replied to my tweet saying it was nice and that people would talk to me! That meant a lot when I was moving to a new city.
  </p> 

  <h3>9. What advice would you give a new Skiffmate?</h3>


  <p class="lead">
    Turn up to things and talk to people. We're there because we don't want to be at home on our own!
  </p> 

  <h3>10. What would you like a fellow Skiffmate to ask you about?</h3>

  <p class="lead">
    Accessibility, the joys (and challenges!) of parenting, computer games from the 80s and 90s, Carole King, Arnold Schwarzenegger or Carly Rae Jepsen.
  </p>
<% end %>

<%= partial "members/profile"  %>
