---
title: Sponsored Memberships
sitemap_noindex: true
sitemap_priority: 0.8
---

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 my-5 mx-auto">
      <h1>The Skiff’s Inclusivity Membership Programme</h1>
      <p>
      <em>This page outlines The Skiff's inclusivity membership programme. It's entirely possible that this does not apply to you, but you still have an important role to play - please pass on the message to <strong>help seek those out who can make use of free or reduced membership to The Skiff.</strong></em>
    </p>
      <p>
        <a class='btn btn-success btn-block text-white' href="https://forms.reform.app/ICMurR/sponsored-membership">
          Apply Now
        </a>
      </p>
      <h2>Many people close to The Skiff are struggling right now.</h2>
      <p>
For some, their businesses haven’t yet recovered from the effects of the pandemic. Others aren’t being supported by their employers to make working from home sustainable. And too many, particularly from groups under-represented in tech, are missing out on getting to know people who work the way we work. This includes (but is not limited to): people of colour, LGBTQIA+ people, women and people with disabilities.
      </p>
      <p>
        Fewer real world meet-ups mean the people who are struggling are all far less visible too.
      </p>
      <p>
        But we know they’re there.
      </p>
      <p>
        We regularly heard from people in difficulty before the pandemic. Some current members and prospective members found the cost of membership a barrier. And it’s always been difficult for people early in their careers to find freelance work or get jobs in small businesses when they're inexperienced.
      </p>
      <p>
        For many, things are even worse now.
      </p>
      <h2>
        When you’re in financial difficulty, loneliness and isolation won’t help.
      </h2>
      <p>
        Being around the right people can make a huge difference. You might directly find some work from them. Or, more likely, learn from them how to find the right work for you.
      </p>
      <p>
        The Skiff’s helped hundreds of people to build the relationships they need - they gained that sense of belonging that's so difficult to find when working alone.
      </p>
      <p>
        Over 100 of us are feeling very fortunate that The Skiff is still here for us today.
      </p>
      <p>
        We have members whose businesses have thrived over the last 18 months. And others, whose income has been unaffected. Many of them have made extra contributions to The Skiff to keep us going.
      </p>
      <p>
        Now we want to help more people who have been less fortunate.
      </p>
      <h2>
        We’ve launched a sponsored membership programme.
      </h2>
      <p>
        We’ll provide free and heavily reduced memberships to people who need it for three months at a time. It’s for anyone who feels the cost of membership is a barrier to them starting Coworking or using The Skiff more. But we’ll be prioritising memberships for people from groups under-represented in tech.
      </p>
      <p>
        So far it’s been entirely funded by current members of The Skiff.
      </p>
      <h2>
        If you know anyone who could benefit from this please ask them to fill out this form:
      </h2>
      <p>
        <a class='btn btn-success btn-block text-white' href="https://forms.reform.app/ICMurR/sponsored-membership">
          Apply Now
        </a>
      </p>
      <p>
        All applications are treated confidentially, only Jonathan and Anna Markwell will view them. We will not publicly announce who the sponsored memberships go to (though participants are welcome to say so themselves). We'll review applications each month and notify everyone who applies of the outcome of their application.
      </p>
      <p>
        Our goal is for 10% of the people at the Skiff each day (2 to 3 out of 20 to 30) to be there with the support of this programme.
      </p>
      <p>
        Please spread the word.
        <a href="https://twitter.com/theskiff/status/1460911471538409479">Maybe by sharing this thread on Twitter.</a>
      </p>
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Many people close to The Skiff are struggling right now.<br><br>It pains us when we hear them say:<br>&quot;I can&#39;t afford to use a Coworking space...&quot;<br><br>Here&#39;s why it matters and what we&#39;re doing about it 👇</p>&mdash; The Skiff (@theskiff) <a href="https://twitter.com/theskiff/status/1460911471538409479?ref_src=twsrc%5Etfw">November 17, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
      <p>
        This programme is heavily inspired by the scholarships programme run by Remy and Julie Sharp for the brilliant <a href="https://ffconf.org/">ffconf</a>. Sadly it's one of many valuable community events that's been unable to run for the last two years.
      </p>
      <p>
        If you'd like to help support this programme financially, look out for more information soon.
      </p>

    </div>
  </div>
</div>