---
title: Andy Mattock at The Skiff in Brighton
sitemap_priority: 0.5
description: An experienced graphic and web designer who combines creativity with technical know-how.
image: /images/andy-mattock.jpg

member:
  first_name: Andy
  last_name: Mattock
  title: An experienced graphic and web designer who combines creativity with technical know-how.
  subtitle: Andy's recent projects have included content-managed websites, brand identities, promotional and fundraising materials. Clients have ranged from start-ups and SMOs in Brighton to national charities and organisations.
  they: he
  them: him
  their: his
  image: /images/andy-mattock.jpg
  twitter: brightsitedes
  website: https://brightweb.design/


---

<% content_for :q_and_a do %>
  <h3>1. How did you get into becoming a graphic designer?</h3>

  <p class="lead">
    An interest in graphic design started for me in School. 
    I had an art teacher who was also a Graphic Designer and created design projects for us within our art classes.
    From there I did art A level, foundation course, a graphic design degree and then straight into employment as a junior designer.
  </p>
  <p class="lead">
    I rather landed on my feet with my first job as it was for a small agency in Cardiff who specialised in providing design for the cities art establishments and organisations.
    This meant working with some interesting source material and designing for the independent cinema, galleries and dance and drama groups.
  </p>
  <p class="lead">
    After this I moved to London, working in several agencies before staring out on my own in 2002.
  </p>

  <h3>2. What are you designing this week?</h3>

  <p class="lead">
    I recently completed an identity and website design for a wigs and makeup start up.
    The company was set up by two wigs and makeup specialists who’ve had many years experience working in major theatrical and musical productions.
  </p>
  <p class="lead">
    They felt there was a gap in the market for part-time training and have hired a London studio to provide this expertise.
    They needed a logo, stationery, promotional postcards and a website. 
  </p>
  <p class="lead">
    As they were a start up there was no brand to build on and together with a briefing from the client and questions from myself I was able to go through an initial design process, developing their brand over several stages.
    Once the brand was agreed I began building on this creating a Wordpress website and promotional materials.
  </p>

  <h3>3. Who are your favourite clients?</h3>

  <p class="lead">
    I have a variety of clients but they are mostly drawn from London-based charities and local individuals and small businesses.
  </p>
  <p class="lead">
    I’ve really enjoyed working with the charity Living Streets over the last six years. They’re a charity that promotes the benefits of walking and campaign at local level including a ‘Walk to School’ campaign.
    Other clients I’ve enjoyed working with recently are the charities Diabetes UK, The Learning and Work Institute and Rwanda Aid. 
  </p>
  <p class="lead">
    I’ve also created a friend’s English to French Translation website (Naked Translations) and a designed and built a website for a local charity (The Circus Project).
  </p>

  <h3>4. What kind of graphics did they hire you to do?</h3>

  <p class="lead">
    With Living Streets, I’ve worked on projects such as their school learning resources, a Living Streets magazine, fundraising materials and infographics.
  </p>
  <p class="lead">
    With Diabetes I’ve been working on their ‘Good Care in School’ campaign. This has involved a large array of various materials including information leaflets, press adverts and web page templates.
  </p>
  <p class="lead">
    I’m finding myself more and more involved in creating both print and digital design solutions. As such I’ve been more frequently involved in web design (predominantly using Wordpress).
  </p>
  <p class="lead">
    I feel my graphic design background, coupled with technical knowledge developed through working as an individual for over 14 years, gives me the ability to create attractive, technically competent website solutions.
  </p>

  <p class="lead">
    For print based design projects I will use a combination of Adobe InDesign, Illustrator and Photoshop.
    The combination or exclusive use of these tools depends on the job. For example, the base of a brochure would be put together in InDesign, for a logo design I’d use Illustrator and for photo editing or manipulation I’d use Photoshop.
  </p>
  <p class="lead">
    For web design I’m using Wordpress as the core, customising modern, responsive templates supplemented by design elements created or edited in Photoshop.
  </p>

  <h3>5. Why did they choose you to do the design over anyone else?</h3>

  <p class="lead">
    Over six years of working with Living Streets I’ve built up a good relationship. I understand their brand guidelines and overarching principles.
  </p>
  <p class="lead">
    As a charity, they’ve obviously got pressures on their budget and know they can receive reliable and impactful design from me structured to their project budgets.
  </p>
  <p class="lead">
    With clients I’ve not previously worked with I’ve been able to evidence a good range of samples from brand and brochure design to website design and development.
  </p>

  <h3>6. What advice would you give to someone trying to choose a graphic designer to work with?</h3>

  <p class="lead">
    Try to find someone who has skills matched to your requirements and can evidence this with samples or a portfolio.
    Ideally, you should write a brief for the designer so any questions you or they might have can be explored before the project begins.
  </p>
  <p class="lead">
    Obviously you also need to find someone who can work within your budget, so this should also be made clear at the outset.
  </p>

  <h3>7. What do you like to do with your time when you’re not designing?</h3>

  <p class="lead">
    Weekends tends to be time spent with my family as my Wife and I have two kids aged 10 and 12. So cycling, cinema trips and visits to the park are the norm.
  </p>
  <p class="lead">
    When I get time I enjoy cycling off road, mostly on the South Downs.
  </p>

  <h3>8. Why did you decide to join The Skiff?</h3>

  <p class="lead">
    Since moving to Brighton in 2004 I’ve worked in several co-working spaces. The Skiff though seems unique in offering a more inclusive and collaborative experience.
  </p>
  <p class="lead">
    You can be as involved as you like with what’s going on, both in terms of events and/or conversation, and cooperation.
  </p>
  <p class="lead">
    When I first looked to move to the Skiff the 2.5 days plan was perfect for me as I was sharing child-care with my wife and I was able to partly work from home and partly escape to the office!
  </p> 

  <h3>9. What advice would you give a new Skiffmate?</h3>


  <p class="lead">
    If a new Skiffmate wanted to reach out to other Skiffmates I’d advise introducing yourself on one of the online channels (GroupBuzz or Slack).
  </p>
  <p class="lead">
    It’s a good way for other Skiffmates to put a face to a name and, if you were interested in collaborative working, for other people to find out what you do.
  </p>
  <p class="lead">
    I’d probably have been a bit more proactive using these when I first joined.
  </p> 

  <h3>10. What would you like a fellow Skiffmate to ask you about?</h3>

  <p class="lead">
    I rode the BHF London-Brighton off-road event last September and am planning a few more organised events for the coming year (when it warms up!)
  </p>
<% end %>

<%= partial "members/profile"  %>
